extends ../template

block head
    - var title = 'India Casino';

block header
    include ../pages/Header
    
block content
    include ../pages/BuildIndex

block footer
    include ../pages/Footer