block head

doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title #{title}
        meta(content="width=device-width, initial-scale=1" name="viewport")
        link(rel="shortcut icon" href="img/favicon.png" type="image/x-icon")
        link(rel='stylesheet', href='css/main.css')
        
    body
        block header
        block content
        block footer
        script(src="//cdn.jsdelivr.net/npm/details-polyfill@1/index.min.js" async="")
        script(src='js/main.js')