html
	height: 100%

body
	margin: 0
	height: 100%

*
	box-sizing: border-box

ul
	list-style: none

a
	text-decoration: none

ul, li, p, h1, h2, h3
	padding: 0
	margin: 0

=placeholder
	&::-webkit-input-placeholder
		@content
	&:-moz-placeholder
		@content
	&::-moz-placeholder
		@content
	&:-ms-input-placeholder
		@content
