@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy/Gilroy-SemiBold.woff);
}
@font-face {
  font-family: "Otomarine";
  src: url(../fonts/Otomarine/Otomarine.woff);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

body {
  font-family: Gilroy-Medium, sans-serif;
  -webkit-tap-highlight-color: transparent;
  height: auto;
  overflow-x: hidden;
  overscroll-behavior: none;
  width: 100vw;
}
body img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
}

.content-center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.3s linear;
  display: inline-block;
  border-radius: 2px;
}

.box-shadow {
  box-shadow: 0 4px 20px rgba(228, 228, 228, 0.5);
}

.green-btn {
  background-color: #149E4C;
}
.green-btn:hover {
  background-color: #149448;
}

.grey-btn {
  background-color: #353535;
}
.grey-btn:hover {
  background-color: #303030;
}

.border-btn {
  color: #149E4C;
  border: 1px solid #ebebeb;
}
.border-btn:hover {
  border-color: #149E4C;
}

.title-1 {
  font-size: 40px;
  line-height: 45px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
  text-align: center;
  letter-spacing: -0.02em;
}

.title-2,
.title-2-oto {
  font-size: 28px;
  line-height: 32px;
  color: #050A0A;
  margin-bottom: 12px;
}

.title-2-oto {
  margin-bottom: 9px;
  font-family: Otomarine, sans-serif;
  letter-spacing: -0.02em;
}

.title-3 {
  font-size: 20px;
  line-height: 25px;
  color: #050A0A;
  margin-bottom: 13px;
}

.main-subtitle {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  width: 50%;
  text-align: center;
  margin: 12px auto 0;
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.about-text {
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  text-align: left;
  letter-spacing: 0.003em;
  font-family: Gilroy-Regular, sans-serif;
}
.about-text__text {
  margin-bottom: 22px;
}
.about-text__list li {
  list-style-type: disc;
  list-style-position: inside;
}

.star {
  margin-right: 4px;
  mask-image: url("../img/star.svg");
  mask-size: contain;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.1);
}
.star:last-child {
  margin-right: 0;
}

.form-subscribe input[type=email] {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 18px 20px 15px;
  color: #363636;
  margin-right: 16px;
  height: 46px;
  width: 76.5%;
}
.form-subscribe .privacy {
  margin-top: 31px;
  display: block;
  font-size: 12px;
  color: #7f7f7f;
}
.form-subscribe .privacy a {
  color: #FFFFFF;
}
.form-subscribe .privacy a:hover {
  text-decoration: underline;
}

input[type=search i]::-webkit-search-cancel-button {
  display: none !important;
}

.header__author,
.footer__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.75px solid #EBEBEB;
  background: #FBFBFB;
  height: 44px;
  padding: 0 13px 0 16px;
  border-radius: 4px;
}
.header__author-title,
.footer__author-title {
  color: #8b8b8b;
  font-size: 12px;
  margin-right: 14px;
}
.header__author-photo,
.footer__author-photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 9px;
}
.header__author-name,
.footer__author-name {
  color: #050A0A;
  font-size: 14px;
}
.header__author-info,
.footer__author-info {
  mask-image: url("../img/info-icon.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background: #BFBFBF;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: 14px;
}

input[type=search],
input[type=email] {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-appearance: none !important;
}
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}

.header {
  background: #FFFFFF;
  padding-top: 13px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header > .content-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 115px;
  height: 41px;
}
.header__form-search {
  position: relative;
  width: 60.7%;
  margin-left: auto;
}
.header__form-search input[type=search] {
  background: #FAFAFA;
  border: 0.75px solid #F1F1F1;
  padding: 15px 50px 13px 20px;
  height: 44px;
}
.header__form-search .btn-submit {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 15px;
  height: 15px;
  mask-image: url("../img/search-icon.svg");
  background-color: #050A0A;
  padding: 0;
  border: none;
  cursor: pointer;
}
.header__author {
  margin-left: 25px;
}
.header__subheader {
  background: #262626;
  margin-top: 13px;
}
.header__subheader-menu {
  height: 60px;
  margin: 0 -16px;
  display: flex;
}
.header__subheader-menu li {
  margin-right: 15px;
  height: 100%;
  flex-shrink: 0;
}
.header__subheader-menu li:last-child {
  margin-right: 0;
}
.header__subheader-menu li:hover .submenu {
  opacity: 1;
  visibility: visible;
}
.header__subheader-menu li a {
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 3px 16px 0;
}
.header__subheader-menu li a:hover {
  background: #3A3A3A;
}
.header__subheader-menu li .submenu {
  width: 100%;
  background: #262626;
  border-radius: 0 0 4px 4px;
  transition: 0.2s linear;
  opacity: 0;
  visibility: hidden;
  position: relative;
  z-index: 3;
}
.header__subheader-menu li .submenu li {
  margin-right: 0;
}
.header__subheader-menu li .submenu li a {
  font-size: 16px;
  color: #FFFFFF;
  padding: 12px 16px 8px;
}
.header__subheader-menu li .submenu li a:hover {
  background: #3A3A3A;
}
.header__subheader-menu .dropdown-icon > a:after {
  content: "";
  mask-image: url("../img/arrow-down.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background: #FFFFFF;
  display: inline-block;
  width: 9px;
  height: 5px;
  margin-left: 11px;
  vertical-align: middle;
}
.header__burger-menu {
  margin-left: 15px;
  display: none;
}

.header.open .burger-toggle span {
  background-color: transparent;
}
.header.open .burger-toggle span:before {
  transform: rotate(45deg) translate3d(0, 0px, 0);
}
.header.open .burger-toggle span:after {
  transform: rotate(-45deg) translate3d(0, 0px, 0);
}
.header.open + .mob-menu {
  transform: translate3d(0, 0, 0);
}

.burger-toggle span {
  width: 14px;
  position: relative;
  transition: background-color 0.3s ease;
  display: block;
  height: 2px;
  background-color: #1C1C1C;
  border-radius: 1px;
}
.burger-toggle span:before, .burger-toggle span:after {
  content: "";
  display: block;
  height: 2px;
  background-color: #1C1C1C;
  border-radius: 1px;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.burger-toggle span:before {
  transform: rotate(0deg) translate3d(0, 4px, 0);
}
.burger-toggle span:after {
  transform: rotate(0deg) translate3d(0, -4px, 0);
}

.mob-menu {
  position: absolute;
  left: 0;
  top: 50px;
  margin: auto;
  bottom: 0;
  right: 0;
  z-index: 20;
  background: #FFFFFF;
  transform: translate3d(100vw, 0, 0);
  transition: transform 0.3s ease;
  width: 100vw;
  overflow-x: hidden;
}

.mob-menu__nav {
  margin: auto;
  max-width: 500px;
  padding: 20px 16px;
}

.mob-menu__item, .mob-menu__dropdown__top {
  color: #1C1C1C;
  height: 71px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.mob-menu__item > span, .mob-menu__dropdown__top > span {
  display: inline-block;
  margin-left: 1rem;
  font-size: 0.875rem;
}

.mob-menu__item ~ .mob-menu__item, .mob-menu__dropdown__top ~ .mob-menu__item {
  border-top: 1px solid #E9E9E9;
}

.mob-menu__item.--dropdown.open + .mob-menu__dropdown {
  transform: translate3d(0, 0, 0);
}

.mob-menu-arrow {
  margin-left: auto;
}

.mob-menu__dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translate3d(100vw, 0, 0);
  transition: transform 0.3s ease;
  background: #fff;
}

.banner {
  background: #fef3e2;
  padding: 74px 0 73px;
  position: relative;
}
.banner .content-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.banner__left {
  width: 370px;
  margin-top: 5px;
}
.banner__left-title {
  font-family: Otomarine, sans-serif;
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  letter-spacing: -0.01em;
}
.banner__left-txt {
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  margin-top: 18px;
  width: 88%;
  opacity: 0.8;
}
.banner__left-btn {
  margin-top: 40px;
  padding: 16px 43px 13px;
}
.banner__topCasino {
  width: 377px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 0 14px;
}
.banner__topCasino-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 17px;
  border-bottom: 1px solid #ebebeb;
}
.banner__topCasino-item:last-child {
  border-bottom: none;
}
.banner__topCasino-img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.banner__topCasino-name-title {
  font-size: 12px;
  color: #8b8b8b;
}
.banner__topCasino-name-subtitle {
  font-size: 14px;
  color: #050A0A;
  margin-top: 5px;
}
.banner__topCasino-btn {
  margin-left: auto;
  font-size: 12px;
  padding: 9px 18px 6px;
}
.banner__img {
  background: url("../img/banner-img.png") no-repeat 0 0/contain;
  width: 518px;
  height: 398px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateX(20px);
}

.top-casino__info,
.newest-casinos__info,
.newest-slots__info,
.promotions__info,
.how__top__info {
  display: none;
}
.top-casino .toggle-list,
.newest-casinos .toggle-list,
.newest-slots .toggle-list,
.promotions .toggle-list,
.how__top .toggle-list {
  display: block;
}

.top-casino {
  text-align: center;
  padding: 83px 0 80px;
}
.top-casino__filter {
  margin-top: 39px;
  position: relative;
}
.top-casino__filter .top-casino__filter-wrap::-webkit-scrollbar {
  display: none;
}
.top-casino__filter-wrap {
  overflow-x: scroll;
  position: relative;
  width: calc(100% - 80px);
}
.top-casino__filter-btns {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-shadow: -20px 10px 10px rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-casino__filter-btns .left-btn,
.top-casino__filter-btns .right-btn {
  mask-image: url("../img/arrow-right.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 9px;
  height: 13px;
  cursor: pointer;
}
.top-casino__filter-btns .left-btn {
  transform: rotate(180deg);
  background-color: #C8C8C8;
  margin-right: 33px;
}
.top-casino__filter-btns .right-btn {
  background-color: #050A0A;
}
.top-casino__filter-list {
  width: max-content;
  display: flex;
}
.top-casino__filter-item {
  font-size: 14px;
  color: #8b8b8b;
  border: 1px solid #E9E9E9;
  border-radius: 100px;
  padding: 12px 16px 9px;
  margin-right: 8px;
  cursor: pointer;
  letter-spacing: -0.015em;
}
.top-casino__filter-item:last-child {
  margin-right: 0;
}
.top-casino__filter-item:hover {
  background: #F7FBF9;
  color: #149E4C;
  border-color: #149E4C;
}
.top-casino__filter .active {
  background: #F7FBF9;
  color: #149E4C;
  border-color: #149E4C;
}
.top-casino__filter .filter-icon:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin: -3px 10px 0 0;
}
.top-casino__filter .filter-new:before {
  background: url("../img/new-icon.png") no-repeat 0 0/contain;
}
.top-casino__filter .filter-checked:before {
  background: url("../img/checked-icon.png") no-repeat 0 0/contain;
}
.top-casino__filter .filter-licenced:before {
  background: url("../img/licensed-icon.png") no-repeat 0 0/contain;
}
.top-casino__head {
  display: flex;
  padding: 32px 0 22px 40px;
  text-align: left;
}
.top-casino__head-item {
  font-family: Gilroy-SemiBold, sans-serif;
  font-size: 12px;
  color: #8b8b8b;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.top-casino__head-item:nth-child(1) {
  width: 328px;
}
.top-casino__head-item:nth-child(2) {
  width: 299px;
}
.top-casino__list {
  text-align: left;
  padding: 0 39px;
}
.top-casino__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #ebebeb;
}
.top-casino__list .top-first {
  background: #f8f8f8;
}
.top-casino__list .top-first .top-casino__name-icons-cup {
  background: #FFB933;
}
.top-casino__list .top-second {
  background: rgba(248, 248, 248, 0.6);
}
.top-casino__list .top-second .top-casino__name-icons-cup {
  background: #B6B6B6;
}
.top-casino__list .top-third {
  background: rgba(248, 248, 248, 0.2);
}
.top-casino__list .top-third .top-casino__name-icons-cup {
  background: #AB6C64;
}
.top-casino__list .top-first,
.top-casino__list .top-second,
.top-casino__list .top-third {
  margin: 0 -40px;
  padding: 25px 40px;
}
.top-casino__name {
  display: flex;
  align-items: center;
  width: 287px;
  max-width: 287px;
}
.top-casino__name-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.top-casino__name-wrap {
  margin-left: 21px;
}
.top-casino__name-title {
  font-size: 20px;
  line-height: 20px;
  color: #050A0A;
  letter-spacing: -0.02em;
}
.top-casino__name-icons {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.top-casino__name-icons-cup {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.top-casino__name-icons-cup:before {
  content: "";
  background: url("../img/cup.svg") no-repeat 0 0/contain;
  width: 8px;
  height: 8px;
}
.top-casino__name-icons-country {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 18px;
}
.top-casino__name-icons .country-in {
  background: url("../img/country-in.svg") no-repeat 0 0/contain;
}
.top-casino__name-icons .country-ua {
  background: url("../img/country-ua.svg") no-repeat 0 0/contain;
}
.top-casino__name-icons .country-fr {
  background: url("../img/country-fr.svg") no-repeat 0 0/contain;
}
.top-casino__name-icons .country-ge {
  background: url("../img/country-gr.svg") no-repeat 0 0/contain;
}
.top-casino__name-icons-rate {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 3px;
}
.top-casino__name-icons-rate:before {
  content: "";
  mask-image: url("../img/star.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: #FFB933;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  margin: -1px 8px 0 0;
}
.top-casino__name-icons .no-rating:before {
  background-color: #BFBFBF;
}
.top-casino__name-icons-labelMob {
  display: none;
}
.top-casino__bonus {
  width: 255px;
}
.top-casino__bonus p {
  font-size: 18px;
  color: #050A0A;
}
.top-casino__bonus p + p {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 7px;
}
.top-casino__bonus-mob {
  display: none;
}
.top-casino__bonus-mob p {
  font-size: 14px;
  line-height: 16px;
}
.top-casino__bonus-mob p + p {
  font-size: 12px;
  line-height: 14px;
}
.top-casino .bonus-na .top-casino__bonus-desk p {
  font-size: 18px;
  line-height: 23px;
  color: #8b8b8b;
}
.top-casino .bonus-na .top-casino__bonus-desk p + p {
  display: none;
}
.top-casino .bonus-na .top-casino__bonus-mob p {
  font-size: 14px;
  line-height: 16px;
  color: #8b8b8b;
}
.top-casino .bonus-na .top-casino__bonus-mob p + p {
  display: none;
}
.top-casino .best-mobile {
  background: url("../img/award_best-mobile.svg") no-repeat 0 0/contain;
}
.top-casino .bitcoin {
  background: url("../img/award_bitcoin.svg") no-repeat 0 0/contain;
}
.top-casino .users-choice {
  background: url("../img/award_users-choice.svg") no-repeat 0 0/contain;
}
.top-casino .lot-of-games {
  background: url("../img/award_lot-games.svg") no-repeat 0 0/contain;
}
.top-casino .best-new {
  background: url("../img/award_best-new.svg") no-repeat 0 0/contain;
}
.top-casino__label {
  display: flex;
  align-items: center;
  max-width: 160px;
  width: 160px;
}
.top-casino__label-icon {
  width: 35px;
  height: 35px;
}
.top-casino__label-text {
  margin-left: 17px;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
}
.top-casino .no-awards .top-casino__label-text {
  margin-left: 0;
}
.top-casino__buttons {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.top-casino__buttons-review {
  padding: 13px 40px 10px;
  margin-right: 19px;
}
.top-casino__buttons-play {
  padding: 14px 30px 11px;
}
.top-casino__more-btn {
  width: 100%;
  margin-top: 50px;
  border-radius: 2px;
  padding: 16px 80px 13px;
  cursor: pointer;
}
.top-casino__about-text {
  margin-top: 82px;
}

.quick-navigation__wrap {
  background: #f8f8f8;
  padding: 83px 0 60px;
}
.quick-navigation__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 45px;
}
.quick-navigation__list-item {
  width: 24%;
  background: #FFFFFF;
  padding: 23px 30px 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
  transition: box-shadow 0.2s linear;
}
.quick-navigation__list-item:hover {
  box-shadow: 0 4px 40px #e4e4e4;
}
.quick-navigation__list-wrap {
  display: flex;
  align-items: center;
}
.quick-navigation__list-img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.quick-navigation__list-txt-title {
  font-size: 18px;
  line-height: 18px;
  color: #050A0A;
  letter-spacing: -0.02em;
}
.quick-navigation__list-txt-description {
  margin-top: 7px;
  font-family: Gilroy-Regular, sans-serif;
  color: #8b8b8b;
  font-size: 14px;
}
.quick-navigation__list-btn {
  margin-top: 18px;
  width: 100%;
  padding: 13px 0 10px;
  border-radius: 3px;
  text-align: center;
}
.quick-navigation__txt {
  padding: 82px 0 57px;
}

.newest-casinos {
  text-align: center;
}
.newest-casinos__wrap {
  background: #f8f8f8;
  padding: 83px 0 80px;
}
.newest-casinos__title {
  margin-top: 0;
}
.newest-casinos__subtitle {
  width: 60%;
}
.newest-casinos__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  text-align: left;
}
.newest-casinos__list-item {
  width: 24%;
  min-height: 279px;
  background: #FFFFFF;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  outline: none;
  border-radius: 6px;
  padding: 20px 30px 20px;
  overflow: hidden;
  transition: box-shadow 0.2s linear;
  margin-right: 15px;
}
.newest-casinos__list-item:nth-child(4n) {
  margin-right: 0;
}
.newest-casinos__list-item:hover {
  box-shadow: 0 4px 40px #e4e4e4;
}
.newest-casinos__list-item .info-btn {
  width: 20px;
  height: 20px;
  mask-image: url("../img/info-icon.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  background-color: #ebebeb;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: background-color 0.3s linear;
}
.newest-casinos__list-item .info-btn:hover {
  background-color: #050A0A;
}
.newest-casinos__list-item .info-popup {
  background: #FFFFFF;
  padding: 4px 15px;
  position: absolute;
  top: 45px;
  right: 15px;
  z-index: 1;
  box-shadow: 0 4px 20px rgba(228, 228, 228, 0.5);
  width: 222px;
  transform: translateY(240px);
  opacity: 0;
  transition: transform 0.4s linear, opacity 0.4s linear;
}
.newest-casinos__list-item .info-popup__list-item {
  border-bottom: 1px solid #F6F6F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px;
}
.newest-casinos__list-item .info-popup__list-item:last-child {
  border-bottom: 0;
}
.newest-casinos__list-item .info-popup__list-item .left-side {
  font-size: 12px;
  line-height: 12px;
  color: #8b8b8b;
}
.newest-casinos__list-item .info-popup__list-item .right-side {
  font-size: 14px;
  color: #050A0A;
}
.newest-casinos__list-item .img-wrap {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.newest-casinos__list-item .title {
  color: #050A0A;
  font-size: 18px;
  margin-top: 22px;
}
.newest-casinos__list-item .newest-rate {
  margin-top: 14px;
  display: flex;
  justify-content: center;
}
.newest-casinos__list-item .newest-rate .active-star {
  background-color: #FFB933;
}
.newest-casinos__list-item .newest-rate-text {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 13px;
}
.newest-casinos__list-item .border-btn {
  padding: 13px 0 10px;
  width: 100%;
  margin-top: 12px;
}
.newest-casinos__txt {
  background: #FFFFFF;
  padding: 82px 0 57px;
}
.newest-casinos__info .newest-casinos__list {
  margin-top: 0;
}
.newest-casinos__more-btn {
  margin-top: 30px;
  padding: 16px 80px 13px;
  width: 100%;
  cursor: pointer;
}

.newest-slots {
  padding: 83px 0 80px;
  text-align: center;
  background: #262626;
  color: #FFFFFF;
}
.newest-slots__title {
  color: #FFFFFF;
}
.newest-slots__subtitle {
  width: 50%;
  color: #FFFFFF;
}
.newest-slots__list {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.newest-slots__list-item {
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  width: 178px;
}
.newest-slots__list-item:nth-child(6n) {
  margin-right: 0;
}
.newest-slots__list-item:hover .title {
  color: #149E4C;
}
.newest-slots__list-item .img-wrap {
  width: 178px;
  height: 178px;
  overflow: hidden;
  border-radius: 4px;
}
.newest-slots__list-item .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newest-slots__list-item .title {
  margin-top: 15px;
  font-size: 16px;
  letter-spacing: 0.02em;
  transition: 0.5s linear;
}
.newest-slots__list-item .subtitle {
  margin-top: 4px;
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
}
.newest-slots__info .newest-slots__list {
  margin-top: 0;
}
.newest-slots__more-btn {
  margin-top: 27px;
  padding: 16px 80px 13px;
  width: 100%;
  cursor: pointer;
}
.newest-slots__about-text {
  margin-top: 74px;
}

.casino-reviews__wrap {
  background: #f8f8f8;
  padding: 83px 0 60px;
}
.casino-reviews__subtitle {
  width: 60%;
}
.casino-reviews__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 39px;
  border-radius: 6px;
}
.casino-reviews__list-item {
  background: #FFFFFF;
  width: 32%;
  padding: 33px 36px 50px;
  margin-bottom: 20px;
  display: flex;
  border-radius: 6px;
  flex-direction: column;
}
.casino-reviews__list-item .title-wrap {
  display: flex;
  align-items: center;
}
.casino-reviews__list-item .title-wrap .img-wrap {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.casino-reviews__list-item .title-wrap .title {
  font-size: 20px;
  line-height: 22px;
  color: #050A0A;
}
.casino-reviews__list-item .description {
  font-family: Gilroy-Regular, sans-serif;
  margin-top: 17px;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
}
.casino-reviews__txt {
  background: #FFFFFF;
  padding: 82px 0 57px;
}

.subscribe {
  background: #fef3e2;
}
.subscribe .content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe__img {
  width: 496px;
  margin-left: -106px;
  flex-shrink: 0;
}
.subscribe__wrap {
  margin-left: 86px;
  width: 50%;
}
.subscribe__title {
  font-family: Otomarine, sans-serif;
  font-size: 40px;
  line-height: 45px;
  color: #050A0A;
}
.subscribe__form {
  margin-top: 28px;
}
.subscribe__form input[type=email] {
  width: 71%;
}
.subscribe__form .green-btn {
  padding: 16px 53px 14px;
  border: none;
  cursor: pointer;
}
.subscribe__form .privacy {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
  margin-top: 27px;
}
.subscribe__form .privacy a {
  color: #8b8b8b;
  text-decoration: underline;
}
.subscribe__form .privacy a:hover {
  text-decoration: none;
}

.faq {
  padding: 86px 0 100px;
}
.faq__subtitle {
  width: 50%;
}
.faq__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.faq__list {
  width: 49.3%;
}
.faq__list-item {
  background: #FFFFFF;
  list-style: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: box-shadow 0.2s linear;
}
.faq__list-item:hover {
  box-shadow: 0 4px 30px #e4e4e4;
}
.faq__list-item summary::-webkit-details-marker {
  display: none;
}
.faq__list-item > summary {
  list-style: none;
}
.faq__list-item[open] {
  box-shadow: 0 4px 30px #e4e4e4;
}
.faq__list-item[open] > summary:before {
  transform: rotate(180deg);
}
.faq__list-item-title {
  font-size: 16px;
  color: #050A0A;
  outline: none;
  position: relative;
  padding: 28px 30px 23px 30px;
  display: flex;
  align-items: center;
  height: 100%;
}
.faq__list-item-title:before {
  content: "";
  mask-image: url("../img/arrow-down.svg");
  mask-size: 14px 9px;
  background-repeat: no-repeat;
  background-color: #149E4C;
  width: 14px;
  height: 9px;
  display: block;
  position: absolute;
  top: 45%;
  right: 28px;
}
.faq__list-item-text {
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b;
  padding: 0 42px 30px;
}

.promotions {
  background: #f8f8f8;
  padding: 83px 0 70px;
}
.promotions__list {
  margin-top: 32px;
  display: flex;
}
.promotions__list-item {
  width: 24%;
  margin-right: 20px;
}
.promotions__list-item:nth-child(4n) {
  margin-right: 0;
}
.promotions__list-item-img {
  border-radius: 6px;
  overflow: hidden;
  height: 160px;
}
.promotions__list-item-title {
  font-size: 18px;
  line-height: 26px;
  color: #050A0A;
  display: inline-block;
  margin-top: 21px;
}
.promotions__list-item-title:hover {
  text-decoration: underline;
}
.promotions__list-item-date {
  font-size: 12px;
  color: #8b8b8b;
  margin-top: 22px;
}
.promotions__more-btn {
  margin-top: 45px;
  padding: 16px 80px 13px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.how {
  padding: 83px 0 80px;
}
.how .content-center {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.how__about {
  width: 63.6%;
}
.how__about .title-1 {
  text-align: left;
  margin-bottom: 12px;
}
.how__about .title-2 {
  letter-spacing: -0.02em;
  margin-bottom: 9px;
}
.how__about-img {
  margin-bottom: 35px;
}
.how__about-top {
  margin-top: 52px;
}
.how__about-top-list {
  margin-top: 50px;
}
.how__about-top-list li {
  padding-bottom: 40px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 34px;
}
.how__about-top-list li:last-child {
  margin-bottom: 0;
}
.how__about-top-list li .title-3 {
  padding-left: 44px;
  position: relative;
}
.how__about-top-list li .title-3:before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(20, 158, 76, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gilroy-SemiBold, sans-serif;
  font-size: 16px;
  color: #149E4C;
  position: absolute;
  top: -4px;
  left: 0;
}
.how__about-top-list li .about-text__text {
  margin: 20px 0 0;
}
.how__about-top-list li:nth-child(1) .title-3:before {
  content: "1";
}
.how__about-top-list li:nth-child(2) .title-3:before {
  content: "2";
}
.how__about-top-list li:nth-child(3) .title-3:before {
  content: "3";
}
.how__about-quote {
  margin-top: 53px;
}
.how__about-quote .quote {
  background: #f8f8f8;
  padding: 31px 31px 31px;
  margin-top: 32px;
}
.how__about-quote .quote__author {
  display: flex;
  align-items: center;
}
.how__about-quote .quote__author-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.how__about-quote .quote__author-txt {
  margin-left: 16px;
}
.how__about-quote .quote__author-txt-name {
  font-size: 16px;
  color: #050A0A;
}
.how__about-quote .quote__author-txt-sub {
  font-size: 14px;
  color: #8b8b8b;
  margin-top: 5px;
}
.how__about-quote .quote__text {
  font-family: Gilroy-Regular, sans-serif;
  margin-top: 18px;
  font-size: 18px;
  line-height: 26px;
  color: #050A0A;
}
.how__about-casino {
  margin-top: 53px;
}
.how__about-casino .about-text .green-txt {
  color: #149E4C;
}
.how__about-casino .about-text__list {
  margin-left: 20px;
  margin-top: 34px;
}
.how__about-casino .about-text .decimal li {
  list-style-type: decimal;
}
.how__about-casino .top-casino {
  padding: 0;
  margin: 39px 0 56px;
  text-align: left;
}
.how__about-casino .top-casino__head {
  padding: 10px 0 10px 33px;
}
.how__about-casino .top-casino__head-item:nth-child(1) {
  width: 287px;
}
.how__about-casino .top-casino__head-item:nth-child(2) {
  width: auto;
}
.how__about-casino .top-casino__list {
  margin-top: 0;
  padding: 0;
}
.how__about-casino .top-casino__list-item {
  padding: 27px 0 27px 30px;
}
.how__about-casino .top-casino__name {
  width: 240px;
  max-width: 240px;
}
.how__about-casino .top-casino__name-icons-country {
  width: 20px;
  height: 20px;
}
.how__about-casinoInfo {
  margin-top: 50px;
}
.how__about-casinoInfo .top-casino {
  padding: 0;
  text-align: left;
  position: relative;
}
.how__about-casinoInfo .top-casino .top-casino__list-item {
  border-bottom: 0;
  background: #f8f8f8;
  padding: 30px 30px 33px;
}
.how__about-casinoInfo .top-casino__name {
  width: 240px;
  max-width: 240px;
}
.how__about-casinoInfo .top-casino__name-img {
  width: 69px;
  height: 69px;
}
.how__about-casinoInfo .top-casino__name-icons-country {
  width: 20px;
  height: 20px;
}
.how__about-casinoInfo .top-casino__bonus {
  width: 296px;
}
.how__about-casinoInfo .casinoInfo {
  padding: 41px 29px 37px;
  border: 1px solid #E2E2E2;
  margin-top: -1px;
}
.how__about-casinoInfo .casinoInfo__text {
  margin-bottom: 38px;
}
.how__about-casinoInfo .casinoInfo__info-list {
  margin-top: 27px;
}
.how__about-casinoInfo .casinoInfo__info-list-item {
  margin-bottom: 24px;
  display: flex;
  font-size: 16px;
  line-height: 22px;
}
.how__about-casinoInfo .casinoInfo__info-list-item:last-child {
  margin-bottom: 0;
}
.how__about-casinoInfo .casinoInfo__info-list-item .key {
  width: 37.5%;
  color: #8b8b8b;
}
.how__about-casinoInfo .casinoInfo__info-list-item .value {
  width: 40%;
  color: #050A0A;
}
.how__about-casinoInfo .casinoInfo__info-list-item .value span {
  display: block;
}
.how__about-casinoInfo .casinoInfo__info-list-item a:hover {
  text-decoration: underline;
}
.how__about-casinoInfo .play {
  margin-top: 52px;
}
.how__about-casinoInfo .play__btns {
  display: flex;
  margin-top: 29px;
}
.how__about-casinoInfo .play__btns-item {
  width: 49%;
  margin-right: 14px;
  border: 1px solid #ebebeb;
  min-height: 90px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 18px;
}
.how__about-casinoInfo .play__btns-item:last-child {
  margin-right: 0;
}
.how__about-casinoInfo .play__btns-item-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  flex-shrink: 0;
}
.how__about-casinoInfo .play__btns-item-txt .sub {
  font-size: 14px;
  color: #70788A;
}
.how__about-casinoInfo .play__btns-item-txt .name {
  font-size: 20px;
  color: #050A0A;
  margin-top: 8px;
}
.how__top {
  width: 32.1%;
}
.how__top-title {
  font-size: 18px;
  color: #050A0A;
}
.how__top-pagi {
  margin-top: 32px;
  display: flex;
  border-bottom: 1px solid #E9E9E9;
}
.how__top-pagi-item {
  font-size: 16px;
  color: #8b8b8b;
  padding-bottom: 21px;
  margin-right: 30px;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
  cursor: pointer;
}
.how__top-pagi-item:hover {
  border-color: #149E4C;
}
.how__top-pagi .active {
  border-color: #149E4C;
}
.how__top .top-casino {
  padding: 0;
  text-align: left;
}
.how__top .top-casino__list-item {
  padding: 21px 0 20px;
}
.how__top .top-casino__name {
  width: 200px;
  max-width: 200px;
}
.how__top .top-casino__name-wrap {
  margin-left: 19px;
}
.how__top .top-casino__name-img {
  width: 38px;
  height: 38px;
}
.how__top .top-casino__name-title {
  font-size: 14px;
  color: #050A0A;
}
.how__top .top-casino__name-icons {
  margin-top: 7px;
}
.how__top .top-casino__name-icons-rate {
  font-size: 12px;
  color: #8b8b8b;
  margin-top: 0;
}
.how__top .top-casino__name-icons-rate:before {
  width: 13px;
  height: 13px;
}
.how__top .top-casino__bonus {
  margin-right: 15px;
  width: 120px;
}
.how__top .top-casino__bonus-desk p {
  font-size: 14px;
}
.how__top .top-casino__bonus-desk p + p {
  font-size: 12px;
  margin-top: 3px;
}
.how__top-show-all {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  padding: 14px 0 11px;
  cursor: pointer;
}

.favourite {
  padding: 84px 0 82px;
  background: #f8f8f8;
}
.favourite__list {
  margin-top: 39px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.favourite__list-item {
  width: 195px;
  height: 90px;
  border: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  margin: 0 -1px -1px 0;
  padding-left: 29px;
}
.favourite__list-item-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  flex-shrink: 0;
}
.favourite__list-item-name {
  font-size: 14px;
  color: #050A0A;
}

.footer {
  background: #050A0A;
  padding: 48px 0 90px;
}
.footer__top-wrap {
  display: flex;
  align-items: center;
  padding-bottom: 57px;
  border-bottom: 1px solid #363636;
}
.footer__logo {
  width: 127px;
  height: 42px;
}
.footer__logo img {
  width: 100%;
}
.footer__slogan {
  font-size: 14px;
  line-height: 20px;
  font-family: Gilroy-Regular, sans-serif;
  color: #8b8b8b;
  width: 175px;
  margin-left: 53px;
}
.footer__author {
  margin-left: auto;
  margin-right: 13px;
  border-color: #363636;
  background: transparent;
  padding: 0 15px 0 16px;
}
.footer__author-title {
  margin-top: 3px;
}
.footer__author-name {
  color: #FFFFFF;
  margin-top: 3px;
}
.footer__author-info {
  background: #BFBFBF;
}
.footer__to-top {
  width: 44px;
  height: 44px;
  background: transparent;
  border: 1px solid #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.footer__to-top:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 6px 5px;
  border-color: transparent transparent #FFFFFF transparent;
}
.footer__to-top:hover {
  border-color: #505050;
}
.footer__info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px 0 64px;
}
.footer__info-wrap .left {
  width: 33%;
  display: flex;
  flex-wrap: wrap;
}
.footer__info-wrap .left .green-btn {
  padding: 16px 35px 13px;
  border-radius: 2px;
}
.footer__info-wrap .left .logos-list {
  width: 100%;
  margin-top: 94px;
  display: flex;
  align-items: center;
}
.footer__info-wrap .left .logos-list li {
  margin-right: 43px;
}
.footer__info-wrap .left .logos-list li:last-child {
  margin-right: 0;
}
.footer__info-wrap .left .logos-list li:nth-child(1) {
  width: 100px;
}
.footer__info-wrap .left .logos-list li:nth-child(2) {
  width: 33px;
}
.footer__info-wrap .left .logos-list li:nth-child(3) {
  width: 28px;
}
.footer__info-wrap .left .logos-list li:nth-child(4) {
  width: 61px;
}
.footer__info-wrap .right {
  width: 59%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.footer__info-wrap .right .footer-menu,
.footer__info-wrap .right .footer-sub-menu {
  display: flex;
}
.footer__info-wrap .right .footer-menu li,
.footer__info-wrap .right .footer-sub-menu li {
  margin-right: 31px;
}
.footer__info-wrap .right .footer-menu li:last-child,
.footer__info-wrap .right .footer-sub-menu li:last-child {
  margin-right: 0;
}
.footer__info-wrap .right .footer-menu li a,
.footer__info-wrap .right .footer-sub-menu li a {
  font-size: 16px;
  color: #FFFFFF;
}
.footer__info-wrap .right .footer-menu {
  margin-right: 32px;
}
.footer__info-wrap .right .footer-sub-menu li a {
  color: #7f7f7f;
}
.footer__info-wrap .right .form-subscribe {
  width: 100%;
  margin-top: 55px;
}
.footer__info-wrap .right .form-subscribe p {
  font-family: Gilroy-Medium, sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 21px;
}
.footer__info-wrap .right .form-subscribe .green-btn {
  padding: 16px 53px 15px;
  border: none;
  cursor: pointer;
}
.footer__copyright {
  padding: 69px 0 0;
  display: flex;
  justify-content: space-between;
}
.footer__copyright .copy,
.footer__copyright .created {
  font-size: 14px;
  color: #737373;
}
.footer__copyright .social {
  display: flex;
  justify-content: center;
}
.footer__copyright .social li {
  margin: 0 11px;
}
.footer__copyright .social li a {
  background-color: #FFFFFF;
  display: block;
  mask-repeat: no-repeat;
  transition: background-color 0.3s linear;
}
.footer__copyright .social li a:hover {
  background-color: #149E4C;
}
.footer__copyright .social li .fb {
  mask-image: url("../img/footer-facebook.svg");
  mask-size: 17px 18px;
  width: 13px;
  height: 17px;
}
.footer__copyright .social li .insta {
  mask-image: url("../img/footer-insta.svg");
  mask-size: 17px 18px;
  width: 17px;
  height: 17px;
}
.footer__copyright .social li .linkedin {
  mask-image: url("../img/footer-linkedin.svg");
  mask-size: 17px 18px;
  width: 17px;
  height: 17px;
}
.footer__copyright .social li .twitter {
  mask-image: url("../img/footer-twitter.svg");
  mask-size: 17px 18px;
  width: 17px;
  height: 17px;
}

.bottom-bar {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header > .content-center {
    padding: 0 15px;
  }
  .header__form-search {
    width: 55%;
  }
  .header__subheader-menu {
    height: 52px;
    margin: 0;
  }
  .header__subheader-menu li {
    margin-right: 0;
  }
  .header__subheader-menu li a {
    font-size: 14px;
  }
  .header__subheader-menu li .submenu li a {
    font-size: 14px;
  }

  .banner {
    padding: 45px 10px;
  }
  .banner__left {
    width: 330px;
    margin-top: 0;
  }
  .banner__left-title {
    font-size: 40px;
    line-height: 44px;
  }
  .banner__topCasino {
    width: 340px;
  }
  .banner__img {
    width: 340px;
    height: 320px;
    top: 0;
    bottom: 0;
    transform: translateX(-25px);
  }

  .top-casino {
    padding: 83px 15px 80px;
  }
  .top-casino__head {
    padding: 32px 0 22px 10px;
  }
  .top-casino__head-item:nth-child(1) {
    width: 288px;
  }
  .top-casino__head-item:nth-child(2) {
    width: 266px;
  }
  .top-casino__list {
    padding: 0;
  }
  .top-casino__list-item {
    padding: 25px 10px;
  }
  .top-casino__list .top-first,
.top-casino__list .top-second,
.top-casino__list .top-third {
    margin: 0;
    padding: 25px 10px;
  }
  .top-casino__name {
    width: 260px;
    max-width: 260px;
  }
  .top-casino__bonus {
    width: 235px;
  }
  .top-casino__label-text {
    margin-left: 10px;
  }
  .top-casino__buttons-review {
    padding: 13px 30px 10px;
  }

  .quick-navigation__wrap {
    padding: 83px 15px 60px;
  }
  .quick-navigation__txt {
    padding: 82px 15px 57px;
  }
  .quick-navigation__list-item {
    padding: 23px 20px 20px;
  }

  .newest-casinos__wrap {
    padding: 83px 15px 80px;
  }
  .newest-casinos__txt {
    padding: 82px 15px 57px;
  }
  .newest-casinos__list {
    justify-content: center;
  }
  .newest-casinos__list-item {
    width: 23.5%;
  }

  .newest-slots {
    padding: 83px 15px 80px;
  }
  .newest-slots__list {
    justify-content: center;
    max-width: 1004px;
    margin: 45px auto 0;
  }
  .newest-slots__list-item {
    width: 155px;
    margin: 0 5px 20px;
  }
  .newest-slots__list-item:nth-child(6n) {
    margin-right: 5px;
  }
  .newest-slots__list-item .img-wrap {
    width: 155px;
    height: 155px;
  }

  .casino-reviews__wrap {
    padding: 83px 15px 60px;
  }
  .casino-reviews__txt {
    padding: 82px 15px 57px;
  }

  .subscribe {
    padding: 0 10px;
  }
  .subscribe__img {
    width: 390px;
    margin-left: 0;
  }
  .subscribe__wrap {
    margin-left: 45px;
    width: 55%;
  }

  .faq {
    padding: 86px 15px 100px;
  }

  .promotions {
    padding: 83px 15px 70px;
  }
  .promotions__list {
    justify-content: center;
  }
  .promotions__list-item-img {
    height: 130px;
  }

  .how {
    padding: 83px 15px 80px;
  }
  .how__about {
    width: 60%;
  }
  .how__about-casino .top-casino__list-item {
    padding: 27px 0 27px 0;
  }
  .how__about-casino .top-casino__name {
    width: 230px;
    max-width: 230px;
  }
  .how__about-casino .top-casino__name-img {
    width: 50px;
    height: 50px;
  }
  .how__about-casino .top-casino__name-title {
    font-size: 18px;
  }
  .how__about-casinoInfo .top-casino .top-casino__list-item {
    padding: 30px 10px 33px;
  }
  .how__about-casinoInfo .top-casino__name {
    width: 210px;
    max-width: 210px;
  }
  .how__about-casinoInfo .top-casino__name-img {
    width: 50px;
    height: 50px;
  }
  .how__about-casinoInfo .top-casino__name-title {
    font-size: 18px;
  }
  .how__about-casinoInfo .top-casino__bonus {
    width: 220px;
  }
  .how__top {
    width: 37%;
  }
  .how .top-casino__name-wrap {
    margin-left: 13px;
  }

  .favourite {
    padding: 84px 15px 82px;
  }
  .favourite__list-item {
    width: 165px;
    padding-left: 15px;
  }

  .footer {
    padding: 48px 15px 90px;
  }
  .footer__info-wrap .right {
    width: 62%;
  }
  .footer__info-wrap .right .footer-menu {
    margin-right: 20px;
  }
  .footer__info-wrap .right .footer-menu li,
.footer__info-wrap .right .footer-sub-menu li {
    margin-right: 20px;
  }
  .footer .form-subscribe input[type=email] {
    width: 73%;
  }
}
@media screen and (max-width: 1023px) {
  .title-1 {
    font-size: 36px;
    line-height: 40px;
  }

  .main-subtitle {
    width: 73%;
  }

  .title-2-oto {
    margin-bottom: 15px;
  }

  .btn {
    font-size: 12px;
  }

  br {
    display: none;
  }

  .header__author,
.footer__author {
    padding: 0 13px;
  }
  .header__author-name,
.footer__author-name {
    font-size: 12px;
  }

  .header__logo {
    flex-shrink: 0;
    margin-right: 15px;
  }
  .header__author {
    flex-shrink: 0;
    margin-left: 15px;
    height: 38px;
  }
  .header__author-title, .header__author-name {
    margin-top: 3px;
  }
  .header__form-search {
    width: 47%;
  }
  .header__form-search input[type=search] {
    height: 38px;
    padding: 11px 40px 8px 15px;
  }
  .header__form-search input[type=search]::-webkit-input-placeholder {
    font-size: 12px;
  }
  .header__form-search input[type=search]:-moz-placeholder {
    font-size: 12px;
  }
  .header__form-search input[type=search]::-moz-placeholder {
    font-size: 12px;
  }
  .header__form-search input[type=search]:-ms-input-placeholder {
    font-size: 12px;
  }
  .header__form-search .btn-submit {
    top: 12px;
    right: 13px;
  }
  .header__subheader-menu {
    height: 45px;
  }
  .header__subheader-menu li a {
    font-size: 12px;
    padding: 3px 8px 0;
  }
  .header__subheader-menu li .submenu li a {
    font-size: 12px;
    padding: 12px 10px 8px;
  }
  .header__subheader-menu .dropdown-icon > a:after {
    margin-left: 6px;
  }

  .banner {
    padding: 35px 10px 20px;
  }
  .banner .content-center {
    flex-direction: column;
  }
  .banner__left {
    text-align: center;
  }
  .banner__left-title {
    font-size: 36px;
    line-height: 40px;
  }
  .banner__left-txt {
    margin: 15px auto 0;
  }
  .banner__left-btn {
    margin-top: 20px;
  }
  .banner .banner__topCasino::-webkit-scrollbar {
    display: none;
  }
  .banner__topCasino {
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    background: transparent;
    padding: 20px 15px;
    margin: 180px -20px -20px;
  }
  .banner__topCasino-item {
    border-bottom: 0;
    flex: 0 0 340px;
    margin-right: 15px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(228, 228, 228, 0.7);
    padding: 16px 15px 17px;
  }
  .banner__topCasino-item:last-child {
    margin-right: 0;
  }
  .banner__img {
    top: auto;
    bottom: -10px;
    transform: translateX(0);
  }

  .top-casino {
    padding: 53px 15px 50px;
  }
  .top-casino__filter-btns {
    height: 36px;
  }
  .top-casino__filter-item {
    padding: 10px 16px 7px;
  }
  .top-casino__filter .filter-icon:before {
    width: 15px;
    height: 15px;
    margin: -1px 7px 0 0;
  }
  .top-casino__head {
    padding: 32px 0 15px 10px;
  }
  .top-casino__head-item {
    font-size: 10px;
  }
  .top-casino__head-item:nth-child(1) {
    width: 220px;
  }
  .top-casino__head-item:nth-child(2) {
    width: 220px;
  }
  .top-casino__list-item {
    padding: 15px 10px;
  }
  .top-casino__list .top-first,
.top-casino__list .top-second,
.top-casino__list .top-third {
    padding: 15px 10px;
  }
  .top-casino__name {
    width: 210px;
    max-width: 210px;
  }
  .top-casino__name-img {
    width: 40px;
    height: 40px;
  }
  .top-casino__name-wrap {
    margin-left: 13px;
  }
  .top-casino__name-title {
    font-size: 16px;
    line-height: 18px;
  }
  .top-casino__name-icons {
    margin-top: 1px;
  }
  .top-casino__name-icons-cup {
    margin-right: 10px;
  }
  .top-casino__name-icons-country {
    margin-right: 10px;
  }
  .top-casino__name-icons-rate {
    font-size: 12px;
  }
  .top-casino__name-icons-rate:before {
    margin: -2px 6px 0 0;
  }
  .top-casino__bonus {
    width: 200px;
    max-width: 200px;
  }
  .top-casino__bonus p {
    font-size: 16px;
  }
  .top-casino__bonus p + p {
    font-size: 12px;
    margin-top: 3px;
  }
  .top-casino .bonus-na .top-casino__bonus-desk p {
    font-size: 16px;
  }
  .top-casino__label {
    max-width: 90px;
    width: 90px;
  }
  .top-casino__label-icon {
    width: 35px;
    height: 35px;
  }
  .top-casino__label-text {
    font-size: 12px;
    line-height: 14px;
    margin-left: 8px;
  }
  .top-casino__buttons-review {
    padding: 11px 20px 8px;
    flex-shrink: 0;
    margin-right: 10px;
  }
  .top-casino__buttons-play {
    padding: 12px 20px 9px;
    flex-shrink: 0;
  }
  .top-casino__about-text {
    margin-top: 40px;
  }

  .quick-navigation__wrap {
    padding: 53px 15px 50px;
  }
  .quick-navigation__list-item {
    padding: 19px 15px 15px;
  }
  .quick-navigation__list-wrap {
    height: 60px;
  }
  .quick-navigation__list-img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 15px;
  }
  .quick-navigation__list-txt-title {
    font-size: 16px;
  }
  .quick-navigation__list-txt-description {
    font-size: 12px;
    margin-top: 3px;
  }
  .quick-navigation__list-btn {
    margin-top: 15px;
  }
  .quick-navigation__txt {
    padding: 52px 15px 40px;
  }

  .newest-casinos__wrap {
    padding: 53px 15px 50px;
  }
  .newest-casinos__list-item {
    width: 30%;
    margin: 0 7px 15px;
    padding: 20px;
    min-height: 250px;
  }
  .newest-casinos__list-item:nth-child(4n) {
    margin-right: 7px;
  }
  .newest-casinos__list-item .info-popup {
    width: 200px;
    transform: translateY(180px);
  }
  .newest-casinos__list-item .img-wrap {
    width: 70px;
    height: 70px;
  }
  .newest-casinos__list-item .title {
    font-size: 16px;
    margin-top: 15px;
  }
  .newest-casinos__list-item .newest-rate {
    margin-top: 10px;
  }
  .newest-casinos__list-item .newest-rate .star {
    width: 12px;
    height: 12px;
  }
  .newest-casinos__list-item .newest-rate-text {
    font-size: 13px;
  }
  .newest-casinos__txt {
    padding: 52px 15px 40px;
  }

  .newest-slots {
    padding: 53px 15px 50px;
  }
  .newest-slots__list {
    margin-top: 35px;
  }

  .casino-reviews__wrap {
    padding: 53px 15px 55px;
  }
  .casino-reviews__list-item {
    padding: 25px 20px 30px;
  }
  .casino-reviews__list-item .title-wrap .img-wrap {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
  }
  .casino-reviews__list-item .title-wrap .title {
    font-size: 18px;
    line-height: 20px;
  }
  .casino-reviews__txt {
    padding: 52px 15px 40px;
  }

  .subscribe {
    padding: 0 15px 40px;
  }
  .subscribe .content-center {
    flex-direction: column;
  }
  .subscribe__img {
    width: 350px;
  }
  .subscribe__wrap {
    text-align: center;
    margin-left: 0;
    width: 82%;
    margin-top: -30px;
  }
  .subscribe__title {
    font-size: 36px;
    line-height: 40px;
  }
  .subscribe__form .privacy {
    margin: 15px auto 0;
    width: 70%;
  }

  .faq {
    padding: 56px 15px 60px;
  }
  .faq__wrap {
    margin-top: 30px;
  }
  .faq__list-item-title {
    padding: 16px 45px 13px 20px;
    font-size: 15px;
  }
  .faq__list-item-title:before {
    right: 20px;
  }
  .faq__list-item-text {
    padding: 0 20px 30px;
  }

  .promotions {
    padding: 53px 15px 60px;
  }
  .promotions .content-center {
    text-align: center;
  }
  .promotions__list {
    flex-wrap: wrap;
    max-width: 600px;
    text-align: left;
    margin: 30px auto 0;
  }
  .promotions__list-item {
    width: 278px;
    margin: 0 10px 30px;
  }
  .promotions__list-item:last-child {
    margin-right: 10px;
  }
  .promotions__list-item-img {
    height: 160px;
  }
  .promotions__list-item-title {
    font-size: 16px;
    line-height: 20px;
  }
  .promotions__list-item-date {
    margin-top: 10px;
  }
  .promotions__info .promotions__list {
    margin-top: 0;
  }
  .promotions__more-btn {
    max-width: 600px;
    margin-top: 20px;
  }

  .how {
    padding: 53px 15px 50px;
  }
  .how .content-center {
    flex-direction: column;
  }
  .how__about {
    width: 100%;
  }
  .how__about-img {
    width: 738px;
  }
  .how__about-quote .quote {
    width: 600px;
  }
  .how__about-quote .quote__text {
    font-size: 16px;
    line-height: 20px;
  }
  .how__about-casino .top-casino {
    width: 600px;
  }
  .how__about-casino .top-casino__head {
    padding: 10px 0 0 0;
  }
  .how__about-casino .top-casino__head-item:nth-child(1) {
    width: 270px;
  }
  .how__about-casino .top-casino__list-item {
    padding: 20px 0;
  }
  .how__about-casinoInfo .top-casino {
    width: 600px;
  }
  .how__about-casinoInfo .casinoInfo {
    width: 600px;
  }
  .how__about-casinoInfo .play__btns {
    width: 600px;
  }
  .how__top {
    margin-top: 30px;
    width: 500px;
  }

  .favourite {
    padding: 54px 15px 52px;
  }
  .favourite__list {
    margin-top: 30px;
  }

  .footer {
    padding: 50px 15px;
  }
  .footer__top-wrap {
    padding-bottom: 50px;
  }
  .footer__slogan {
    margin-left: 40px;
  }
  .footer__info-wrap {
    flex-direction: column;
    padding: 50px 0 30px;
  }
  .footer__info-wrap .left {
    width: 100%;
    justify-content: center;
  }
  .footer__info-wrap .left .logos-list {
    width: auto;
    margin-top: 0;
    margin-left: 30px;
  }
  .footer__info-wrap .right {
    margin-top: 50px;
    width: 100%;
    justify-content: center;
  }
  .footer__info-wrap .right .form-subscribe {
    width: 590px;
  }
}
@media screen and (max-width: 767px) {
  .title-1 {
    font-size: 24px;
    line-height: 32px;
  }

  .title-2 {
    font-size: 20px;
    line-height: 25px;
  }

  .title-3 {
    font-size: 18px;
    line-height: 22px;
  }

  .main-subtitle {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }

  .title-2-oto {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 15px;
  }

  .about-text {
    font-size: 14px;
    line-height: 20px;
  }

  .header {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 6px 0;
  }
  .header > .content-center {
    padding: 0 15px;
  }
  .header__subheader {
    display: none;
  }
  .header__logo {
    width: 88px;
    height: 32px;
    margin-right: 0;
  }
  .header__form-search {
    display: none;
  }
  .header__author {
    background: none;
    border: 0;
    padding: 0;
    margin-left: auto;
  }
  .header__author-title {
    display: none;
  }
  .header__author-photo {
    margin-right: 8px;
  }
  .header__author-name {
    color: #8b8b8b;
  }
  .header__author-info {
    width: 14px;
    height: 14px;
    margin-left: 8px;
  }
  .header__burger-menu {
    display: block;
  }

  .banner {
    padding: 56px 10px 20px;
  }
  .banner__left {
    width: 290px;
  }
  .banner__left-title {
    font-size: 28px;
    line-height: 32px;
  }
  .banner__left-txt {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
  .banner__left-btn {
    font-size: 14px;
    padding: 14px 30px 11px;
  }
  .banner__topCasino-item {
    flex: 0 0 310px;
  }

  .top-casino__filter {
    margin-right: -15px;
  }
  .top-casino__filter-item {
    margin-right: 6px;
  }
  .top-casino__filter-btns {
    display: none;
  }
  .top-casino__filter-wrap {
    width: 100%;
  }
  .top-casino__head {
    display: none;
  }
  .top-casino__list {
    margin: 20px -15px 0;
  }
  .top-casino__name {
    width: 160px;
    max-width: 160px;
    margin-right: 10px;
  }
  .top-casino__name-wrap {
    margin-left: 15px;
  }
  .top-casino__name-img {
    width: 38px;
    height: 38px;
  }
  .top-casino__name-title {
    font-size: 14px;
    line-height: 16px;
  }
  .top-casino__name-icons {
    margin-top: 3px;
  }
  .top-casino__name-icons-cup {
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }
  .top-casino__name-icons-cup:before {
    width: 7px;
    height: 7px;
  }
  .top-casino__name-icons-country {
    margin-right: 8px;
  }
  .top-casino__name-icons-rate {
    display: none;
  }
  .top-casino__name-icons-labelMob {
    display: block;
    width: 15px;
    height: 15px;
    position: relative;
  }
  .top-casino__name-icons-labelMob:hover:before {
    content: attr(data-title);
    font-size: 12px;
    color: #050A0A;
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(228, 228, 228, 0.7);
    border-radius: 4px;
    padding: 7px 10px 4px;
    position: absolute;
    top: -20px;
    left: 100%;
  }
  .top-casino__bonus {
    width: 100px;
    max-width: 100px;
    margin-right: 10px;
  }
  .top-casino__bonus p {
    font-size: 14px;
    line-height: 16px;
  }
  .top-casino__bonus-desk {
    display: none;
  }
  .top-casino__bonus-mob {
    display: block;
  }
  .top-casino__label {
    display: none;
  }
  .top-casino__buttons-review {
    display: none;
  }
  .top-casino__buttons-play {
    padding: 9px 11px 6px;
  }
  .top-casino__more-btn {
    margin-top: 25px;
  }

  .quick-navigation__list {
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px -10px 0;
  }
  .quick-navigation__list-wrap {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .quick-navigation__list-item {
    width: 44%;
    padding: 20px;
    margin: 0 9px 20px;
  }
  .quick-navigation__list-img {
    width: 50px;
    height: 50px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .quick-navigation__list-txt {
    text-align: center;
  }
  .quick-navigation__list-btn {
    font-size: 14px;
  }

  .newest-casinos .newest-casinos__list::-webkit-scrollbar {
    display: none;
  }
  .newest-casinos__list {
    width: 100vw;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: scroll;
    padding: 20px 15px;
    margin: 5px -15px -20px;
  }
  .newest-casinos__list-item {
    flex: 0 0 162px;
    margin: 0 12px 0 0;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(228, 228, 228, 0.7);
    padding: 16px 17px 15px;
    border-radius: 2px;
    min-height: auto;
  }
  .newest-casinos__list-item:nth-child(4n) {
    margin-right: 12px;
  }
  .newest-casinos__list-item:last-child {
    margin-right: 0;
  }
  .newest-casinos__list-item .info-btn {
    display: none;
  }
  .newest-casinos__list-item .title {
    margin-top: 12px;
  }
  .newest-casinos__list-item .img-wrap {
    width: 46px;
    height: 46px;
  }
  .newest-casinos__list-item .newest-rate {
    display: none;
  }
  .newest-casinos__list-item .newest-rate-text {
    margin-top: 11px;
  }
  .newest-casinos__list-item .newest-rate-text:before {
    content: "";
    mask-image: url("../img/star.svg");
    mask-size: contain;
    width: 15px;
    height: 15px;
    background-color: #FFD93D;
    display: inline-block;
    vertical-align: top;
    margin: -1px 6px 0 0;
  }

  .newest-slots {
    background: #050A0A;
  }
  .newest-slots .main-subtitle {
    color: #8b8b8b;
  }
  .newest-slots__list {
    margin: 30px -5px 0;
  }
  .newest-slots__list-item {
    width: 162px;
    margin: 0 7px 20px;
  }
  .newest-slots__list-item .img-wrap {
    width: 162px;
    height: 166px;
  }
  .newest-slots__list-item .subtitle {
    color: #8b8b8b;
    font-size: 12px;
    margin-top: 0;
  }

  .casino-reviews__list {
    flex-wrap: wrap;
  }
  .casino-reviews__list-item {
    width: 48%;
  }
  .casino-reviews .casino-reviews__list::-webkit-scrollbar {
    display: none;
  }
  .casino-reviews__list {
    width: 100vw;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: scroll;
    padding: 20px 15px;
    margin: 5px -15px -20px;
  }
  .casino-reviews__list-item {
    flex: 0 0 310px;
    margin: 0 12px 0 0;
    box-shadow: 0 4px 20px rgba(228, 228, 228, 0.7);
    padding: 20px 20px 20px;
    min-height: 226px;
  }
  .casino-reviews__list-item:last-child {
    margin-right: 0;
  }
  .casino-reviews__list-item .title-wrap .img-wrap {
    width: 50px;
    height: 50px;
  }
  .casino-reviews__list-item .title-wrap .title {
    font-size: 20px;
  }

  .subscribe .content-center {
    max-width: 500px;
  }
  .subscribe__img {
    width: 277px;
  }
  .subscribe__wrap {
    width: 100%;
  }
  .subscribe__title {
    font-size: 24px;
    line-height: 32px;
  }
  .subscribe__form input[type=email] {
    width: 100%;
    margin-right: 0;
  }
  .subscribe__form .green-btn {
    width: 100%;
    margin-top: 12px;
    padding: 17px 53px 15px;
  }
  .subscribe__form .privacy {
    width: 100%;
  }

  .faq__wrap {
    flex-direction: column;
  }
  .faq__list {
    width: 100%;
  }
  .faq__list-item {
    margin-right: 0;
  }
  .faq__list-item-title {
    font-size: 14px;
    padding: 16px 50px 13px 20px;
  }

  .promotions .promotions__list::-webkit-scrollbar {
    display: none;
  }
  .promotions__list {
    width: 100vw;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: scroll;
    padding: 20px 15px;
    margin: 5px -15px -20px;
    max-width: unset;
  }
  .promotions__list-item {
    flex: 0 0 254px;
    margin: 0 15px 0 0;
    min-height: 226px;
  }
  .promotions__list-item:last-child {
    margin-right: 0;
  }
  .promotions__list-item-img {
    height: 200px;
    border-radius: 3px;
  }
  .promotions__list-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .promotions__more-btn {
    margin-top: 30px;
  }

  .how__about-img {
    width: 100%;
  }
  .how__about-top {
    margin-top: 30px;
  }
  .how__about-top-list {
    margin-top: 25px;
  }
  .how__about-top-list li {
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  .how__about-quote {
    margin-top: 30px;
  }
  .how__about-quote .quote {
    width: 100%;
    padding: 20px;
  }
  .how__about-quote .quote__author-txt-name {
    font-size: 14px;
  }
  .how__about-quote .quote__author-txt-sub {
    font-size: 12px;
    margin-top: 2px;
  }
  .how__about-quote .quote__text {
    font-size: 14px;
  }
  .how__about-casino {
    margin-top: 30px;
  }
  .how__about-casino .about-text__list {
    margin-top: 20px;
    margin-left: 0;
  }
  .how__about-casino .top-casino {
    margin: 20px 0 30px;
    width: 100%;
  }
  .how__about-casino .top-casino__list {
    padding: 0 15px;
  }
  .how__about-casino .top-casino__name {
    width: 160px;
    max-width: 160px;
  }
  .how__about-casino .top-casino__name-img {
    width: 40px;
    height: 40px;
  }
  .how__about-casino .top-casino__name-title {
    font-size: 14px;
  }
  .how__about-casino .top-casino__name-icons-country {
    width: 16px;
    height: 16px;
  }
  .how__about-casino .top-casino__bonus {
    width: 90px;
    max-width: 90px;
  }
  .how__about-casinoInfo {
    margin: 30px -15px 0;
  }
  .how__about-casinoInfo .top-casino {
    width: 100%;
  }
  .how__about-casinoInfo .top-casino .top-casino__list-item {
    padding: 20px 10px;
  }
  .how__about-casinoInfo .top-casino__name {
    width: 140px;
    max-width: 140px;
  }
  .how__about-casinoInfo .top-casino__name-img {
    width: 40px;
    height: 40px;
  }
  .how__about-casinoInfo .top-casino__name-title {
    font-size: 14px;
  }
  .how__about-casinoInfo .top-casino__name-icons-country {
    width: 16px;
    height: 16px;
  }
  .how__about-casinoInfo .top-casino__bonus {
    width: 90px;
    max-width: 90px;
  }
  .how__about-casinoInfo .casinoInfo {
    width: 100%;
    padding: 20px 15px;
    border: 0;
  }
  .how__about-casinoInfo .casinoInfo__info-list-item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    word-break: break-all;
  }
  .how__about-casinoInfo .casinoInfo__info-list-item .key {
    margin-right: 20px;
  }
  .how__about-casinoInfo .play {
    margin-top: 30px;
    padding: 0 15px;
  }
  .how__about-casinoInfo .play__btns {
    flex-direction: column;
    width: 100%;
  }
  .how__about-casinoInfo .play__btns-item {
    width: 343px;
    padding: 0 15px;
    min-height: 70px;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .how__about-casinoInfo .play__btns-item-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
  .how__about-casinoInfo .play__btns-item-txt .name {
    font-size: 16px;
    margin-top: 4px;
  }
  .how__top {
    margin-top: 20px;
    width: 345px;
  }
  .how__top .top-casino__name-icons-rate {
    display: block;
  }
  .how__top .top-casino__bonus-desk {
    display: block;
  }

  .favourite .favourite__list::-webkit-scrollbar {
    display: none;
  }
  .favourite__list {
    width: 100vw;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: scroll;
    padding: 20px 15px;
    margin: 5px -15px -20px;
  }
  .favourite__list-item {
    flex: 0 0 150px;
    margin: 0 15px 0 0;
    min-height: 107px;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    border: none;
    box-shadow: 0 4px 20px rgba(228, 228, 228, 0.7);
  }
  .favourite__list-item:last-child {
    margin-right: 0;
  }
  .favourite__list-item-img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer {
    position: relative;
  }
  .footer__top-wrap {
    flex-direction: column;
    border-bottom: 0;
    padding-bottom: 0;
  }
  .footer__slogan {
    margin: 20px 0 26px;
    text-align: center;
    color: rgba(139, 139, 139, 0.7);
  }
  .footer__author {
    margin: 10px auto 0;
    background: #0E1616;
    width: 276px;
  }
  .footer__author-photo {
    margin-left: auto;
  }
  .footer__author-name {
    font-size: 14px;
    color: #FFFFFF;
  }
  .footer__to-top {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .footer__info-wrap {
    padding: 30px 0 30px;
  }
  .footer__info-wrap .left {
    flex-direction: column;
    align-items: center;
  }
  .footer__info-wrap .left .green-btn {
    padding: 17px 39px 14px;
  }
  .footer__info-wrap .left .logos-list {
    margin-left: 0;
    width: 300px;
    margin-top: 20px;
  }
  .footer__info-wrap .left .logos-list li {
    margin-right: 30px;
  }
  .footer__info-wrap .right {
    margin-top: 35px;
    flex-direction: column;
  }
  .footer__info-wrap .right .footer-menu,
.footer__info-wrap .right .footer-sub-menu {
    margin-right: 0;
    flex-direction: column;
    width: 100%;
  }
  .footer__info-wrap .right .footer-menu li,
.footer__info-wrap .right .footer-sub-menu li {
    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
  }
  .footer__info-wrap .right .footer-menu li:last-child,
.footer__info-wrap .right .footer-sub-menu li:last-child {
    margin-bottom: 0;
  }
  .footer__info-wrap .right .footer-sub-menu {
    margin-top: 20px;
  }
  .footer__info-wrap .right .form-subscribe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 45px;
  }
  .footer__info-wrap .right .form-subscribe p {
    text-align: center;
  }
  .footer__info-wrap .right .form-subscribe input[type=email] {
    margin-right: 11px;
    width: 71%;
  }
  .footer__info-wrap .right .form-subscribe .green-btn {
    font-size: 14px;
    padding: 16px 25px 14px;
  }
  .footer__info-wrap .right .form-subscribe .privacy {
    line-height: 18px;
    color: #7F7F7F;
    text-align: center;
  }
  .footer__copyright {
    padding: 30px 0 0;
    flex-direction: column;
    text-align: center;
  }
  .footer__copyright .social {
    order: 1;
    margin-bottom: 40px;
  }
  .footer__copyright .copy {
    order: 2;
    margin-bottom: 40px;
  }
  .footer__copyright .created {
    order: 3;
  }

  .bottom-bar {
    display: block;
    height: 60px;
    background: #050A0A;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .bottom-bar__list {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  .bottom-bar__list-item a {
    font-size: 10px;
    height: 100%;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: relative;
  }
  .bottom-bar__list-item a:before {
    content: "";
    mask-repeat: no-repeat;
    mask-size: contain;
    background: #676767;
    width: 17px;
    height: 17px;
    margin-bottom: 7px;
  }
  .bottom-bar__list-item a:hover:before {
    background: #149E4C;
  }
  .bottom-bar__list-item:nth-child(1) a:before {
    mask-image: url("../img/bar-icon-1.svg");
  }
  .bottom-bar__list-item:nth-child(2) a:before {
    mask-image: url("../img/bar-icon-2.svg");
  }
  .bottom-bar__list-item:nth-child(3) a:before {
    mask-image: url("../img/bar-icon-3.svg");
  }
  .bottom-bar__list-item:nth-child(4) a:before {
    mask-image: url("../img/bar-icon-4.svg");
  }
  .bottom-bar__list .active a:before {
    background: #149E4C;
  }
}
@media screen and (max-width: 374px) {
  .banner__img {
    width: 300px;
    height: 300px;
  }
  .banner__topCasino-item {
    flex: 0 0 290px;
    padding: 9px 15px 10px;
  }
  .banner__topCasino-name {
    margin-right: 8px;
  }
  .banner__topCasino-name-subtitle {
    line-height: 15px;
  }
  .banner__topCasino-btn {
    flex-shrink: 0;
    padding: 9px 10px 6px;
  }

  .top-casino__name {
    width: 120px;
    max-width: 120px;
  }
  .top-casino__name-wrap {
    margin-left: 10px;
  }
  .top-casino__bonus {
    width: 80px;
    max-width: 80px;
  }
  .top-casino__buttons-play {
    padding: 9px 8px 6px;
  }

  .newest-slots__list-item {
    width: 133px;
  }
  .newest-slots__list-item .img-wrap {
    width: 133px;
    height: 133px;
  }

  .casino-reviews__list-item {
    flex: 0 0 280px;
  }

  .how__about-casino .top-casino__name {
    width: 120px;
    max-width: 120px;
  }
  .how__about-casino .top-casino__bonus {
    width: 80px;
    max-width: 80px;
  }
  .how__about-casinoInfo .play__btns-item {
    width: 100%;
  }
  .how__top {
    width: 100%;
  }

  .footer__info-wrap .left .logos-list {
    width: 100%;
  }
  .footer__info-wrap .right .form-subscribe input[type=email] {
    margin-right: 0;
    width: 100%;
  }
  .footer__info-wrap .right .form-subscribe .green-btn {
    width: 100%;
    margin-top: 10px;
  }

  .bottom-bar__list-item a {
    padding: 0 15px;
  }
}

/*# sourceMappingURL=main.css.map */
