@media screen and (max-width: 1200px)
  .header
    >.content-center
      padding: 0 15px
    &__form
      &-search
        width: 55%
    &__subheader
      &-menu
        height: 52px
        margin: 0
        li
          margin-right: 0
          a
            font-size: 14px
          .submenu
            li
              a
                font-size: 14px
  .banner
    padding: 45px 10px
    &__left
      width: 330px
      margin-top: 0
      &-title
        font-size: 40px
        line-height: 44px
    &__topCasino
      width: 340px
    &__img
      width: 340px
      height: 320px
      top: 0
      bottom: 0
      transform: translateX(-25px)
  .top-casino
    padding: 83px 15px 80px
    &__head
      padding: 32px 0 22px 10px
      &-item
        &:nth-child(1)
          width: 288px
        &:nth-child(2)
          width: 266px
    &__list
      padding: 0
      &-item
        padding: 25px 10px
      .top-first,
      .top-second,
      .top-third
        margin: 0
        padding: 25px 10px
    &__name
      width: 260px
      max-width: 260px
    &__bonus
      width: 235px
    &__label
      &-text
        margin-left: 10px
    &__buttons
      &-review
        padding: 13px 30px 10px
  .quick-navigation
    &__wrap
      padding: 83px 15px 60px
    &__txt
      padding: 82px 15px 57px
    &__list
      &-item
        padding: 23px 20px 20px
  .newest-casinos
    &__wrap
      padding: 83px 15px 80px
    &__txt
      padding: 82px 15px 57px
    &__list
      justify-content: center
      &-item
        width: 23.5%
  .newest-slots
    padding: 83px 15px 80px
    &__list
      justify-content: center
      max-width: 1004px
      margin: 45px auto 0
      &-item
        width: 155px
        margin: 0 5px 20px
        &:nth-child(6n)
          margin-right: 5px
        .img-wrap
          width: 155px
          height: 155px
  .casino-reviews
    &__wrap
      padding: 83px 15px 60px
    &__txt
      padding: 82px 15px 57px
  .subscribe
    padding: 0 10px
    &__img
      width: 390px
      margin-left: 0
    &__wrap
      margin-left: 45px
      width: 55%
  .faq
    padding: 86px 15px 100px
  .promotions
    padding: 83px 15px 70px
    &__list
      justify-content: center
      &-item
        &-img
          height: 130px
  .how
    padding: 83px 15px 80px
    &__about
      width: 60%
      &-casino
        .top-casino
          &__list
            &-item
              padding: 27px 0 27px 0
          &__name
            width: 230px
            max-width: 230px
            &-img
              width: 50px
              height: 50px
            &-title
              font-size: 18px
      &-casinoInfo
        .top-casino
          .top-casino__list-item
            padding: 30px 10px 33px
          &__name
            width: 210px
            max-width: 210px
            &-img
              width: 50px
              height: 50px
            &-title
              font-size: 18px
          &__bonus
            width: 220px
    &__top
      width: 37%
    .top-casino
      &__name
        &-wrap
          margin-left: 13px
  .favourite
    padding: 84px 15px 82px
    &__list
      &-item
        width: 165px
        padding-left: 15px
  .footer
    padding: 48px 15px 90px
    &__info-wrap
      .right
        width: 62%
        .footer-menu
          margin-right: 20px
        .footer-menu,
        .footer-sub-menu
          li
            margin-right: 20px
    .form-subscribe
      input[type=email]
        width: 73%

@media screen and (max-width: 1023px)
  .title-1
    font-size: 36px
    line-height: 40px
  .main-subtitle
    width: 73%
  .title-2-oto
    margin-bottom: 15px
  .btn
    font-size: 12px
  br
    display: none
  .header,
  .footer
    &__author
      padding: 0 13px
      &-name
        font-size: 12px
  .header
    &__logo
      flex-shrink: 0
      margin-right: 15px
    &__author
      flex-shrink: 0
      margin-left: 15px
      height: 38px
      &-title,
      &-name
        margin-top: 3px
    &__form-search
      width: 47%
      input[type=search]
        height: 38px
        padding: 11px 40px 8px 15px
        +placeholder
          font-size: 12px
      .btn-submit
        top: 12px
        right: 13px
    &__subheader
      &-menu
        height: 45px
        li
          a
            font-size: 12px
            padding: 3px 8px 0
          .submenu
            li
              a
                font-size: 12px
                padding: 12px 10px 8px
        .dropdown-icon
          >a
            &:after
              margin-left: 6px
  .banner
    padding: 35px 10px 20px
    .content-center
      flex-direction: column
    &__left
      text-align: center
      &-title
        font-size: 36px
        line-height: 40px
      &-txt
        margin: 15px auto 0
      &-btn
        margin-top: 20px
    .banner__topCasino::-webkit-scrollbar
      display: none
    &__topCasino
      width: 100vw
      flex-direction: row
      justify-content: space-between
      overflow: scroll
      background: transparent
      padding: 20px 15px
      margin: 180px -20px -20px
      &-item
        border-bottom: 0
        flex: 0 0 340px
        margin-right: 15px
        background: $white
        box-shadow: 0 4px 20px rgba(228,228,228,.7)
        padding: 16px 15px 17px
        &:last-child
          margin-right: 0
    &__img
      top: auto
      bottom: -10px
      transform: translateX(0)
  .top-casino
    padding: 53px 15px 50px
    &__filter
      &-btns
        height: 36px
      &-item
        padding: 10px 16px 7px
      .filter-icon
        &:before
          width: 15px
          height: 15px
          margin: -1px 7px 0 0
    &__head
      padding: 32px 0 15px 10px
      &-item
        font-size: 10px
        &:nth-child(1)
          width: 220px
        &:nth-child(2)
          width: 220px
    &__list
      &-item
        padding: 15px 10px
      .top-first,
      .top-second,
      .top-third
        padding: 15px 10px
    &__name
      width: 210px
      max-width: 210px
      &-img
        width: 40px
        height: 40px
      &-wrap
        margin-left: 13px
      &-title
        font-size: 16px
        line-height: 18px
      &-icons
        margin-top: 1px
        &-cup
          margin-right: 10px
        &-country
          margin-right: 10px
        &-rate
          font-size: 12px
          &:before
            margin: -2px 6px 0 0
    &__bonus
      width: 200px
      max-width: 200px
      p
        font-size: 16px
      p+p
        font-size: 12px
        margin-top: 3px
    .bonus-na
      .top-casino__bonus-desk
        p
          font-size: 16px
    &__label
      max-width: 90px
      width: 90px
      &-icon
        width: 35px
        height: 35px
      &-text
        font-size: 12px
        line-height: 14px
        margin-left: 8px
    &__buttons
      &-review
        padding: 11px 20px 8px
        flex-shrink: 0
        margin-right: 10px
      &-play
        padding: 12px 20px 9px
        flex-shrink: 0
    &__about-text
      margin-top: 40px
  .quick-navigation
    &__wrap
      padding: 53px 15px 50px
    &__list
      &-item
        padding: 19px 15px 15px
      &-wrap
        height: 60px
      &-img
        width: 40px
        height: 40px
        flex-shrink: 0
        margin-right: 15px
      &-txt
        &-title
          font-size: 16px
        &-description
          font-size: 12px
          margin-top: 3px
      &-btn
        margin-top: 15px
    &__txt
      padding: 52px 15px 40px
  .newest-casinos
    &__wrap
      padding: 53px 15px 50px
    &__list
      &-item
        width: 30%
        margin: 0 7px 15px
        padding: 20px
        min-height: 250px
        &:nth-child(4n)
          margin-right: 7px
        .info-popup
          width: 200px
          transform: translateY(180px)
        .img-wrap
          width: 70px
          height: 70px
        .title
          font-size: 16px
          margin-top: 15px
        .newest-rate
          margin-top: 10px
          .star
            width: 12px
            height: 12px
        .newest-rate-text
          font-size: 13px
    &__txt
      padding: 52px 15px 40px
  .newest-slots
    padding: 53px 15px 50px
    &__list
      margin-top: 35px
  .casino-reviews
    &__wrap
      padding: 53px 15px 55px
    &__list
      &-item
        padding: 25px 20px 30px
        .title-wrap
          .img-wrap
            flex-shrink: 0
            width: 40px
            height: 40px
          .title
            font-size: 18px
            line-height: 20px
    &__txt
      padding: 52px 15px 40px
  .subscribe
    padding: 0 15px 40px
    .content-center
      flex-direction: column
    &__img
      width: 350px
    &__wrap
      text-align: center
      margin-left: 0
      width: 82%
      margin-top: -30px
    &__title
      font-size: 36px
      line-height: 40px
    &__form
      .privacy
        margin: 15px auto 0
        width: 70%
  .faq
    padding: 56px 15px 60px
    &__wrap
      margin-top: 30px
    &__list
      &-item
        &-title
          padding: 16px 45px 13px 20px
          font-size: 15px
          &:before
            right: 20px
        &-text
          padding: 0 20px 30px
  .promotions
    padding: 53px 15px 60px
    .content-center
      text-align: center
    &__list
      flex-wrap: wrap
      max-width: 600px
      text-align: left
      margin: 30px auto 0
      &-item
        width: 278px
        margin: 0 10px 30px
        &:last-child
          margin-right: 10px
        &-img
          height: 160px
        &-title
          font-size: 16px
          line-height: 20px
        &-date
          margin-top: 10px
    &__info
      .promotions__list
        margin-top: 0
    &__more-btn
      max-width: 600px
      margin-top: 20px
  .how
    padding: 53px 15px 50px
    .content-center
      flex-direction: column
    &__about
      width: 100%
      &-img
        width: 738px
      &-quote
        .quote
          width: 600px
          &__text
            font-size: 16px
            line-height: 20px
      &-casino
        .top-casino
          width: 600px
          &__head
            padding: 10px 0 0 0
            &-item
              &:nth-child(1)
                width: 270px
          &__list
            &-item
              padding: 20px 0
      &-casinoInfo
        .top-casino
          width: 600px
        .casinoInfo
          width: 600px
        .play
          &__btns
            width: 600px
    &__top
      margin-top: 30px
      width: 500px
  .favourite
    padding: 54px 15px 52px
    &__list
      margin-top: 30px
  .footer
    padding: 50px 15px
    &__top-wrap
      padding-bottom: 50px
    &__slogan
      margin-left: 40px
    &__info-wrap
      flex-direction: column
      padding: 50px 0 30px
      .left
        width: 100%
        justify-content: center
        .logos-list
          width: auto
          margin-top: 0
          margin-left: 30px
      .right
        margin-top: 50px
        width: 100%
        justify-content: center
        .form-subscribe
          width: 590px

@media screen and (max-width: 767px)
  .title-1
    font-size: 24px
    line-height: 32px
  .title-2
    font-size: 20px
    line-height: 25px
  .title-3
    font-size: 18px
    line-height: 22px
  .main-subtitle
    width: 100%
    font-size: 14px
    line-height: 20px
  .title-2-oto
    font-size: 19px
    line-height: 25px
    margin-bottom: 15px
  .about-text
    font-size: 14px
    line-height: 20px
  .header
    box-shadow: 0 0 20px rgba(0,0,0,.1)
    padding: 6px 0
    >.content-center
      padding: 0 15px
    &__subheader
      display: none
    &__logo
      width: 88px
      height: 32px
      margin-right: 0
    &__form-search
      display: none
    &__author
      background: none
      border: 0
      padding: 0
      margin-left: auto
      &-title
        display: none
      &-photo
        margin-right: 8px
      &-name
        color: $gray-semi
      &-info
        width: 14px
        height: 14px
        margin-left: 8px
    &__burger-menu
      display: block
  .mob-menu
    //display: block
  .banner
    padding: 56px 10px 20px
    &__left
      width: 290px
      &-title
        font-size: 28px
        line-height: 32px
      &-txt
        font-size: 14px
        line-height: 20px
        width: 100%
      &-btn
        font-size: 14px
        padding: 14px 30px 11px
    &__topCasino
      &-item
        flex: 0 0 310px
  .top-casino
    &__filter
      margin-right: -15px
      &-item
        margin-right: 6px
      &-btns
        display: none
      &-wrap
        width: 100%
    &__head
      display: none
    &__list
      margin: 20px -15px 0
    &__name
      width: 160px
      max-width: 160px
      margin-right: 10px
      &-wrap
        margin-left: 15px
      &-img
        width: 38px
        height: 38px
      &-title
        font-size: 14px
        line-height: 16px
      &-icons
        margin-top: 3px
        &-cup
          width: 13px
          height: 13px
          margin-right: 8px
          &:before
            width: 7px
            height: 7px
        &-country
          margin-right: 8px
        &-rate
          display: none
        &-labelMob
          display: block
          width: 15px
          height: 15px
          position: relative
          &:hover
            &:before
              content: attr(data-title)
              font-size: 12px
              color: $dark
              background: $white
              box-shadow: 0 4px 30px rgba(228,228,228,.7)
              border-radius: 4px
              padding: 7px 10px 4px
              position: absolute
              top: -20px
              left: 100%
    &__bonus
      width: 100px
      max-width: 100px
      margin-right: 10px
      p
        font-size: 14px
        line-height: 16px
      &-desk
        display: none
      &-mob
        display: block
    &__label
      display: none
    &__buttons
      &-review
        display: none
      &-play
        padding: 9px 11px 6px
    &__more-btn
      margin-top: 25px
  .quick-navigation
    &__list
      flex-wrap: wrap
      justify-content: center
      margin: 25px -10px 0
      &-wrap
        flex-direction: column
        align-items: center
        height: auto
      &-item
        width: 44%
        padding: 20px
        margin: 0 9px 20px
      &-img
        width: 50px
        height: 50px
        margin-right: 0
        margin-bottom: 15px
      &-txt
        text-align: center
      &-btn
        font-size: 14px
  .newest-casinos
    .newest-casinos__list::-webkit-scrollbar
      display: none
    &__list
      width: 100vw
      flex-flow: row nowrap
      justify-content: space-between
      overflow: scroll
      padding: 20px 15px
      margin: 5px -15px -20px
      &-item
        flex: 0 0 162px
        margin: 0 12px 0 0
        background: $white
        box-shadow: 0 4px 20px rgba(228,228,228,.7)
        padding: 16px 17px 15px
        border-radius: 2px
        min-height: auto
        &:nth-child(4n)
          margin-right: 12px
        &:last-child
          margin-right: 0
        .info-btn
          display: none
        .title
          margin-top: 12px
        .img-wrap
          width: 46px
          height: 46px
        .newest-rate
          display: none
        .newest-rate-text
          margin-top: 11px
          &:before
            content: ""
            mask-image: url("../img/star.svg")
            mask-size: contain
            width: 15px
            height: 15px
            background-color: #FFD93D
            display: inline-block
            vertical-align: top
            margin: -1px 6px 0 0
  .newest-slots
    background: #050A0A
    .main-subtitle
      color: $gray-semi
    &__list
      margin: 30px -5px 0
      &-item
        width: 162px
        margin: 0 7px 20px
        .img-wrap
          width: 162px
          height: 166px
        .subtitle
          color: $gray-semi
          font-size: 12px
          margin-top: 0
  .casino-reviews
    &__list
      flex-wrap: wrap
      &-item
        width: 48%
    .casino-reviews__list::-webkit-scrollbar
      display: none
    &__list
      width: 100vw
      flex-flow: row nowrap
      justify-content: space-between
      overflow: scroll
      padding: 20px 15px
      margin: 5px -15px -20px
      &-item
        flex: 0 0 310px
        margin: 0 12px 0 0
        box-shadow: 0 4px 20px rgba(228,228,228,.7)
        padding: 20px 20px 20px
        min-height: 226px
        &:last-child
          margin-right: 0
        .title-wrap
          .img-wrap
            width: 50px
            height: 50px
          .title
            font-size: 20px
  .subscribe
    .content-center
      max-width: 500px
    &__img
      width: 277px
    &__wrap
      width: 100%
    &__title
      font-size: 24px
      line-height: 32px
    &__form
      input[type=email]
        width: 100%
        margin-right: 0
      .green-btn
        width: 100%
        margin-top: 12px
        padding: 17px 53px 15px
      .privacy
        width: 100%
  .faq
    &__wrap
      flex-direction: column
    &__list
      width: 100%
      &-item
        margin-right: 0
        &-title
          font-size: 14px
          padding: 16px 50px 13px 20px
  .promotions
    .promotions__list::-webkit-scrollbar
      display: none
    &__list
      width: 100vw
      flex-flow: row nowrap
      justify-content: space-between
      overflow: scroll
      padding: 20px 15px
      margin: 5px -15px -20px
      max-width: unset
      &-item
        flex: 0 0 254px
        margin: 0 15px 0 0
        min-height: 226px
        &:last-child
          margin-right: 0
        &-img
          height: 200px
          border-radius: 3px
          img
            width: 100%
            height: 100%
            object-fit: cover
    &__more-btn
      margin-top: 30px
  .how
    &__about
      &-img
        width: 100%
      &-top
        margin-top: 30px
        &-list
          margin-top: 25px
          li
            padding-bottom: 25px
            margin-bottom: 30px
      &-quote
        margin-top: 30px
        .quote
          width: 100%
          padding: 20px
          &__author
            &-txt
              &-name
                font-size: 14px
              &-sub
                font-size: 12px
                margin-top: 2px
          &__text
            font-size: 14px
      &-casino
        margin-top: 30px
        .about-text
          &__list
            margin-top: 20px
            margin-left: 0
        .top-casino
          margin: 20px 0 30px
          width: 100%
          &__list
            padding: 0 15px
          &__name
            width: 160px
            max-width: 160px
            &-img
              width: 40px
              height: 40px
            &-title
              font-size: 14px
            &-icons
              &-country
                width: 16px
                height: 16px
          &__bonus
            width: 90px
            max-width: 90px
      &-casinoInfo
        margin: 30px -15px 0
        .top-casino
          width: 100%
          .top-casino__list-item
            padding: 20px 10px
          &__name
            width: 140px
            max-width: 140px
            &-img
              width: 40px
              height: 40px
            &-title
              font-size: 14px
            &-icons
              &-country
                width: 16px
                height: 16px
          &__bonus
            width: 90px
            max-width: 90px
        .casinoInfo
          width: 100%
          padding: 20px 15px
          border: 0
          &__info
            &-list
              &-item
                font-size: 14px
                line-height: 20px
                margin-bottom: 20px
                word-break: break-all
                .key
                  margin-right: 20px
        .play
          margin-top: 30px
          padding: 0 15px
          &__btns
            flex-direction: column
            width: 100%
            &-item
              width: 343px
              padding: 0 15px
              min-height: 70px
              margin-bottom: 15px
              margin-right: 0
              &-icon
                width: 40px
                height: 40px
                margin-right: 15px
              &-txt
                .name
                  font-size: 16px
                  margin-top: 4px
    &__top
      margin-top: 20px
      width: 345px
      .top-casino
        &__name
          &-icons
            &-rate
              display: block
        &__bonus
          &-desk
            display: block
  .favourite
    .favourite__list::-webkit-scrollbar
      display: none
    &__list
      width: 100vw
      flex-flow: row nowrap
      justify-content: space-between
      overflow: scroll
      padding: 20px 15px
      margin: 5px -15px -20px
      &-item
        flex: 0 0 150px
        margin: 0 15px 0 0
        min-height: 107px
        flex-direction: column
        justify-content: center
        padding-left: 0
        border: none
        box-shadow: 0 4px 20px rgba(228,228,228,.7)
        &:last-child
          margin-right: 0
        &-img
          margin-right: 0
          margin-bottom: 10px
  .footer
    position: relative
    &__top-wrap
      flex-direction: column
      border-bottom: 0
      padding-bottom: 0
    &__slogan
      margin: 20px 0 26px
      text-align: center
      color: rgba($gray-semi,.7)
    &__author
      margin: 10px auto 0
      background: #0E1616
      width: 276px
      &-photo
        margin-left: auto
      &-name
        font-size: 14px
        color: $white
    &__to-top
      position: absolute
      top: 15px
      right: 15px
    &__info-wrap
      padding: 30px 0 30px
      .left
        flex-direction: column
        align-items: center
        .green-btn
          padding: 17px 39px 14px
        .logos-list
          margin-left: 0
          width: 300px
          margin-top: 20px
          li
            margin-right: 30px
      .right
        margin-top: 35px
        flex-direction: column
        .footer-menu,
        .footer-sub-menu
          margin-right: 0
          flex-direction: column
          width: 100%
          li
            margin-bottom: 20px
            margin-right: 0
            text-align: center
            &:last-child
              margin-bottom: 0
        .footer-sub-menu
          margin-top: 20px
        .form-subscribe
          width: 100%
          display: flex
          flex-wrap: wrap
          justify-content: center
          margin-top: 45px
          p
            text-align: center
          input[type=email]
            margin-right: 11px
            width: 71%
          .green-btn
            font-size: 14px
            padding: 16px 25px 14px
          .privacy
            line-height: 18px
            color: #7F7F7F
            text-align: center
    &__copyright
      padding: 30px 0 0
      flex-direction: column
      text-align: center
      .social
        order: 1
        margin-bottom: 40px
      .copy
        order: 2
        margin-bottom: 40px
      .created
        order: 3
  .bottom-bar
    display: block
    height: 60px
    background: $dark
    position: sticky
    bottom: 0
    left: 0
    right: 0
    z-index: 10
    &__list
      display: flex
      justify-content: center
      height: 100%
      &-item
        a
          font-size: 10px
          height: 100%
          color: $white
          text-transform: uppercase
          letter-spacing: 0.05em
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          padding: 0 20px
          position: relative
          &:before
            content: ""
            mask-repeat: no-repeat
            mask-size: contain
            background: #676767
            width: 17px
            height: 17px
            margin-bottom: 7px
          &:hover
            &:before
              background: $green-default
        &:nth-child(1)
          a
            &:before
              mask-image: url("../img/bar-icon-1.svg")
        &:nth-child(2)
          a
            &:before
              mask-image: url("../img/bar-icon-2.svg")
        &:nth-child(3)
          a
            &:before
              mask-image: url("../img/bar-icon-3.svg")
        &:nth-child(4)
          a
            &:before
              mask-image: url("../img/bar-icon-4.svg")
      .active
        a
          &:before
            background: $green-default

@media screen and (max-width: 374px)
  .banner
    &__img
      width: 300px
      height: 300px
    &__topCasino
      &-item
        flex: 0 0 290px
        padding: 9px 15px 10px
      &-name
        margin-right: 8px
        &-subtitle
          line-height: 15px
      &-btn
        flex-shrink: 0
        padding: 9px 10px 6px
  .top-casino
    &__name
      width: 120px
      max-width: 120px
      &-wrap
        margin-left: 10px
    &__bonus
      width: 80px
      max-width: 80px
    &__buttons
      &-play
        padding: 9px 8px 6px
  .newest-slots
    &__list
      &-item
        width: 133px
        .img-wrap
          width: 133px
          height: 133px
  .casino-reviews
    &__list
      &-item
        flex: 0 0 280px
  .how
    &__about
      &-casino
        .top-casino
          &__name
            width: 120px
            max-width: 120px
          &__bonus
            width: 80px
            max-width: 80px
      &-casinoInfo
        .play
          &__btns
            &-item
              width: 100%
    &__top
      width: 100%
  .footer
    &__info-wrap
      .left
        .logos-list
          width: 100%
      .right
        .form-subscribe
          input[type=email]
            margin-right: 0
            width: 100%
          .green-btn
            width: 100%
            margin-top: 10px
  .bottom-bar
    &__list
      &-item
        a
          padding: 0 15px