$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$yellow-bg: #fef3e2
$light-green: #F0F9F4
$white: #FFFFFF

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif
$font-otomarine: Otomarine, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  height: auto
  overflow-x: hidden
  overscroll-behavior: none
  width: 100vw
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .3s linear
  display: inline-block
  border-radius: 2px

.box-shadow
  box-shadow: 0 4px 20px rgba(228,228,228,.5)

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.grey-btn
  background-color: #353535
  &:hover
    background-color: darken(#353535,2%)

.border-btn
  color: $green-default
  border: 1px solid $gray-light
  &:hover
    border-color: $green-default

.title-1
  font-size: 40px
  line-height: 45px
  color: $dark
  font-family: $font-otomarine
  text-align: center
  letter-spacing: -0.02em

.title-2,
.title-2-oto
  font-size: 28px
  line-height: 32px
  color: $dark
  margin-bottom: 12px

.title-2-oto
  margin-bottom: 9px
  font-family: $font-otomarine
  letter-spacing: -0.02em

.title-3
  font-size: 20px
  line-height: 25px
  color: $dark
  margin-bottom: 13px

.main-subtitle
  font-family: $font-gilroy-regular
  font-size: 16px
  line-height: 22px
  color: $gray-semi
  width: 50%
  text-align: center
  margin: 12px auto 0

.link
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1

.about-text
  font-size: 16px
  line-height: 22px
  color: $gray-semi
  text-align: left
  letter-spacing: 0.003em
  font-family: $font-gilroy-regular
  &__text
    margin-bottom: 22px
  &__list
    li
      list-style-type: disc
      list-style-position: inside

.star
  margin-right: 4px
  mask-image: url("../img/star.svg")
  mask-size: contain
  width: 15px
  height: 15px
  background-color: rgba(0,0,0,.1)
  &:last-child
    margin-right: 0

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

.header,
.footer
  &__author
    display: flex
    justify-content: space-between
    align-items: center
    border: 0.75px solid #EBEBEB
    background: #FBFBFB
    height: 44px
    padding: 0 13px 0 16px
    border-radius: 4px
    &-title
      color: $gray-semi
      font-size: 12px
      margin-right: 14px
    &-photo
      width: 24px
      height: 24px
      border-radius: 50%
      overflow: hidden
      margin-right: 9px
    &-name
      color: $dark
      font-size: 14px
    &-info
      mask-image: url("../img/info-icon.svg")
      mask-repeat: no-repeat
      mask-size: contain
      background: #BFBFBF
      width: 18px
      height: 18px
      cursor: pointer
      margin-left: 14px

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.header
  background: $white
  padding-top: 13px
  position: sticky
  top: 0
  z-index: 10
  > .content-center
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    width: 115px
    height: 41px
  &__form-search
    position: relative
    width: 60.7%
    margin-left: auto
    input[type=search]
      background: #FAFAFA
      border: 0.75px solid #F1F1F1
      padding: 15px 50px 13px 20px
      height: 44px
    .btn-submit
      position: absolute
      top: 15px
      right: 20px
      width: 15px
      height: 15px
      mask-image: url("../img/search-icon.svg")
      background-color: $dark
      padding: 0
      border: none
      cursor: pointer
  &__author
    margin-left: 25px
  &__subheader
    background: #262626
    margin-top: 13px
    &-menu
      height: 60px
      margin: 0 -16px
      display: flex
      li
        margin-right: 15px
        height: 100%
        flex-shrink: 0
        &:last-child
          margin-right: 0
        &:hover
          .submenu
            opacity: 1
            visibility: visible
        a
          font-size: 16px
          color: $white
          display: flex
          align-items: center
          height: 100%
          padding: 3px 16px 0
          &:hover
            background: #3A3A3A
        .submenu
          width: 100%
          background: #262626
          border-radius: 0 0 4px 4px
          transition: .2s linear
          opacity: 0
          visibility: hidden
          position: relative
          z-index: 3
          li
            margin-right: 0
            a
              font-size: 16px
              color: $white
              padding: 12px 16px 8px
              &:hover
                background: #3A3A3A
      .dropdown-icon
        >a
          &:after
            content: ''
            mask-image: url("../img/arrow-down.svg")
            mask-repeat: no-repeat
            mask-size: contain
            background: $white
            display: inline-block
            width: 9px
            height: 5px
            margin-left: 11px
            vertical-align: middle
  &__burger-menu
    margin-left: 15px
    display: none

.header.open
  .burger-toggle span
    background-color: transparent
    &:before
      transform: rotate(45deg) translate3d(0, 0px, 0)
    &:after
      transform: rotate(-45deg) translate3d(0, 0px, 0)
  + .mob-menu
    transform: translate3d(0, 0, 0)

.burger-toggle span
  width: 14px
  position: relative
  transition: background-color .3s ease
  display: block
  height: 2px
  background-color: #1C1C1C
  border-radius: 1px
  &:before, &:after
    content: ''
    display: block
    height: 2px
    background-color: #1C1C1C
    border-radius: 1px
    transition: transform .3s ease
    transform: rotate(0deg)
    position: absolute
    top: 0
    left: 0
    width: 100%
  &:before
    transform: rotate(0deg) translate3d(0, 4px, 0)
  &:after
    transform: rotate(0deg) translate3d(0, -4px, 0)

.mob-menu
  position: absolute
  left: 0
  top: 50px
  margin: auto
  bottom: 0
  right: 0
  z-index: 20
  background: $white
  transform: translate3d(100vw, 0, 0)
  transition: transform .3s ease
  width: 100vw
  overflow-x: hidden

.mob-menu__nav
  margin: auto
  max-width: 500px
  padding: 20px 16px

.mob-menu__item, .mob-menu__dropdown__top
  color: #1C1C1C
  height: 71px
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: center

.mob-menu__item > span, .mob-menu__dropdown__top > span
  display: inline-block
  margin-left: 1rem
  font-size: .875rem

.mob-menu__item ~ .mob-menu__item, .mob-menu__dropdown__top ~ .mob-menu__item
  border-top: 1px solid #E9E9E9

.mob-menu__item.--dropdown.open + .mob-menu__dropdown
  transform: translate3d(0, 0, 0)

.mob-menu-arrow
  margin-left: auto

.mob-menu__dropdown
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto
  transform: translate3d(100vw, 0, 0)
  transition: transform .3s ease
  background: #fff

.banner
  background: $yellow-bg
  padding: 74px 0 73px
  position: relative
  .content-center
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    z-index: 1
  &__left
    width: 370px
    margin-top: 5px
    &-title
      font-family: $font-otomarine
      font-size: 44px
      line-height: 52px
      color: $dark
      letter-spacing: -0.01em
    &-txt
      font-size: 16px
      line-height: 22px
      color: $gray-semi
      margin-top: 18px
      width: 88%
      opacity: .8
    &-btn
      margin-top: 40px
      padding: 16px 43px 13px
  &__topCasino
    width: 377px
    background: $white
    display: flex
    flex-direction: column
    padding: 0 14px
    &-item
      display: flex
      justify-content: space-between
      align-items: center
      padding: 16px 0 17px
      border-bottom: 1px solid $gray-light
      &:last-child
        border-bottom: none
    &-img
      width: 38px
      height: 38px
      border-radius: 50%
      margin-right: 16px
      flex-shrink: 0
      overflow: hidden
    &-name
      &-title
        font-size: 12px
        color: $gray-semi
      &-subtitle
        font-size: 14px
        color: $dark
        margin-top: 5px
    &-btn
      margin-left: auto
      font-size: 12px
      padding: 9px 18px 6px
  &__img
    background: url("../img/banner-img.png") no-repeat 0 0/contain
    width: 518px
    height: 398px
    position: absolute
    bottom: 30px
    left: 0
    right: 0
    margin: auto
    transform: translateX(20px)

.top-casino,
.newest-casinos,
.newest-slots,
.promotions,
.how__top
  &__info
    display: none
  .toggle-list
    display: block

.top-casino
  text-align: center
  padding: 83px 0 80px
  &__filter
    margin-top: 39px
    position: relative
    .top-casino__filter-wrap::-webkit-scrollbar
      display: none
    &-wrap
      overflow-x: scroll
      position: relative
      width: calc(100% - 80px)
    &-btns
      position: absolute
      top: 0
      right: 0
      width: 80px
      height: 40px
      background: $white
      border: 1px solid #E9E9E9
      box-shadow: -20px 10px 10px rgba(255,255,255,.9)
      border-radius: 100px
      z-index: 2
      display: flex
      justify-content: center
      align-items: center
      .left-btn,
      .right-btn
        mask-image: url("../img/arrow-right.svg")
        mask-repeat: no-repeat
        mask-size: contain
        width: 9px
        height: 13px
        cursor: pointer
      .left-btn
        transform: rotate(180deg)
        background-color: #C8C8C8
        margin-right: 33px
      .right-btn
        background-color: $dark
    &-list
      width: max-content
      display: flex
    &-item
      font-size: 14px
      color: $gray-semi
      border: 1px solid #E9E9E9
      border-radius: 100px
      padding: 12px 16px 9px
      margin-right: 8px
      cursor: pointer
      letter-spacing: -0.015em
      &:last-child
        margin-right: 0
      &:hover
        background: #F7FBF9
        color: $green-default
        border-color: $green-default
    .active
      background: #F7FBF9
      color: $green-default
      border-color: $green-default
    .filter-icon
      &:before
        content: ""
        width: 20px
        height: 20px
        display: inline-block
        vertical-align: top
        margin: -3px 10px 0 0
    .filter-new
      &:before
        background: url("../img/new-icon.png") no-repeat 0 0/contain
    .filter-checked
      &:before
        background: url("../img/checked-icon.png") no-repeat 0 0/contain
    .filter-licenced
      &:before
        background: url("../img/licensed-icon.png") no-repeat 0 0/contain
  &__head
    display: flex
    padding: 32px 0 22px 40px
    text-align: left
    &-item
      font-family: $font-gilroy-semibold
      font-size: 12px
      color: $gray-semi
      text-transform: uppercase
      letter-spacing: 0.05em
      &:nth-child(1)
        width: 328px
      &:nth-child(2)
        width: 299px
  &__list
    text-align: left
    padding: 0 39px
    &-item
      display: flex
      align-items: center
      justify-content: space-between
      padding: 25px 0
      border-bottom: 1px solid $gray-light
    .top-first
      background: $light
      .top-casino__name-icons-cup
        background: #FFB933
    .top-second
      background: rgba($light,.6)
      .top-casino__name-icons-cup
        background: #B6B6B6
    .top-third
      background: rgba($light,.2)
      .top-casino__name-icons-cup
        background: #AB6C64
    .top-first,
    .top-second,
    .top-third
      margin: 0 -40px
      padding: 25px 40px
  &__name
    display: flex
    align-items: center
    width: 287px
    max-width: 287px
    &-img
      width: 60px
      height: 60px
      border-radius: 50%
      overflow: hidden
      flex-shrink: 0
    &-wrap
      margin-left: 21px
    &-title
      font-size: 20px
      line-height: 20px
      color: $dark
      letter-spacing: -0.02em
    &-icons
      margin-top: 5px
      display: flex
      align-items: center
      &-cup
        width: 16px
        height: 16px
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        margin-right: 12px
        &:before
          content: ""
          background: url("../img/cup.svg") no-repeat 0 0/contain
          width: 8px
          height: 8px
      &-country
        width: 16px
        height: 16px
        border-radius: 50%
        margin-right: 18px
      .country-in
        background: url("../img/country-in.svg") no-repeat 0 0/contain
      .country-ua
        background: url("../img/country-ua.svg") no-repeat 0 0/contain
      .country-fr
        background: url("../img/country-fr.svg") no-repeat 0 0/contain
      .country-ge
        background: url("../img/country-gr.svg") no-repeat 0 0/contain
      &-rate
        font-size: 14px
        color: $gray-semi
        margin-top: 3px
        &:before
          content: ""
          mask-image: url("../img/star.svg")
          mask-repeat: no-repeat
          mask-size: contain
          background-color: #FFB933
          width: 16px
          height: 16px
          display: inline-block
          vertical-align: top
          margin: -1px 8px 0 0
      .no-rating
        &:before
          background-color: #BFBFBF
      &-labelMob
        display: none
  &__bonus
    width: 255px
    p
      font-size: 18px
      color: $dark
    p+p
      font-size: 14px
      color: $gray-semi
      margin-top: 7px
    &-mob
      display: none
      p
        font-size: 14px
        line-height: 16px
      p+p
        font-size: 12px
        line-height: 14px
  .bonus-na
    .top-casino__bonus-desk
      p
        font-size: 18px
        line-height: 23px
        color: $gray-semi
      p+p
        display: none
    .top-casino__bonus-mob
      p
        font-size: 14px
        line-height: 16px
        color: $gray-semi
      p+p
        display: none
  .best-mobile
    background: url("../img/award_best-mobile.svg") no-repeat 0 0/contain
  .bitcoin
    background: url("../img/award_bitcoin.svg") no-repeat 0 0/contain
  .users-choice
    background: url("../img/award_users-choice.svg") no-repeat 0 0/contain
  .lot-of-games
    background: url("../img/award_lot-games.svg") no-repeat 0 0/contain
  .best-new
    background: url("../img/award_best-new.svg") no-repeat 0 0/contain
  &__label
    display: flex
    align-items: center
    max-width: 160px
    width: 160px
    &-icon
      width: 35px
      height: 35px
    &-text
      margin-left: 17px
      font-size: 14px
      line-height: 20px
      color: $gray-semi
  .no-awards
    .top-casino__label-text
      margin-left: 0
  &__buttons
    display: flex
    align-items: center
    font-size: 14px
    &-review
      padding: 13px 40px 10px
      margin-right: 19px
    &-play
      padding: 14px 30px 11px
  &__more-btn
    width: 100%
    margin-top: 50px
    border-radius: 2px
    padding: 16px 80px 13px
    cursor: pointer
  &__about-text
    margin-top: 82px

.quick-navigation
  &__wrap
    background: $light
    padding: 83px 0 60px
  &__list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 45px
    &-item
      width: 24%
      background: $white
      padding: 23px 30px 20px
      border-radius: 6px
      margin-bottom: 20px
      position: relative
      transition: box-shadow .2s linear
      &:hover
        box-shadow: 0 4px 40px rgba(228,228,228,1)
    &-wrap
      display: flex
      align-items: center
    &-img
      width: 50px
      height: 50px
      margin-right: 20px
    &-txt
      &-title
        font-size: 18px
        line-height: 18px
        color: $dark
        letter-spacing: -0.02em
      &-description
        margin-top: 7px
        font-family: $font-gilroy-regular
        color: $gray-semi
        font-size: 14px
    &-btn
      margin-top: 18px
      width: 100%
      padding: 13px 0 10px
      border-radius: 3px
      text-align: center
  &__txt
    padding: 82px 0 57px

.newest-casinos
  text-align: center
  &__wrap
    background: $light
    padding: 83px 0 80px
  &__title
    margin-top: 0
  &__subtitle
    width: 60%
  &__list
    display: flex
    flex-wrap: wrap
    margin-top: 32px
    text-align: left
    &-item
      width: 24%
      min-height: 279px
      background: $white
      text-align: center
      position: relative
      margin-bottom: 20px
      outline: none
      border-radius: 6px
      padding: 20px 30px 20px
      overflow: hidden
      transition: box-shadow .2s linear
      margin-right: 15px
      &:nth-child(4n)
        margin-right: 0
      &:hover
        box-shadow: 0 4px 40px rgba(228,228,228,1)
      .info-btn
        width: 20px
        height: 20px
        mask-image: url("../img/info-icon.svg")
        mask-repeat: no-repeat
        mask-size: contain
        background-color: $gray-light
        cursor: pointer
        position: absolute
        top: 20px
        right: 20px
        transition: background-color .3s linear
        &:hover
          background-color: $dark
      .info-popup
        background: $white
        padding: 4px 15px
        position: absolute
        top: 45px
        right: 15px
        z-index: 1
        box-shadow: 0 4px 20px rgba(228,228,228,.5)
        width: 222px
        transform: translateY(240px)
        opacity: 0
        transition: transform .4s linear, opacity .4s linear
        &__list
          &-item
            border-bottom: 1px solid #F6F6F6
            display: flex
            justify-content: space-between
            align-items: center
            padding: 10px 0 10px
            &:last-child
              border-bottom: 0
            .left-side
              font-size: 12px
              line-height: 12px
              color: $gray-semi
            .right-side
              font-size: 14px
              color: $dark
      .img-wrap
        width: 80px
        height: 80px
        margin: 0 auto
      .title
        color: $dark
        font-size: 18px
        margin-top: 22px
      .newest-rate
        margin-top: 14px
        display: flex
        justify-content: center
        .active-star
          background-color: #FFB933
      .newest-rate-text
        font-size: 14px
        color: $gray-semi
        margin-top: 13px
      .border-btn
        padding: 13px 0 10px
        width: 100%
        margin-top: 12px
  &__txt
    background: $white
    padding: 82px 0 57px
  &__info
    .newest-casinos__list
      margin-top: 0
  &__more-btn
    margin-top: 30px
    padding: 16px 80px 13px
    width: 100%
    cursor: pointer

.newest-slots
  padding: 83px 0 80px
  text-align: center
  background: #262626
  color: $white
  &__title
    color: $white
  &__subtitle
    width: 50%
    color: $white
  &__list
    margin-top: 45px
    display: flex
    flex-wrap: wrap
    text-align: left
    &-item
      margin-bottom: 20px
      margin-right: 20px
      position: relative
      width: 178px
      &:nth-child(6n)
        margin-right: 0
      &:hover
        .title
          color: $green-default
      .img-wrap
        width: 178px
        height: 178px
        overflow: hidden
        border-radius: 4px
        img
          width: 100%
          height: 100%
          object-fit: cover
      .title
        margin-top: 15px
        font-size: 16px
        letter-spacing: 0.02em
        transition: .5s linear
      .subtitle
        margin-top: 4px
        font-size: 14px
        font-family: $font-gilroy-regular
  &__info
    .newest-slots__list
      margin-top: 0
  &__more-btn
    margin-top: 27px
    padding: 16px 80px 13px
    width: 100%
    cursor: pointer
  &__about-text
    margin-top: 74px

.casino-reviews
  &__wrap
    background: $light
    padding: 83px 0 60px
  &__subtitle
    width: 60%
  &__list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 39px
    border-radius: 6px
    &-item
      background: $white
      width: 32%
      padding: 33px 36px 50px
      margin-bottom: 20px
      display: flex
      border-radius: 6px
      flex-direction: column
      .title-wrap
        display: flex
        align-items: center
        .img-wrap
          width: 50px
          height: 50px
          margin-right: 20px
        .title
          font-size: 20px
          line-height: 22px
          color: $dark
      .description
        font-family: $font-gilroy-regular
        margin-top: 17px
        font-size: 14px
        line-height: 20px
        color: $gray-semi
  &__txt
    background: $white
    padding: 82px 0 57px

.subscribe
  background: $yellow-bg
  .content-center
    display: flex
    justify-content: center
    align-items: center
  &__img
    width: 496px
    margin-left: -106px
    flex-shrink: 0
  &__wrap
    margin-left: 86px
    width: 50%
  &__title
    font-family: $font-otomarine
    font-size: 40px
    line-height: 45px
    color: $dark
  &__form
    margin-top: 28px
    input[type="email"]
      width: 71%
    .green-btn
      padding: 16px 53px 14px
      border: none
      cursor: pointer
    .privacy
      font-family: $font-gilroy-regular
      font-size: 14px
      line-height: 20px
      color: $gray-semi
      margin-top: 27px
      a
        color: $gray-semi
        text-decoration: underline
        &:hover
          text-decoration: none

.faq
  padding: 86px 0 100px
  &__subtitle
    width: 50%
  &__wrap
    display: flex
    justify-content: space-between
    margin-top: 40px
  &__list
    width: 49.3%
    &-item
      background: $white
      list-style: none
      border-radius: 3px
      cursor: pointer
      margin-bottom: 10px
      transition: box-shadow .2s linear
      &:hover
        box-shadow: 0 4px 30px rgba(228,228,228,1)
      summary::-webkit-details-marker
        display: none
      > summary
        list-style: none
      &[open]
        box-shadow: 0 4px 30px rgba(228,228,228,1)
        > summary:before
          transform: rotate(180deg)
      &-title
        font-size: 16px
        color: $dark
        outline: none
        position: relative
        padding: 28px 30px 23px 30px
        display: flex
        align-items: center
        height: 100%
        &:before
          content: ""
          mask-image: url("../img/arrow-down.svg")
          mask-size: 14px 9px
          background-repeat: no-repeat
          background-color: $green-default
          width: 14px
          height: 9px
          display: block
          position: absolute
          top: 45%
          right: 28px
      &-text
        font-size: 14px
        line-height: 20px
        color: $gray-semi
        padding: 0 42px 30px

.promotions
  background: $light
  padding: 83px 0 70px
  &__list
    margin-top: 32px
    display: flex
    &-item
      width: 24%
      margin-right: 20px
      &:nth-child(4n)
        margin-right: 0
      &-img
        border-radius: 6px
        overflow: hidden
        height: 160px
      &-title
        font-size: 18px
        line-height: 26px
        color: $dark
        display: inline-block
        margin-top: 21px
        &:hover
          text-decoration: underline
      &-date
        font-size: 12px
        color: $gray-semi
        margin-top: 22px
  &__more-btn
    margin-top: 45px
    padding: 16px 80px 13px
    width: 100%
    text-align: center
    cursor: pointer

.how
  padding: 83px 0 80px
  .content-center
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__about
    width: 63.6%
    .title-1
      text-align: left
      margin-bottom: 12px
    .title-2
      letter-spacing: -0.02em
      margin-bottom: 9px
    &-img
      margin-bottom: 35px
    &-top
      margin-top: 52px
      &-list
        margin-top: 50px
        li
          padding-bottom: 40px
          border-bottom: 1px solid $gray-light
          margin-bottom: 34px
          &:last-child
            margin-bottom: 0
          .title-3
            padding-left: 44px
            position: relative
            &:before
              content: ""
              width: 30px
              height: 30px
              border-radius: 50%
              background: rgba($green-default,.12)
              display: flex
              justify-content: center
              align-items: center
              font-family: $font-gilroy-semibold
              font-size: 16px
              color: $green-default
              position: absolute
              top: -4px
              left: 0
          .about-text__text
            margin: 20px 0 0
          &:nth-child(1)
            .title-3
              &:before
                content: "1"
          &:nth-child(2)
            .title-3
              &:before
                content: "2"
          &:nth-child(3)
            .title-3
              &:before
                content: "3"
    &-quote
      margin-top: 53px
      .quote
        background: $light
        padding: 31px 31px 31px
        margin-top: 32px
        &__author
          display: flex
          align-items: center
          &-img
            width: 45px
            height: 45px
            border-radius: 50%
            overflow: hidden
          &-txt
            margin-left: 16px
            &-name
              font-size: 16px
              color: $dark
            &-sub
              font-size: 14px
              color: $gray-semi
              margin-top: 5px
        &__text
          font-family: $font-gilroy-regular
          margin-top: 18px
          font-size: 18px
          line-height: 26px
          color: $dark
    &-casino
      margin-top: 53px
      .about-text
        .green-txt
          color: $green-default
        &__list
          margin-left: 20px
          margin-top: 34px
        .decimal
          li
            list-style-type: decimal
      .top-casino
        padding: 0
        margin: 39px 0 56px
        text-align: left
        &__head
          padding: 10px 0 10px 33px
          &-item
            &:nth-child(1)
              width: 287px
            &:nth-child(2)
              width: auto
        &__list
          margin-top: 0
          padding: 0
          &-item
            padding: 27px 0 27px 30px
        &__name
          width: 240px
          max-width: 240px
          &-icons
            &-country
              width: 20px
              height: 20px
    &-casinoInfo
      margin-top: 50px
      .top-casino
        padding: 0
        text-align: left
        position: relative
        .top-casino__list-item
          border-bottom: 0
          background: $light
          padding: 30px 30px 33px
        &__name
          width: 240px
          max-width: 240px
          &-img
            width: 69px
            height: 69px
          &-icons
            &-country
              width: 20px
              height: 20px
        &__bonus
          width: 296px
      .casinoInfo
        padding: 41px 29px 37px
        border: 1px solid #E2E2E2
        margin-top: -1px
        &__text
          margin-bottom: 38px
        &__info-list
          margin-top: 27px
          &-item
            margin-bottom: 24px
            display: flex
            font-size: 16px
            line-height: 22px
            &:last-child
              margin-bottom: 0
            .key
              width: 37.5%
              color: $gray-semi
            .value
              width: 40%
              color: $dark
              span
                display: block
            a
              &:hover
                text-decoration: underline
      .play
        margin-top: 52px
        &__btns
          display: flex
          margin-top: 29px
          &-item
            width: 49%
            margin-right: 14px
            border: 1px solid $gray-light
            min-height: 90px
            display: flex
            align-items: center
            position: relative
            padding: 0 18px
            &:last-child
              margin-right: 0
            &-icon
              width: 50px
              height: 50px
              margin-right: 20px
              flex-shrink: 0
            &-txt
              .sub
                font-size: 14px
                color: #70788A
              .name
                font-size: 20px
                color: $dark
                margin-top: 8px
  &__top
    width: 32.1%
    &-title
      font-size: 18px
      color: $dark
    &-pagi
      margin-top: 32px
      display: flex
      border-bottom: 1px solid #E9E9E9
      &-item
        font-size: 16px
        color: $gray-semi
        padding-bottom: 21px
        margin-right: 30px
        border-bottom: 2px solid transparent
        margin-bottom: -1px
        cursor: pointer
        &:hover
          border-color: $green-default
      .active
        border-color: $green-default
    .top-casino
      padding: 0
      text-align: left
      &__list-item
        padding: 21px 0 20px
      &__name
        width: 200px
        max-width: 200px
        &-wrap
          margin-left: 19px
        &-img
          width: 38px
          height: 38px
        &-title
          font-size: 14px
          color: $dark
        &-icons
          margin-top: 7px
          &-rate
            font-size: 12px
            color: $gray-semi
            margin-top: 0
            &:before
              width: 13px
              height: 13px
      &__bonus
        margin-right: 15px
        width: 120px
        &-desk
          p
            font-size: 14px
          p+p
            font-size: 12px
            margin-top: 3px
    &-show-all
      margin-top: 30px
      width: 100%
      text-align: center
      padding: 14px 0 11px
      cursor: pointer

.favourite
  padding: 84px 0 82px
  background: $light
  &__list
    margin-top: 39px
    display: flex
    justify-content: center
    flex-wrap: wrap
    &-item
      width: 195px
      height: 90px
      border: 1px solid $gray-light
      display: flex
      align-items: center
      background: $white
      margin: 0 -1px -1px 0
      padding-left: 29px
      &-img
        width: 40px
        height: 40px
        border-radius: 50%
        margin-right: 15px
        flex-shrink: 0
      &-name
        font-size: 14px
        color: $dark

.footer
  background: $dark
  padding: 48px 0 90px
  &__top-wrap
    display: flex
    align-items: center
    padding-bottom: 57px
    border-bottom: 1px solid #363636
  &__logo
    width: 127px
    height: 42px
    img
      width: 100%
  &__slogan
    font-size: 14px
    line-height: 20px
    font-family: $font-gilroy-regular
    color: $gray-semi
    width: 175px
    margin-left: 53px
  &__author
    margin-left: auto
    margin-right: 13px
    border-color: #363636
    background: transparent
    padding: 0 15px 0 16px
    &-title
      margin-top: 3px
    &-name
      color: $white
      margin-top: 3px
    &-info
      background: #BFBFBF
  &__to-top
    width: 44px
    height: 44px
    background: transparent
    border: 1px solid #363636
    display: flex
    justify-content: center
    align-items: center
    border-radius: 4px
    &:before
      content: ""
      width: 0
      height: 0
      border-style: solid
      border-width: 0 5px 6px 5px
      border-color: transparent transparent $white transparent
    &:hover
      border-color: lighten(#363636, 10%)
  &__info-wrap
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding: 48px 0 64px
    .left
      width: 33%
      display: flex
      flex-wrap: wrap
      .green-btn
        padding: 16px 35px 13px
        border-radius: 2px
      .logos-list
        width: 100%
        margin-top: 94px
        display: flex
        align-items: center
        li
          margin-right: 43px
          &:last-child
            margin-right: 0
          &:nth-child(1)
            width: 100px
          &:nth-child(2)
            width: 33px
          &:nth-child(3)
            width: 28px
          &:nth-child(4)
            width: 61px
    .right
      width: 59%
      display: flex
      flex-wrap: wrap
      margin-top: 15px
      .footer-menu,
      .footer-sub-menu
        display: flex
        li
          margin-right: 31px
          &:last-child
            margin-right: 0
          a
            font-size: 16px
            color: $white
      .footer-menu
        margin-right: 32px
      .footer-sub-menu
        li
          a
            color: #7f7f7f
      .form-subscribe
        width: 100%
        margin-top: 55px
        p
          font-family: $font-gilroy-medium
          color: $white
          font-size: 20px
          margin-bottom: 21px
        .green-btn
          padding: 16px 53px 15px
          border: none
          cursor: pointer
  &__copyright
    padding: 69px 0 0
    display: flex
    justify-content: space-between
    .copy,
    .created
      font-size: 14px
      color: #737373
    .social
      display: flex
      justify-content: center
      li
        margin: 0 11px
        a
          background-color: $white
          display: block
          mask-repeat: no-repeat
          transition: background-color .3s linear
          &:hover
            background-color: $green-default
        .fb
          mask-image: url("../img/footer-facebook.svg")
          mask-size: 17px 18px
          width: 13px
          height: 17px
        .insta
          mask-image: url("../img/footer-insta.svg")
          mask-size: 17px 18px
          width: 17px
          height: 17px
        .linkedin
          mask-image: url("../img/footer-linkedin.svg")
          mask-size: 17px 18px
          width: 17px
          height: 17px
        .twitter
          mask-image: url("../img/footer-twitter.svg")
          mask-size: 17px 18px
          width: 17px
          height: 17px
.bottom-bar
  display: none