.banner
  .content-center
    .banner__left
      .banner__left-title Best Casinos & Slots in India
      .banner__left-txt.
        Check out our hand-picked list of favorites for this month's casinos
      a(href="#" target="_blank").banner__left-btn.btn.green-btn Casino Review
    ul.banner__topCasino
      li.banner__topCasino-item
        .banner__topCasino-img
          img(src="img/banner_top-casino-1.png" alt="")
        .banner__topCasino-name
          .banner__topCasino-name-title Parimatch
          .banner__topCasino-name-subtitle 200 Free spins
        a(href="#" target="_blank").banner__topCasino-btn.btn.green-btn Play now
      li.banner__topCasino-item
        .banner__topCasino-img
          img(src="img/banner_top-casino-2.png" alt="")
        .banner__topCasino-name
          .banner__topCasino-name-title Betsson Casino
          .banner__topCasino-name-subtitle $400 Deposit Bonus
        a(href="#" target="_blank").banner__topCasino-btn.btn.green-btn Play now
      li.banner__topCasino-item
        .banner__topCasino-img
          img(src="img/banner_top-casino-3.png" alt="")
        .banner__topCasino-name
          .banner__topCasino-name-title Bit Starz Casino
          .banner__topCasino-name-subtitle 150 Free spins
        a(href="#" target="_blank").banner__topCasino-btn.btn.green-btn Play now
      li.banner__topCasino-item
        .banner__topCasino-img
          img(src="img/banner_top-casino-4.png" alt="")
        .banner__topCasino-name
          .banner__topCasino-name-title Parimatch
          .banner__topCasino-name-subtitle $200 Welcome Bonus
        a(href="#" target="_blank").banner__topCasino-btn.btn.green-btn Play now
      li.banner__topCasino-item
        .banner__topCasino-img
          img(src="img/banner_top-casino-5.png" alt="")
        .banner__topCasino-name
          .banner__topCasino-name-title Betsafe Casino
          .banner__topCasino-name-subtitle 100 Free spins
        a(href="#" target="_blank").banner__topCasino-btn.btn.green-btn Play now
  .banner__img

.top-casino
  .content-center
    h2.title-1.top-casino__title Top online casinos for India in 2021
    p.main-subtitle.top-casino__subtitle.
      Check out our hand-picked list of favorites for the month that has the most
      generous no deposit, free spins and / or matching bonuses:
    .top-casino__filter
      .top-casino__filter-btns
        .left-btn
        .right-btn
      .top-casino__filter-wrap
        ul.top-casino__filter-list
          li.top-casino__filter-item.border-btn.active All
          li.top-casino__filter-item.border-btn.filter-icon.filter-new New
          li.top-casino__filter-item.border-btn.filter-icon.filter-checked Checked
          li.top-casino__filter-item.border-btn.filter-icon.filter-licenced Licensed
          li.top-casino__filter-item.border-btn Private
          li.top-casino__filter-item.border-btn Without Deposit
          li.top-casino__filter-item.border-btn The most reliable
          li.top-casino__filter-item.border-btn For newbies
          li.top-casino__filter-item.border-btn Popular Casino
          li.top-casino__filter-item.border-btn WebMoney
          li.top-casino__filter-item.border-btn The most reliable
          li.top-casino__filter-item.border-btn For newbies
          li.top-casino__filter-item.border-btn Popular Casino
          li.top-casino__filter-item.border-btn WebMoney
    .top-casino__head
      .top-casino__head-item casino name
      .top-casino__head-item welcome bonus
      .top-casino__head-item awards
    ul.top-casino__list
      li.top-casino__list-item.top-first
        .top-casino__name
          .top-casino__name-img
            img(src="img/top-casino-1.png" alt="")
          .top-casino__name-wrap
            .top-casino__name-title Bao Casino
            .top-casino__name-icons
              .top-casino__name-icons-cup
              .top-casino__name-icons-country.country-in
              .top-casino__name-icons-rate 9.25 / 10
              .top-casino__name-icons-labelMob.bitcoin(data-title="Bitcoin")
        .top-casino__bonus
          .top-casino__bonus-desk
            p $ 4000 + 200 Free Spins
            p With 200 free spins
          .top-casino__bonus-mob
            p $4000
            p 200 free spins
        .top-casino__label
          .top-casino__label-icon.best-mobile
          p.top-casino__label-text Best #[br]Mobile Casino
        .top-casino__buttons
          a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
          a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
      li.top-casino__list-item.top-second
        .top-casino__name
          .top-casino__name-img
            img(src="img/top-casino-2.png" alt="")
          .top-casino__name-wrap
            .top-casino__name-title Parimatch Casino
            .top-casino__name-icons
              .top-casino__name-icons-cup
              .top-casino__name-icons-country.country-ua
              .top-casino__name-icons-rate 9.25 / 10
              .top-casino__name-icons-labelMob.bitcoin
        .top-casino__bonus
          .top-casino__bonus-desk
            p $ 4000 + 200 Free Spins
            p With 200 free spins
          .top-casino__bonus-mob
            p $4000
            p 200 free spins
        .top-casino__label.no-awards
          p.top-casino__label-text Casino has no awards yet
        .top-casino__buttons
          a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
          a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
      li.top-casino__list-item.top-third
        .top-casino__name
          .top-casino__name-img
            img(src="img/top-casino-3.png" alt="")
          .top-casino__name-wrap
            .top-casino__name-title Betsson Casino
            .top-casino__name-icons
              .top-casino__name-icons-cup
              .top-casino__name-icons-country.country-in
              .top-casino__name-icons-rate 9.25 / 10
              .top-casino__name-icons-labelMob.bitcoin
        .top-casino__bonus
          .top-casino__bonus-desk
            p $ 4000 + 200 Free Spins
            p With 200 free spins
          .top-casino__bonus-mob
            p $4000
            p 200 free spins
        .top-casino__label
          .top-casino__label-icon.users-choice
          p.top-casino__label-text Users choice
        .top-casino__buttons
          a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
          a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
      li.top-casino__list-item
        .top-casino__name
          .top-casino__name-img
            img(src="img/top-casino-4.png" alt="")
          .top-casino__name-wrap
            .top-casino__name-title Betsafe Casino
            .top-casino__name-icons
              .top-casino__name-icons-country.country-fr
              .top-casino__name-icons-rate.no-rating No rating
              .top-casino__name-icons-labelMob.bitcoin
        .top-casino__bonus
          .top-casino__bonus-desk
            p $ 4000 + 200 Free Spins
            p With 200 free spins
          .top-casino__bonus-mob
            p $4000
            p 200 free spins
        .top-casino__label
          .top-casino__label-icon.bitcoin
          p.top-casino__label-text Bitcoin Casino
        .top-casino__buttons
          a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
          a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
      li.top-casino__list-item
        .top-casino__name
          .top-casino__name-img
            img(src="img/top-casino-5.png" alt="")
          .top-casino__name-wrap
            .top-casino__name-title Bit Starz Casino
            .top-casino__name-icons
              .top-casino__name-icons-country.country-ua
              .top-casino__name-icons-rate 9.25 / 10
              .top-casino__name-icons-labelMob.bitcoin
        .top-casino__bonus
          .top-casino__bonus-desk
            p $ 4000 + 200 Free Spins
            p With 200 free spins
          .top-casino__bonus-mob
            p $4000
            p 200 free spins
        .top-casino__label
          .top-casino__label-icon.lot-of-games
          p.top-casino__label-text A lot of games
        .top-casino__buttons
          a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
          a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
      li.top-casino__list-item
        .top-casino__name
          .top-casino__name-img
            img(src="img/top-casino-6.png" alt="")
          .top-casino__name-wrap
            .top-casino__name-title Cookie Casino
            .top-casino__name-icons
              .top-casino__name-icons-country.country-fr
              .top-casino__name-icons-rate 9.25 / 10
              .top-casino__name-icons-labelMob.bitcoin
        .top-casino__bonus.bonus-na
          .top-casino__bonus-desk
            p $ 4000 + 200 Free Spins
            p With 200 free spins
          .top-casino__bonus-mob
            p $4000
            p 200 free spins
        .top-casino__label
          .top-casino__label-icon.best-new
          p.top-casino__label-text Best New Casino
        .top-casino__buttons
          a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
          a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
      li.top-casino__list-item
        .top-casino__name
          .top-casino__name-img
            img(src="img/top-casino-7.png" alt="")
          .top-casino__name-wrap
            .top-casino__name-title Slotnite Casino
            .top-casino__name-icons
              .top-casino__name-icons-country.country-ua
              .top-casino__name-icons-rate 9.25 / 10
              .top-casino__name-icons-labelMob.bitcoin
        .top-casino__bonus
          .top-casino__bonus-desk
            p $ 4000 + 200 Free Spins
            p With 200 free spins
          .top-casino__bonus-mob
            p $4000
            p 200 free spins
        .top-casino__label
          .top-casino__label-icon.best-mobile
          p.top-casino__label-text Best #[br]Mobile casino
        .top-casino__buttons
          a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
          a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
      li.top-casino__list-item
        .top-casino__name
          .top-casino__name-img
            img(src="img/top-casino-8.png" alt="")
          .top-casino__name-wrap
            .top-casino__name-title Cosmowin
            .top-casino__name-icons
              .top-casino__name-icons-country.country-ua
              .top-casino__name-icons-rate 9.25 / 10
              .top-casino__name-icons-labelMob.bitcoin
        .top-casino__bonus
          .top-casino__bonus-desk
            p $ 4000 + 200 Free Spins
            p With 200 free spins
          .top-casino__bonus-mob
            p $4000
            p 200 free spins
        .top-casino__label
          .top-casino__label-icon.bitcoin
          p.top-casino__label-text Bitcoin Casino
        .top-casino__buttons
          a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
          a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
      li.top-casino__list-item
        .top-casino__name
          .top-casino__name-img
            img(src="img/top-casino-1.png" alt="")
          .top-casino__name-wrap
            .top-casino__name-title Bao Casino
            .top-casino__name-icons
              .top-casino__name-icons-country.country-in
              .top-casino__name-icons-rate 9.25 / 10
              .top-casino__name-icons-labelMob.bitcoin
        .top-casino__bonus
          .top-casino__bonus-desk
            p $ 4000 + 200 Free Spins
            p With 200 free spins
          .top-casino__bonus-mob
            p $4000
            p 200 free spins
        .top-casino__label
          .top-casino__label-icon.users-choice
          p.top-casino__label-text Users choice
        .top-casino__buttons
          a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
          a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
      li.top-casino__list-item
        .top-casino__name
          .top-casino__name-img
            img(src="img/top-casino-1.png" alt="")
          .top-casino__name-wrap
            .top-casino__name-title Bao Casino
            .top-casino__name-icons
              .top-casino__name-icons-country.country-ge
              .top-casino__name-icons-rate 9.25 / 10
              .top-casino__name-icons-labelMob.bitcoin
        .top-casino__bonus
          .top-casino__bonus-desk
            p $ 4000 + 200 Free Spins
            p With 200 free spins
          .top-casino__bonus-mob
            p $4000
            p 200 free spins
        .top-casino__label
          .top-casino__label-icon.best-new
          p.top-casino__label-text Best New Casino
        .top-casino__buttons
          a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
          a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
    .top-casino__info
      ul.top-casino__list
        li.top-casino__list-item
          .top-casino__name
            .top-casino__name-img
              img(src="img/top-casino-1.png" alt="")
            .top-casino__name-wrap
              .top-casino__name-title Bao Casino
              .top-casino__name-icons
                .top-casino__name-icons-country.country-in
                .top-casino__name-icons-rate 9.25 / 10
                .top-casino__name-icons-labelMob.bitcoin
          .top-casino__bonus
            .top-casino__bonus-desk
              p $ 4000 + 200 Free Spins
              p With 200 free spins
            .top-casino__bonus-mob
              p $4000
              p 200 free spins
          .top-casino__label
            .top-casino__label-icon.best-mobile
            p.top-casino__label-text Best #[br]Mobile Casino
          .top-casino__buttons
            a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
            a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
        li.top-casino__list-item
          .top-casino__name
            .top-casino__name-img
              img(src="img/top-casino-2.png" alt="")
            .top-casino__name-wrap
              .top-casino__name-title Parimatch Casino
              .top-casino__name-icons
                .top-casino__name-icons-country.country-ua
                .top-casino__name-icons-rate 9.25 / 10
                .top-casino__name-icons-labelMob.bitcoin
          .top-casino__bonus
            .top-casino__bonus-desk
              p $ 4000 + 200 Free Spins
              p With 200 free spins
            .top-casino__bonus-mob
              p $4000
              p 200 free spins
          .top-casino__label.no-awards
            p.top-casino__label-text Casino has no awards yet
          .top-casino__buttons
            a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
            a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
        li.top-casino__list-item
          .top-casino__name
            .top-casino__name-img
              img(src="img/top-casino-3.png" alt="")
            .top-casino__name-wrap
              .top-casino__name-title Betsson Casino
              .top-casino__name-icons
                .top-casino__name-icons-country.country-in
                .top-casino__name-icons-rate 9.25 / 10
                .top-casino__name-icons-labelMob.bitcoin
          .top-casino__bonus
            .top-casino__bonus-desk
              p $ 4000 + 200 Free Spins
              p With 200 free spins
            .top-casino__bonus-mob
              p $4000
              p 200 free spins
          .top-casino__label
            .top-casino__label-icon.users-choice
            p.top-casino__label-text Users choice
          .top-casino__buttons
            a(href="#" target="_blank").top-casino__buttons-review.btn.border-btn Review
            a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
    .btn.green-btn.top-casino__more-btn Show More (#[span 14])
    .top-casino__about-text.about-text
      .about-text__title.title-2-oto Online casinos in India
      .about-text__text.
        Gambling laws are toughening up in Australia as a result of
        government policies. However, these policies do not restrict
        players from making bets in the accepted online casinos. Players
        who decide to stick with unregulated establishments stand the risk
        of being defrauded. If you desire to win big in an online casino
        in Australia, you can succeed by following the simple guidelines.
      br
      br
      .about-text__title.title-2-oto Best Norway online casino
      .about-text__text.
        Although there is the myriad of online casino platform options
        open and available to Aussie players, the following sites are some
        of the best and trusted in Australia.
      p.about-text__list-title Top five picks:
      ul.about-text__list
        li BaoCasino;
        li Masonslots casino;
        li WooCasino;
        li Uptown Pokies;
        li House of Pokies;
.quick-navigation
  .quick-navigation__wrap
    .content-center
      h2.title-1.quick-navigation__title Quick Navigation
      p.main-subtitle.quick-navigation__subtitle.
        Check out our hand-picked list of favourites for the month that have
        the most generous no deposit, free spins and/or matching bonuses:
      ul.quick-navigation__list
        li.quick-navigation__list-item.box-shadow
          .quick-navigation__list-wrap
            .quick-navigation__list-img
              img(src="img/nav_blackjack.svg" alt="Blackjack")
            .quick-navigation__list-txt
              .quick-navigation__list-txt-title Blackjack
              .quick-navigation__list-txt-description 57 Casino
          a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
        li.quick-navigation__list-item.box-shadow
          .quick-navigation__list-wrap
            .quick-navigation__list-img
              img(src="img/nav_online-roulette.svg" alt="Online Roulette")
            .quick-navigation__list-txt
              .quick-navigation__list-txt-title Online Roulette
              .quick-navigation__list-txt-description 62 Casino
          a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
        li.quick-navigation__list-item.box-shadow
          .quick-navigation__list-wrap
            .quick-navigation__list-img
              img(src="img/nav_online-poker.svg" alt="Online Poker")
            .quick-navigation__list-txt
              .quick-navigation__list-txt-title Online Poker
              .quick-navigation__list-txt-description 123 Casino
          a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
        li.quick-navigation__list-item.box-shadow
          .quick-navigation__list-wrap
            .quick-navigation__list-img
              img(src="img/nav_live-dealer.svg" alt="Live Dealer")
            .quick-navigation__list-txt
              .quick-navigation__list-txt-title Live Dealer
              .quick-navigation__list-txt-description 85 Casino
          a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
        li.quick-navigation__list-item.box-shadow
          .quick-navigation__list-wrap
            .quick-navigation__list-img
              img(src="img/nav_baccarat.svg" alt="Baccarat")
            .quick-navigation__list-txt
              .quick-navigation__list-txt-title Baccarat
              .quick-navigation__list-txt-description 54 Casino
          a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
        li.quick-navigation__list-item.box-shadow
          .quick-navigation__list-wrap
            .quick-navigation__list-img
              img(src="img/nav_online-slots.svg" alt="Online Slots")
            .quick-navigation__list-txt
              .quick-navigation__list-txt-title Online Slots
              .quick-navigation__list-txt-description 210 Casino
          a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
        li.quick-navigation__list-item.box-shadow
          .quick-navigation__list-wrap
            .quick-navigation__list-img
              img(src="img/nav_video-poker.svg" alt="Video Poker")
            .quick-navigation__list-txt
              .quick-navigation__list-txt-title Video Poker
              .quick-navigation__list-txt-description 13 Casino
          a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
        li.quick-navigation__list-item.box-shadow
          .quick-navigation__list-wrap
            .quick-navigation__list-img
              img(src="img/nav_online-craps.svg" alt="Online Craps")
            .quick-navigation__list-txt
              .quick-navigation__list-txt-title Online Craps
              .quick-navigation__list-txt-description 23 Casino
          a(href="#" target="_blank").btn.quick-navigation__list-btn.border-btn View casino
  .quick-navigation__txt
    .content-center
      .quick-navigation__about-text.about-text
        .about-text__title.title-2-oto We Choose Only Legal Casinos
        .about-text__text.
          To play Norwegian casino games online safely, we recommend doing so on
          only regulated and licensed casino platforms. Also, make sure that our
          team can only nominate the titles whose license information has been
          thoroughly checked. If you stick to them, you can bet without worry.
          And by that we mean that your money will be safe and healthy and that
          you will get 100% profit.
        br
        br
        .about-text__title.title-2-oto Best India Online Casino
        .about-text__text.
          Doubtless, players can test the casinos themselves, but it is a long and
          time consuming period. Wise players choose to rely on experts - and
          that's crucial.
        .about-text__text.
          When considering an online casino, there are various strict procedures
          that our team of experts tend to follow. Therefore, we do not miss any
          important information you need to know.
        p.about-text__list-title.
          Highlighted below are some of the criteria used to evaluate whether a
          casino platform is suitable for our readers:
        ul.about-text__list
          li First impression of the site
          li The process of signing up for the site
          li Game selection available on the platform
          li Bonuses and promotions offered
          li Safety and security
          li Online customer support
          li Withdrawal / withdrawal procedure
        br
        .about-text__text.
          It is expected that some of the sections mentioned above will overlap.
          This is why, after writing a comprehensive review of a casino site, we
          take a fresh look at the sites and examine as a whole. Once that is done,
          we will give the site a review.
.newest-casinos
  .newest-casinos__wrap
    .content-center
      h2.title-1.newest-casinos__title Newest Online Casinos
      p.main-subtitle.newest-casinos__subtitle.
        The best new casinos added to our listing, including detailed
        casino reviews and ratings, bonuses, promotions.
      ul.newest-casinos__list
        li.newest-casinos__list-item.box-shadow
          .info-btn
          .info-popup
            ul.info-popup__list
              li.info-popup__list-item
                .left-side Accepts Indian Players
                .right-side Yes
              li.info-popup__list-item
                .left-side Estabilished
                .right-side 2020
              li.info-popup__list-item
                .left-side Game types
                .right-side Live casino
              li.info-popup__list-item
                .left-side Provider
                .right-side NetEnt
          .img-wrap
            img(src="img/new-casino-1.png" alt="BaoCasino")
          p.title BaoCasino
          .newest-rate
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star
          .newest-rate-text 9.25 / 10
          a(href="#").btn.border-btn Play Now
        li.newest-casinos__list-item.box-shadow
          .info-btn
          .info-popup
            ul.info-popup__list
              li.info-popup__list-item
                .left-side Accepts Indian Players
                .right-side Yes
              li.info-popup__list-item
                .left-side Estabilished
                .right-side 2020
              li.info-popup__list-item
                .left-side Game types
                .right-side Live casino
              li.info-popup__list-item
                .left-side Provider
                .right-side NetEnt
          .img-wrap
            img(src="img/new-casino-2.png" alt="Parimatch")
          p.title Parimatch
          .newest-rate
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star
          .newest-rate-text 9.25 / 10
          a(href="#").btn.border-btn Play Now
        li.newest-casinos__list-item.box-shadow
          .info-btn
          .info-popup
            ul.info-popup__list
              li.info-popup__list-item
                .left-side Accepts Indian Players
                .right-side Yes
              li.info-popup__list-item
                .left-side Estabilished
                .right-side 2020
              li.info-popup__list-item
                .left-side Game types
                .right-side Live casino
              li.info-popup__list-item
                .left-side Provider
                .right-side NetEnt
          .img-wrap
            img(src="img/new-casino-3.png" alt="Parimatch")
          p.title Parimatch
          .newest-rate
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star
          .newest-rate-text 9.25 / 10
          a(href="#").btn.border-btn Play Now
        li.newest-casinos__list-item.box-shadow
          .info-btn
          .info-popup
            ul.info-popup__list
              li.info-popup__list-item
                .left-side Accepts Indian Players
                .right-side Yes
              li.info-popup__list-item
                .left-side Estabilished
                .right-side 2020
              li.info-popup__list-item
                .left-side Game types
                .right-side Live casino
              li.info-popup__list-item
                .left-side Provider
                .right-side NetEnt
          .img-wrap
            img(src="img/new-casino-4.png" alt="Betsson Casino")
          p.title Betsson Casino
          .newest-rate
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star
          .newest-rate-text 9.25 / 10
          a(href="#").btn.border-btn Play Now
        li.newest-casinos__list-item.box-shadow
          .info-btn
          .info-popup
            ul.info-popup__list
              li.info-popup__list-item
                .left-side Accepts Indian Players
                .right-side Yes
              li.info-popup__list-item
                .left-side Estabilished
                .right-side 2020
              li.info-popup__list-item
                .left-side Game types
                .right-side Live casino
              li.info-popup__list-item
                .left-side Provider
                .right-side NetEnt
          .img-wrap
            img(src="img/new-casino-5.png" alt="Bit Starz Casino")
          p.title Bit Starz Casino
          .newest-rate
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star
          .newest-rate-text 9.25 / 10
          a(href="#").btn.border-btn Play Now
        li.newest-casinos__list-item.box-shadow
          .info-btn
          .info-popup
            ul.info-popup__list
              li.info-popup__list-item
                .left-side Accepts Indian Players
                .right-side Yes
              li.info-popup__list-item
                .left-side Estabilished
                .right-side 2020
              li.info-popup__list-item
                .left-side Game types
                .right-side Live casino
              li.info-popup__list-item
                .left-side Provider
                .right-side NetEnt
          .img-wrap
            img(src="img/new-casino-6.png" alt="Cookie Casino")
          p.title Cookie Casino
          .newest-rate
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star
          .newest-rate-text 9.25 / 10
          a(href="#").btn.border-btn Play Now
        li.newest-casinos__list-item.box-shadow
          .info-btn
          .info-popup
            ul.info-popup__list
              li.info-popup__list-item
                .left-side Accepts Indian Players
                .right-side Yes
              li.info-popup__list-item
                .left-side Estabilished
                .right-side 2020
              li.info-popup__list-item
                .left-side Game types
                .right-side Live casino
              li.info-popup__list-item
                .left-side Provider
                .right-side NetEnt
          .img-wrap
            img(src="img/new-casino-7.png" alt="Slotnite Casino")
          p.title Slotnite Casino
          .newest-rate
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star
          .newest-rate-text 9.25 / 10
          a(href="#").btn.border-btn Play Now
        li.newest-casinos__list-item.box-shadow
          .info-btn
          .info-popup
            ul.info-popup__list
              li.info-popup__list-item
                .left-side Accepts Indian Players
                .right-side Yes
              li.info-popup__list-item
                .left-side Estabilished
                .right-side 2020
              li.info-popup__list-item
                .left-side Game types
                .right-side Live casino
              li.info-popup__list-item
                .left-side Provider
                .right-side NetEnt
          .img-wrap
            img(src="img/new-casino-8.png" alt="Cosmowin")
          p.title Cosmowin
          .newest-rate
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star.active-star
            .star
          .newest-rate-text 9.25 / 10
          a(href="#").btn.border-btn Play Now
      .newest-casinos__info
        ul.newest-casinos__list
          li.newest-casinos__list-item.box-shadow
            .info-btn
            .info-popup
              ul.info-popup__list
                li.info-popup__list-item
                  .left-side Accepts Indian Players
                  .right-side Yes
                li.info-popup__list-item
                  .left-side Estabilished
                  .right-side 2020
                li.info-popup__list-item
                  .left-side Game types
                  .right-side Live casino
                li.info-popup__list-item
                  .left-side Provider
                  .right-side NetEnt
            .img-wrap
              img(src="img/new-casino-1.png" alt="BaoCasino")
            p.title BaoCasino
            .newest-rate
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star
            .newest-rate-text 9.25 / 10
            a(href="#").btn.border-btn Play Now
          li.newest-casinos__list-item.box-shadow
            .info-btn
            .info-popup
              ul.info-popup__list
                li.info-popup__list-item
                  .left-side Accepts Indian Players
                  .right-side Yes
                li.info-popup__list-item
                  .left-side Estabilished
                  .right-side 2020
                li.info-popup__list-item
                  .left-side Game types
                  .right-side Live casino
                li.info-popup__list-item
                  .left-side Provider
                  .right-side NetEnt
            .img-wrap
              img(src="img/new-casino-2.png" alt="Parimatch")
            p.title Parimatch
            .newest-rate
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star
            .newest-rate-text 9.25 / 10
            a(href="#").btn.border-btn Play Now
          li.newest-casinos__list-item.box-shadow
            .info-btn
            .info-popup
              ul.info-popup__list
                li.info-popup__list-item
                  .left-side Accepts Indian Players
                  .right-side Yes
                li.info-popup__list-item
                  .left-side Estabilished
                  .right-side 2020
                li.info-popup__list-item
                  .left-side Game types
                  .right-side Live casino
                li.info-popup__list-item
                  .left-side Provider
                  .right-side NetEnt
            .img-wrap
              img(src="img/new-casino-3.png" alt="Parimatch")
            p.title Parimatch
            .newest-rate
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star.active-star
              .star
            .newest-rate-text 9.25 / 10
            a(href="#").btn.border-btn Play Now
      .newest-casinos__more-btn.btn.green-btn Show More (#[span 14])
  .newest-casinos__txt
    .content-center
      .newest-casinos__about-text.about-text
        .about-text__title.title-2-oto We Choose Only Legal Casinos
        .about-text__text.
          To play Indian casino games online safely, we recommend doing so on only
          regulated and licensed casino platforms. Also, make sure that our team
          can only nominate the titles whose license information has been thoroughly
          checked. If you stick to them, you can bet without worry. And by that we
          mean that your money will be safe and healthy and that you will get 100%
          profit
        br
        br
        .about-text__title.title-2-oto Best India Online Casino
        .about-text__text.
          Doubtless, players can test the casinos themselves, but it is a long and
          time consuming period. Wise players choose to rely on experts - and
          that's crucial.
        .about-text__text.
          When considering an online casino, there are various strict procedures
          that our team of experts tend to follow. Therefore, we do not miss any
          important information you need to know.
        p.about-text__list-title.
          Highlighted below are some of the criteria used to evaluate whether a
          casino platform is suitable for our readers:
        ul.about-text__list
          li First impression of the site
          li The process of signing up for the site
          li Game selection available on the platform
          li Bonuses and promotions offered
          li Safety and security
          li Online customer support
          li Withdrawal / withdrawal procedure
        br
        .about-text__text.
          It is expected that some of the sections mentioned above will overlap.
          This is why, after writing a comprehensive review of a casino site, we
          take a fresh look at the sites and examine as a whole. Once that is done,
          we will give the site a review.
.newest-slots
  .content-center
    h2.title-1.newest-slots__title Newest Online Slots
    p.main-subtitle.newest-slots__subtitle.
      The best new casinos added to our listing, including detailed casino
      reviews and ratings, bonuses, promotions.
    ul.newest-slots__list
      li.newest-slots__list-item
        a(href="#").link
        .img-wrap
          img(src="img/new-slots-1.png" alt="Dead or Alive 2")
        p.title Dead or Alive 2
        p.subtitle Pragmatic
      li.newest-slots__list-item
        a(href="#").link
        .img-wrap
          img(src="img/new-slots-2.png" alt="Dragon Chase")
        p.title Dragon Chase
        p.subtitle Pragmatic
      li.newest-slots__list-item
        a(href="#").link
        .img-wrap
          img(src="img/new-slots-3.png" alt="Pirates")
        p.title Pirates
        p.subtitle Pragmatic
      li.newest-slots__list-item
        a(href="#").link
        .img-wrap
          img(src="img/new-slots-4.png" alt="Cleopatra")
        p.title Cleopatra
        p.subtitle Pragmatic
      li.newest-slots__list-item
        a(href="#").link
        .img-wrap
          img(src="img/new-slots-5.png" alt="Legacy of Egypt")
        p.title Legacy of Egypt
        p.subtitle Pragmatic
      li.newest-slots__list-item
        a(href="#").link
        .img-wrap
          img(src="img/new-slots-6.png" alt="Wildhound Derby")
        p.title Wildhound Derby
        p.subtitle Pragmatic
      li.newest-slots__list-item
        a(href="#").link
        .img-wrap
          img(src="img/new-slots-3.png" alt="Pirates")
        p.title Pirates
        p.subtitle Pragmatic
      li.newest-slots__list-item
        a(href="#").link
        .img-wrap
          img(src="img/new-slots-5.png" alt="Legacy of Egypt")
        p.title Legacy of Egypt
        p.subtitle Pragmatic
      li.newest-slots__list-item
        a(href="#").link
        .img-wrap
          img(src="img/new-slots-7.png" alt="Sahara Nights")
        p.title Sahara Nights
        p.subtitle Pragmatic
      li.newest-slots__list-item
        a(href="#").link
        .img-wrap
          img(src="img/new-slots-8.png" alt="Wings of Riches")
        p.title Wings of Riches
        p.subtitle Pragmatic
      li.newest-slots__list-item
        a(href="#").link
        .img-wrap
          img(src="img/new-slots-9.png" alt="Inferno Joker")
        p.title Inferno Joker
        p.subtitle Pragmatic
      li.newest-slots__list-item
        a(href="#").link
        .img-wrap
          img(src="img/new-slots-2.png" alt="Dragon Chase")
        p.title Dragon Chase
        p.subtitle Pragmatic
    .newest-slots__info
      ul.newest-slots__list
        li.newest-slots__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-1.png" alt="Dead or Alive 2")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        li.newest-slots__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-2.png" alt="Dragon Chase")
          p.title Dragon Chase
          p.subtitle Pragmatic
        li.newest-slots__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-3.png" alt="Pirates")
          p.title Pirates
          p.subtitle Pragmatic
    .newest-slots__more-btn.btn.grey-btn Show More (#[span 14])
.casino-reviews
  .casino-reviews__wrap
    .content-center
      h2.title-1.casino-reviews__title Casino Reviews – How We Do It
      p.main-subtitle.casino-reviews__subtitle.
        When it comes to choosing an online casino to play at, the phrase 'do
        not judge a book by its cover' is very important to remember. In other
        words, just because a casino's website can be colorful, bold or flashy,
        does not necessarily mean you should register a new account with it.
      ul.casino-reviews__list
        li.casino-reviews__list-item.box-shadow
          .title-wrap
            .img-wrap
              img(src="img/reviews-icon-1.svg" alt="Operator Reputation")
            p.title Operator Reputation
          p.description.
            In the online casino industry reputation is everything. This is
            why all reputable online casinos work tirelessly to attract new
            players while keeping their existing players happy.
        li.casino-reviews__list-item.box-shadow
          .title-wrap
            .img-wrap
              img(src="img/reviews-icon-2.svg" alt="Security & Safety")
            p.title Security & Safety
          p.description.
            This is a highly critical aspect of online gambling for players and
            the online casinos because real money is involved as well as a
            players personal and financial data.
        li.casino-reviews__list-item.box-shadow
          .title-wrap
            .img-wrap
              img(src="img/reviews-icon-3.svg" alt="Games & Software")
            p.title Games & Software
          p.description.
            Games variety and quality with a growing portfolio is what we look
            for. The casino games available are determined by which software
            providers the casino has partnered with.
        li.casino-reviews__list-item.box-shadow
          .title-wrap
            .img-wrap
              img(src="img/reviews-icon-4.svg" alt="Progressive Jackpots")
            p.title Progressive Jackpots
          p.description.
            When it comes to slots that can literally yield life-changing sums,
            no games are more revered Down Under than online progressive jackpots.
            This is why our featured virtual casino sites.
        li.casino-reviews__list-item.box-shadow
          .title-wrap
            .img-wrap
              img(src="img/reviews-icon-5.svg" alt="Bonuses and Promotions")
            p.title Bonuses and Promotions
          p.description.
            You'll only find Aussie casinos listed on this site with the best
            no deposit, free spins and match bonuses. Each casino must also
            provide valuable ongoing daily, weekly and monthly promotions.
        li.casino-reviews__list-item.box-shadow
          .title-wrap
            .img-wrap
              img(src="img/reviews-icon-6.svg" alt="Quick and Easy Payments")
            p.title Quick and Easy Payments
          p.description.
            We understand the need to get your money in and out of your virtual
            casino quickly, easily and discreetly, which is why we only show
            casino's with the largest choice.
  .casino-reviews__txt
    .content-center
      .casino-reviews__about-text.about-text
        .about-text__title.title-2-oto.
          How we made our choice at the top rated fast payout casinos in India
        .about-text__text.
          As we can conclude, the number of fast payout online casinos presented
          on the gambling market is no less than impressive. They are constantly
          competing, trying to lure the clients with the opportunity to be
          rewarded almost in a flash.
        .about-text__text.
          However, our team trimmed the list down to include only fast payout
          casinos of the highest level. It is done to make sure that each of them
          featured the excellent software, security, and games, and afterward we
          rate how rapidly they pay money to their clients.
        .about-text__text.
          Because we’ve done all the research to supply our readers with the best
          fast payout online casino titles, all you have to do is determine the
          other options needed to make a choice.
.subscribe
  .content-center
    .subscribe__img
      img(src="img/subscribe-img.png" alt="subscribe")
    .subscribe__wrap
      .subscribe__title Subscribe to news updates and get +100 spins without deposit
      form(action="#").subscribe__form.form-subscribe
        input(type="email" placeholder="Skriv inn din email")
        button(type="submit").btn.green-btn Send
        span.privacy.
          By subscribing you are certifying that you have
          reviewed and accepted our updated #[a(href="#") Privacy]
          and #[a(href="#") Cookie Policy]
.faq
  .content-center
    h2.title-1.faq__title FAQ
    p.main-subtitle.faq__subtitle.
      The best new casinos added to our list, including detailed casino
      reviews and rankings, bonuses, promotions.
    .faq__wrap
      .faq__list
        details.faq__list-item.box-shadow
          summary.faq__list-item-title How do we choose online pokies?
          p.faq__list-item-text.
            There are some warning signs if you're concerned that you or
            someone you know may have a gambling addiction. If you're hiding
            your habit from other people, maxing out your bank account and
            getting into debt as a result of your real money gambling the
            chances are you may be addicted. Likewise, if you're bunking off
            work to gamble, sneaking around to gamble, and thinking about real
            money gaming 24/7 the likelihood is your hobby has turned into a
            habit and you should seek help.
        details.faq__list-item.box-shadow
          summary.faq__list-item-title.
            What is a casino bonus?
          p.faq__list-item-text.
            Test text
        details.faq__list-item.box-shadow
          summary.faq__list-item-title.
            How do we choose online pokies?
          p.faq__list-item-text.
            Test text
        details.faq__list-item.box-shadow
          summary.faq__list-item-title.
            Can I play in Australian online casinos for free?
          p.faq__list-item-text.
            Test text
        details.faq__list-item.box-shadow
          summary.faq__list-item-title.
            Can I win real money in Australian online casinos?
          p.faq__list-item-text.
            Test text
      .faq__list
        details.faq__list-item.box-shadow
          summary.faq__list-item-title.
            How to deposit an account in the online casino?
          p.faq__list-item-text.
            Test text
        details.faq__list-item.box-shadow
          summary.faq__list-item-title.
            How do we choose online pokies?
          p.faq__list-item-text.
            There are some warning signs if you're concerned that you or
            someone you know may have a gambling addiction. If you're hiding
            your habit from other people, maxing out your bank account and
            getting into debt as a result of your real money gambling the
            chances are you may be addicted. Likewise, if you're bunking off
            work to gamble, sneaking around to gamble, and thinking about real
            money gaming 24/7 the likelihood is your hobby has turned into a
            habit and you should seek help.
        details.faq__list-item.box-shadow
          summary.faq__list-item-title.
            Can I win real money in Australian online casinos?
          p.faq__list-item-text.
            Test text
        details.faq__list-item.box-shadow
          summary.faq__list-item-title.
            How do we choose online pokies?
          p.faq__list-item-text.
            Test text
        details.faq__list-item.box-shadow
          summary.faq__list-item-title.
            Can I play in Australian online casinos for free?
          p.faq__list-item-text.
            Test text
.promotions
  .content-center
    h2.title-1.promotions__title Best Casino Promotions in India
    p.main-subtitle.promotions__subtitle.
      The best new casinos added to our list, including detailed casino
      reviews and rankings, bonuses, promotions.
    ul.promotions__list
      li.promotions__list-item
        .promotions__list-item-img
          img(src="img/promotions-1.png" alt="")
        a(href="#" target="_blank").promotions__list-item-title Rough Guide to History of Gambling: From Ancient
        .promotions__list-item-date 20 July 2020
      li.promotions__list-item
        .promotions__list-item-img
          img(src="img/promotions-2.png" alt="")
        a(href="#" target="_blank").promotions__list-item-title Rough Guide to History of Gambling: From Ancient
        .promotions__list-item-date 20 July 2020
      li.promotions__list-item
        .promotions__list-item-img
          img(src="img/promotions-3.png" alt="")
        a(href="#" target="_blank").promotions__list-item-title Rough Guide to History of Gambling: From Ancient
        .promotions__list-item-date 20 July 2020
      li.promotions__list-item
        .promotions__list-item-img
          img(src="img/promotions-4.png" alt="")
        a(href="#" target="_blank").promotions__list-item-title Rough Guide to History of Gambling: From Ancient
        .promotions__list-item-date 20 July 2020
    .promotions__info
      ul.promotions__list
        li.promotions__list-item
          .promotions__list-item-img
            img(src="img/promotions-1.png" alt="")
          a(href="#" target="_blank").promotions__list-item-title Rough Guide to History of Gambling: From Ancient
          .promotions__list-item-date 20 July 2020
        li.promotions__list-item
          .promotions__list-item-img
            img(src="img/promotions-2.png" alt="")
          a(href="#" target="_blank").promotions__list-item-title Rough Guide to History of Gambling: From Ancient
          .promotions__list-item-date 20 July 2020
    .promotions__more-btn.btn.green-btn Show More (#[span 14])
.how
  .content-center
    .how__about
      .how__about-main-title.title-1 How to get started with online casino in India
      .how__about-wrap.about-text
        .about-text__text.
          Check out our hand-picked list of favourites for the month that have the
          most generous no deposit, free spins and/or matching bonuses:
        .how__about-img
          img(src="img/get-started.jpg" alt="get started")
        .title-2 We only choose legal casinos
        .about-text__text.
          To play Norwegian casino games online safely, we recommend doing so on
          only regulated and licensed casino platforms. Also, make sure that our
          team can only nominate the titles whose license information has been
          thoroughly checked. If you stick to them, you can bet without worry.
          And by that we mean that your money will be safe and healthy and that
          you will get 100% profit.
        br
        .title-2 Best India's online casino
        .about-text__text.
          Doubtless, players can test the casinos themselves, but it is a long
          and time consuming period. Wise players choose to rely on experts - and
          that's crucial.
        .about-text__text.
          When considering an online casino, there are various strict procedures
          that our team of experts tend to follow. Therefore, we do not miss any
          important information you need to know.
        .about-text__text.
          Highlighted below are some of the criteria used to evaluate whether a
          casino platform is suitable for our readers:
        ul.about-text__list
          li First impression of the site
          li The process of signing up for the site
          li Game selection available on the platform
          li Bonuses and promotions offered
          li Safety and security
          li Online customer support
          li Withdrawal / withdrawal procedure
        .about-text__text.
          It is expected that some of the sections mentioned above will overlap.
          This is why, after writing a comprehensive review of a casino site, we
          take a fresh look at the sites and examine as a whole. Once that is done,
          we will give the site a review.
      .how__about-top
        .title-2 Top 3 best online casino
        .how__about-wrap.about-text
          .about-text__text.
            Here is a list of all the best online casinos in India
          ul.how__about-top-list
            li
              .title-3 Betway Live Casino
              .about-text__text.
                There's nothing worse than winning a huge jackpot and then
                sitting and waiting for weeks or even months before you can
                claim it. You'll want an online casino with a fast payout
                time. There's nothing worse than winning a huge
            li
              .title-3 Betway Live Casino
              .about-text__text.
                There's nothing worse than winning a huge jackpot and then
                sitting and waiting for weeks or even months before you can
                claim it. You'll want an online casino with a fast payout
                time. There's nothing worse than winning a huge
            li
              .title-3 Betway Live Casino
              .about-text__text.
                There's nothing worse than winning a huge jackpot and then
                sitting and waiting for weeks or even months before you can
                claim it. You'll want an online casino with a fast payout
                time. There's nothing worse than winning a huge
      .how__about-quote
        .title-2 We only choose legal casinos
        .how__about-wrap.about-text
          .about-text__text.
            To play Norwegian casino games online safely, we recommend doing
            so on only regulated and licensed casino platforms. Also, make sure
            that our team can only nominate the titles whose license
        .quote
          .quote__author
            .quote__author-img
              img(src="img/author.png" alt="")
            .quote__author-txt
              a(href="#" target="_blank").quote__author-txt-name Ivan Gucev
              .quote__author-txt-sub Autor Blog
          .quote__text.
            Earn a lottery ticket at SlotWolf Casino for a guaranteed chance
            to win a share of their double prize pots.
      .how__about-casino
        .title-2 How Slot Machine Skill Games Work?
        .how__about-wrap.about-text
          .about-text__text.
            Say you are playing a slot with a racing theme this is how you
            would go about it:
          ul.about-text__list.decimal
            li When the bonus room is triggered, you choose the skill-based bonus
            li You race against other cars
            li The size of your payout gets determined by your finish
        .top-casino
          .top-casino__head
            .top-casino__head-item casino name
            .top-casino__head-item Bonus
          ul.top-casino__list
            li.top-casino__list-item
              .top-casino__name
                .top-casino__name-img
                  img(src="img/top-casino-5.png" alt="")
                .top-casino__name-wrap
                  .top-casino__name-title Bit Starz Casino
                  .top-casino__name-icons
                    .top-casino__name-icons-country.country-ua
                    .top-casino__name-icons-rate 9.25 / 10
              .top-casino__bonus
                .top-casino__bonus-desk
                  p $ 4000 + 200 Free Spins
                  p With 200 free spins
                .top-casino__bonus-mob
                  p $4000
                  p 200 free spins
              .top-casino__buttons
                a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
            li.top-casino__list-item
              .top-casino__name
                .top-casino__name-img
                  img(src="img/top-casino-1.png" alt="")
                .top-casino__name-wrap
                  .top-casino__name-title Bao Casino
                  .top-casino__name-icons
                    .top-casino__name-icons-country.country-ua
                    .top-casino__name-icons-rate 9.25 / 10
              .top-casino__bonus
                .top-casino__bonus-desk
                  p $ 4000 + 200 Free Spins
                  p With 200 free spins
                .top-casino__bonus-mob
                  p $4000
                  p 200 free spins
              .top-casino__buttons
                a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
        .how__about-wrap.about-text
          .about-text__text.
            #[span.green-txt SlotWolf Casino] have just launched a brand new
            promotion where you can get your hands on some cold hard cash.
            In fact, the #[span.green-txt online casino] has decided to pull
            out all the stops and they’ll be handing out a whopping €20,000
            and there is even 20,000 in extra spins too.#[br]
            However, new generations have started changing the face of gambling,
            slots in particular. Moving away from luck as a deciding factor of
            their wins, these generations have started asking for games that
            put their skills, reasoning, and capacities to test while still
            being fun – and that's how skill-based slots arouse.
          ul.about-text__list
            li A hypothetically unlockable bonus session
            li A tic-tac-toe-style puzzle
            li A "follow me" coloured dot-matching second phase of gameplay
      .how__about-casinoInfo
        .top-casino
          .top-casino__list-item
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-1.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Bao Casino
                .top-casino__name-icons
                  .top-casino__name-icons-country.country-ua
                  .top-casino__name-icons-rate 9.25 / 10
            .top-casino__bonus
              .top-casino__bonus-desk
                p $ 4000 + 200 Free Spins
                p With 200 free spins
              .top-casino__bonus-mob
                p $4000
                p 200 free spins
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Play now
        .casinoInfo
          .casinoInfo__title.title-3 About
          .casinoInfo__text.about-text
            .about-text__text.
              Bettson Casino was founded in 1997. Powered by Curacao license.
              Accepts players from 270 countries. Account currencies - Bulgarian
              lev, US dollar, Euro, Kazakhstani tenge, Canadian dollar, Chinese
              yuan, New Zealand dollar, Norwegian krone, Polish zloty, Russian
              ruble, Ukrainian hryvnia. 16 payment systems are connected, and
              the minimum replenishment is 50 rubles. The support communicates
              in Russian and English. The casino offers bonuses to new and
              already registered players. You can get: free spins, deposit
              bonus, welcome bonus.
          .casinoInfo__title.title-3 Characteristics
          .casinoInfo__info-list
            .casinoInfo__info-list-item
              .key Website:
              a(href="https:/www.royalrabbitcasino.com/" target="_blank").value https:/www.royalrabbitcasino.com/
            .casinoInfo__info-list-item
              .key Withdrawal Times:
              .value
                span EWallets: 24 hours
                span Card Payments: 48 hours
                span Bank Transfers: 3-5 days
                span Cheques: Not offered
                span Pending Time: 48-96 hours
            .casinoInfo__info-list-item
              .key Withdrawal Limit:
              .value EUR/USD/GBP 500 per day, EUR/USD/GBP 15,000 per month
            .casinoInfo__info-list-item
              .key Deposit Methods:
              .value EUR/USD/GBP 500 per day, EUR/USD/GBP 15,000 per month
        .play
          .play__title.title-2 We only choose legal casinos
          .play__text.about-text
            .about-text__text.
              To play Norwegian casino games online safely, we recommend
              doing so on only regulated and licensed casino platforms.
              Also, make sure that our team can only nominate the titles
              whose license information has been thoroughly checked. If
              you stick to them, you can bet without worry. And by that
              we mean that your money will be safe and healthy and that
              you will get 100% profit.
          .play__btns
            .play__btns-item
              a(href="#").link
              .play__btns-item-icon
                img(src="img/play-1.svg" alt="")
              .play__btns-item-txt
                .sub India 2021
                .name Play in Live Casino
            .play__btns-item
              a(href="#").link
              .play__btns-item-icon
                img(src="img/play-2.svg" alt="")
              .play__btns-item-txt
                .sub India 2021
                .name Play in Live Casino
    .how__top
      .how__top-title Top 5 best
      .how__top-pagi
        .how__top-pagi-item.active Casinos
        .how__top-pagi-item Bonuses
        .how__top-pagi-item Slots
      .top-casino
        .top-casino__list-item
          .top-casino__name
            .top-casino__name-img
              img(src="img/top-casino-2.png" alt="")
            .top-casino__name-wrap
              .top-casino__name-title Bao Casino
              .top-casino__name-icons
                .top-casino__name-icons-rate 9.25 / 10
          .top-casino__bonus
            .top-casino__bonus-desk
              p 1,000 €
              p 200 free spins
          .top-casino__buttons
            a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Review
        .top-casino__list-item
          .top-casino__name
            .top-casino__name-img
              img(src="img/top-casino-1.png" alt="")
            .top-casino__name-wrap
              .top-casino__name-title Bao Casino
              .top-casino__name-icons
                .top-casino__name-icons-rate 9.25 / 10
          .top-casino__bonus
            .top-casino__bonus-desk
              p 1,000 €
              p 200 free spins
          .top-casino__buttons
            a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Review
        .top-casino__list-item
          .top-casino__name
            .top-casino__name-img
              img(src="img/top-casino-2.png" alt="")
            .top-casino__name-wrap
              .top-casino__name-title Bao Casino
              .top-casino__name-icons
                .top-casino__name-icons-rate 9.25 / 10
          .top-casino__bonus
            .top-casino__bonus-desk
              p 1,000 €
              p 200 free spins
          .top-casino__buttons
            a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Review
        .top-casino__list-item
          .top-casino__name
            .top-casino__name-img
              img(src="img/top-casino-3.png" alt="")
            .top-casino__name-wrap
              .top-casino__name-title Bao Casino
              .top-casino__name-icons
                .top-casino__name-icons-rate 9.25 / 10
          .top-casino__bonus
            .top-casino__bonus-desk
              p 1,000 €
              p 200 free spins
          .top-casino__buttons
            a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Review
        .top-casino__list-item
          .top-casino__name
            .top-casino__name-img
              img(src="img/top-casino-2.png" alt="")
            .top-casino__name-wrap
              .top-casino__name-title Bao Casino
              .top-casino__name-icons
                .top-casino__name-icons-rate 9.25 / 10
          .top-casino__bonus
            .top-casino__bonus-desk
              p 1,000 €
              p 200 free spins
          .top-casino__buttons
            a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Review
      .how__top__info
        .top-casino
          .top-casino__list-item
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-2.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Bao Casino
                .top-casino__name-icons
                  .top-casino__name-icons-rate 9.25 / 10
            .top-casino__bonus
              .top-casino__bonus-desk
                p 1,000 €
                p 200 free spins
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Review
          .top-casino__list-item
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-1.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Bao Casino
                .top-casino__name-icons
                  .top-casino__name-icons-rate 9.25 / 10
            .top-casino__bonus
              .top-casino__bonus-desk
                p 1,000 €
                p 200 free spins
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Review
          .top-casino__list-item
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-2.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Bao Casino
                .top-casino__name-icons
                  .top-casino__name-icons-rate 9.25 / 10
            .top-casino__bonus
              .top-casino__bonus-desk
                p 1,000 €
                p 200 free spins
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Review
          .top-casino__list-item
            .top-casino__name
              .top-casino__name-img
                img(src="img/top-casino-3.png" alt="")
              .top-casino__name-wrap
                .top-casino__name-title Bao Casino
                .top-casino__name-icons
                  .top-casino__name-icons-rate 9.25 / 10
            .top-casino__bonus
              .top-casino__bonus-desk
                p 1,000 €
                p 200 free spins
            .top-casino__buttons
              a(href="#" target="_blank").top-casino__buttons-play.btn.green-btn Review
      .how__top-show-all.btn.border-btn Show All Bonuses
.favourite
  .content-center
    h2.title-1.favourite__title Our Favourite Casinos
    p.favourite__subtitle.main-subtitle The best new casinos added to our list, included
    ul.favourite__list
      li.favourite__list-item
        .favourite__list-item-img
          img(src="img/new-casino-5.png" alt="")
        .favourite__list-item-name Bit Starz
      li.favourite__list-item
        .favourite__list-item-img
          img(src="img/new-casino-3.png" alt="")
        .favourite__list-item-name Bit Starz
      li.favourite__list-item
        .favourite__list-item-img
          img(src="img/new-casino-4.png" alt="")
        .favourite__list-item-name Bit Starz
      li.favourite__list-item
        .favourite__list-item-img
          img(src="img/new-casino-1.png" alt="")
        .favourite__list-item-name Bit Starz
      li.favourite__list-item
        .favourite__list-item-img
          img(src="img/new-casino-7.png" alt="")
        .favourite__list-item-name Bit Starz
      li.favourite__list-item
        .favourite__list-item-img
          img(src="img/new-casino-8.png" alt="")
        .favourite__list-item-name Bit Starz
      li.favourite__list-item
        .favourite__list-item-img
          img(src="img/new-casino-2.png" alt="")
        .favourite__list-item-name Bit Starz
      li.favourite__list-item
        .favourite__list-item-img
          img(src="img/new-casino-7.png" alt="")
        .favourite__list-item-name Bit Starz
      li.favourite__list-item
        .favourite__list-item-img
          img(src="img/new-casino-3.png" alt="")
        .favourite__list-item-name Bit Starz
      li.favourite__list-item
        .favourite__list-item-img
          img(src="img/new-casino-1.png" alt="")
        .favourite__list-item-name Bit Starz
      li.favourite__list-item
        .favourite__list-item-img
          img(src="img/new-casino-6.png" alt="")
        .favourite__list-item-name Bit Starz
      li.favourite__list-item
        .favourite__list-item-img
          img(src="img/new-casino-5.png" alt="")
        .favourite__list-item-name Bit Starz