footer.footer
  .content-center
    .footer__top-wrap
      a(href="#").footer__logo
        img(src="img/footer-logo.svg" alt="India casino")
      p.footer__slogan Online kasinoer i Norge - det beste i 2020
      .footer__author
        p.footer__author-title Author Blog
        .footer__author-photo
          img(src="img/header-author.png" alt="Author photo")
        .footer__author-name Oliver Moore
        .footer__author-info
      a(href="#").footer__to-top
    .footer__info-wrap
      .left
        a(href="#").btn.green-btn Top casino
        ul.logos-list
          li
            img(src="img/footer-logo-1.png" alt="Gambleaware")
          li
            img(src="img/footer-logo-2.png" alt="Gamcare")
          li
            img(src="img/footer-logo-3.png" alt="18+")
          li
            img(src="img/footer-logo-4.png" alt="DMCA")
      .right
        ul.footer-menu
          li
            a(href="#") Blog
          li
            a(href="#") News
          li
            a(href="#") Contact
        ul.footer-sub-menu
          li
            a(href="#") Cookie Policy
          li
            a(href="#") Terms and Conditions
          li
            a(href="#") Privacy Policy
        form(action="#").form-subscribe
          p Sign up for +100 spins without deposit
          input(type="email" placeholder="Skriv inn din email")
          button(type="submit").btn.green-btn Send
          span.privacy.
            By subscribing you are certifying that you have
            reviewed and accepted our updated #[a(href="#") Privacy]
            and #[a(href="#") Cookie Policy]
    .footer__copyright
      p.copy © 2020 All rights reserved
      ul.social
        li
          a(href="#" target="_blank").fb
        li
          a(href="#" target="_blank").insta
        li
          a(href="#" target="_blank").linkedin
        li
          a(href="#" target="_blank").twitter
      p.created Created by Auma Design
.bottom-bar
  ul.bottom-bar__list
    li.bottom-bar__list-item.active
      a(href="#") Home
    li.bottom-bar__list-item
      a(href="#") new casino
    li.bottom-bar__list-item
      a(href="#") Bonuses
    li.bottom-bar__list-item
      a(href="#") Search