header.header#header-mob
  .content-center
    a(href="#").header__logo
      img(src="img/main-logo.svg" alt="India Casino")
    form.header__form-search
      input(type="search" placeholder="Search casinos or slots")
      button(type="submit").btn-submit
    .header__author
      p.header__author-title Author Blog
      .header__author-photo
        img(src="img/header-author.png" alt="Author photo")
      .header__author-name Oliver Moore
      .header__author-info
    a#menu-toggle.header__burger-menu.burger-toggle(href='##')
      span
  .header__subheader
    .content-center
      ul.header__subheader-menu
        li.dropdown-icon
          a(href="#") Real money casinos
        li.dropdown-icon
          a(href="#") Casino reviews
          ul.submenu
            li
              a(href="#") Casino
            li
              a(href="#") For Newbies
            li
              a(href="#") With Payment
        li
          a(href="#") Online Pokies
        li.dropdown-icon
          a(href="#") Casino games
        li.dropdown-icon
          a(href="#") Mobile Casino
        li.dropdown-icon
          a(href="#") Bank Alternative
        li.dropdown-icon
          a(href="#") Bonuses
.mob-menu
  nav.mob-menu__nav
    a.mob-menu__item.--dropdown(href='##')
      svg(width='11' height='14' viewbox='0 0 11 14' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M3.97222 3.81818C3.97222 3.46673 4.24583 3.18182 4.58333 3.18182H8.25C8.58751 3.18182 8.86111 3.46673 8.86111 3.81818C8.86111 4.16964 8.58751 4.45455 8.25 4.45455H4.58333C4.24583 4.45455 3.97222 4.16964 3.97222 3.81818Z' fill='#909090' fill-opacity='0.5')
        path(d='M4.58333 6.36364C4.24583 6.36364 3.97222 6.64855 3.97222 7C3.97222 7.35145 4.24583 7.63636 4.58333 7.63636H8.25C8.58751 7.63636 8.86111 7.35145 8.86111 7C8.86111 6.64855 8.58751 6.36364 8.25 6.36364H4.58333Z' fill='#909090' fill-opacity='0.5')
        path(d='M3.97222 10.1818C3.97222 9.83036 4.24583 9.54545 4.58333 9.54545H8.25C8.58751 9.54545 8.86111 9.83036 8.86111 10.1818C8.86111 10.5333 8.58751 10.8182 8.25 10.8182H4.58333C4.24583 10.8182 3.97222 10.5333 3.97222 10.1818Z' fill='#909090' fill-opacity='0.5')
        path(d='M3.36111 3.81818C3.36111 4.16965 3.08752 4.45455 2.75 4.45455C2.41248 4.45455 2.13889 4.16965 2.13889 3.81818C2.13889 3.46672 2.41248 3.18182 2.75 3.18182C3.08752 3.18182 3.36111 3.46672 3.36111 3.81818Z' fill='#909090' fill-opacity='0.5')
        path(d='M2.75 7.63636C3.08752 7.63636 3.36111 7.35146 3.36111 7C3.36111 6.64854 3.08752 6.36364 2.75 6.36364C2.41248 6.36364 2.13889 6.64854 2.13889 7C2.13889 7.35146 2.41248 7.63636 2.75 7.63636Z' fill='#909090' fill-opacity='0.5')
        path(d='M3.36111 10.1818C3.36111 10.5333 3.08752 10.8182 2.75 10.8182C2.41248 10.8182 2.13889 10.5333 2.13889 10.1818C2.13889 9.83035 2.41248 9.54545 2.75 9.54545C3.08752 9.54545 3.36111 9.83035 3.36111 10.1818Z' fill='#909090' fill-opacity='0.5')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 1.27273C0 0.569819 0.547208 0 1.22222 0H9.77778C10.4528 0 11 0.569819 11 1.27273V12.7273C11 13.4302 10.4528 14 9.77778 14H1.22222C0.547208 14 0 13.4302 0 12.7273V1.27273ZM9.77778 1.27273H1.22222V12.7273H9.77778V1.27273Z' fill='#909090' fill-opacity='0.5')
      span Real money casinos
      svg.mob-menu-arrow(width='6' height='10' viewbox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M5.78413 5.49505L1.25827 9.79476C0.970375 10.0684 0.503596 10.0684 0.215837 9.79476C-0.0719456 9.52135 -0.0719456 9.0779 0.215837 8.80451L4.22052 4.99993L0.215953 1.19548C-0.0718292 0.921955 -0.0718292 0.478552 0.215953 0.205141C0.503736 -0.0683804 0.970491 -0.0683804 1.25839 0.205141L5.78424 4.50492C5.92814 4.64169 6 4.82075 6 4.99991C6 5.17915 5.928 5.35835 5.78413 5.49505Z' fill='#909090')
    .mob-menu__dropdown
      nav.mob-menu__nav
        a.mob-menu__dropdown__top(href='##')
          svg(width='5' height='9' viewbox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M0.179893 4.42079L3.95144 0.837701C4.19135 0.609655 4.58034 0.609655 4.82014 0.837701C5.05996 1.06554 5.05996 1.43508 4.82014 1.66291L1.4829 4.83339L4.82004 8.00377C5.05986 8.2317 5.05986 8.60121 4.82004 8.82905C4.58022 9.05698 4.19126 9.05698 3.95134 8.82905L0.179797 5.2459C0.0598873 5.13193 3.51203e-07 4.98271 3.64255e-07 4.83341C3.77313e-07 4.68404 0.0600037 4.53471 0.179893 4.42079Z' fill='#909090')
          span Real money casinos
        a.mob-menu__item(href='##') Casino
        a.mob-menu__item(href='##') For Newbies
        a.mob-menu__item(href='##') With Payment
    a.mob-menu__item.--dropdown(href='##')
      svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M7.21511 0L7.6402 0.00782348C7.71045 0.00977519 7.78039 0.0120497 7.85 0.0146453L8.26367 0.034059L8.66884 0.0610993C8.86918 0.0765128 9.06606 0.0947563 9.25909 0.115785L9.63988 0.161542C9.76502 0.178023 9.88832 0.195728 10.0097 0.214645L10.3677 0.275014C12.5383 0.669534 14 1.47398 14 2.60385C14 3.17829 13.6222 3.66861 12.9655 4.06371C13.6262 4.44856 14 4.93206 14 5.53429C14 6.10859 13.6224 6.59881 12.9659 6.99387L12.966 6.99392L12.976 6.99975C13.6301 7.38417 14 7.86572 14 8.46473C14 8.56695 13.988 8.66652 13.9647 8.76335C13.9541 8.80708 13.9411 8.85077 13.9257 8.89389C13.911 8.93524 13.8942 8.97584 13.8753 9.0159C13.8639 9.04019 13.8516 9.06434 13.8386 9.0883C13.8315 9.10154 13.824 9.11492 13.8162 9.12824C13.8092 9.14021 13.8023 9.15173 13.7952 9.16319C13.7832 9.1827 13.7704 9.2024 13.7571 9.22197C13.7527 9.22844 13.7483 9.23476 13.7439 9.24107C13.7284 9.26305 13.7123 9.28498 13.6954 9.30672C13.692 9.3112 13.6887 9.31532 13.6855 9.31943C13.6684 9.34108 13.6505 9.36279 13.6319 9.3843C13.6174 9.40104 13.6027 9.41752 13.5876 9.43388C13.5784 9.44382 13.5689 9.45391 13.5592 9.46396C13.5439 9.47989 13.5285 9.49533 13.5129 9.51068C13.4992 9.52401 13.4854 9.53722 13.4713 9.55035C13.4582 9.5626 13.4447 9.57487 13.431 9.58707C13.4167 9.59977 13.4022 9.61236 13.3875 9.62488C13.3726 9.6375 13.3573 9.65021 13.3418 9.66285C13.3259 9.67579 13.3099 9.68849 13.2936 9.70111C13.2789 9.71254 13.2638 9.72406 13.2484 9.73551C13.2283 9.75055 13.2073 9.7658 13.1859 9.78093C13.1719 9.79083 13.1581 9.80041 13.1442 9.80994C13.0901 9.84705 13.0333 9.88356 12.9743 9.91928L12.966 9.92436C13.6264 10.3097 14 10.7931 14 11.3952C14 12.525 12.5383 13.3295 10.3677 13.724L10.0097 13.7844C9.88832 13.8033 9.76501 13.821 9.63988 13.8375L9.25909 13.8832C9.06606 13.9043 8.86918 13.9225 8.66884 13.9379L8.26367 13.965L7.85 13.9844C7.78039 13.987 7.71045 13.9892 7.6402 13.9912L7.21511 13.999C7.14368 13.9997 7.07197 14 7 14L6.78489 13.999L6.3598 13.9912C6.28955 13.9892 6.21961 13.987 6.15 13.9844L5.73633 13.965L5.33116 13.9379C5.13082 13.9225 4.93394 13.9043 4.74091 13.8832L4.36012 13.8375C4.29755 13.8292 4.23544 13.8207 4.17381 13.8118L3.80978 13.7551C1.54178 13.3727 0 12.5556 0 11.3952C0 10.7962 0.36985 10.3146 1.02403 9.93019L1.03405 9.9243C1.02951 9.92157 1.02499 9.91883 1.02047 9.91609C0.963498 9.88149 0.908408 9.846 0.855535 9.80978C0.841855 9.80041 0.828095 9.79083 0.81449 9.7812C0.792734 9.7658 0.771741 9.75055 0.751136 9.73517C0.736244 9.72406 0.72111 9.71254 0.706193 9.70096C0.690136 9.68849 0.674141 9.67579 0.658405 9.66301C0.642655 9.65022 0.627353 9.6375 0.612306 9.62471C0.597787 9.61236 0.583305 9.59977 0.56907 9.5871C0.555324 9.57487 0.541846 9.5626 0.528599 9.55026C0.51459 9.53722 0.500754 9.52401 0.487182 9.51072C0.471459 9.49533 0.456138 9.47989 0.441174 9.46434C0.431146 9.45391 0.421629 9.44382 0.412262 9.43368C0.397317 9.41752 0.382579 9.40104 0.368235 9.38445C0.349509 9.36279 0.331572 9.34108 0.314308 9.31918C0.311259 9.31532 0.308038 9.3112 0.304841 9.30707C0.287733 9.28498 0.271561 9.26305 0.25606 9.24095C0.251721 9.23476 0.247349 9.22844 0.243032 9.22209C0.22963 9.2024 0.216832 9.1827 0.204564 9.16284C0.197688 9.15172 0.190774 9.14021 0.184037 9.12865C0.176041 9.11492 0.168522 9.10154 0.161241 9.0881C0.148366 9.06434 0.136137 9.04019 0.124673 9.01583C0.105842 8.97584 0.08905 8.93524 0.0743775 8.89412C0.0589188 8.85077 0.0458715 8.80708 0.0352077 8.76281C0.0119654 8.66652 0 8.56695 0 8.46473C0 7.8625 0.373838 7.379 1.0346 6.99356C0.377817 6.59904 0 6.10873 0 5.53429C0 4.93225 0.373603 4.44886 1.03398 4.06348C0.377639 3.66838 0 3.17815 0 2.60385C0 1.44344 1.54178 0.626289 3.80978 0.243926L4.17381 0.18718C4.23544 0.178329 4.29755 0.169782 4.36012 0.161542L4.74091 0.115785C4.93394 0.0947563 5.13082 0.0765128 5.33116 0.0610993L5.73633 0.034059L6.15 0.0146453C6.21961 0.0120497 6.28955 0.00977519 6.3598 0.00782348L6.78489 0H7.21511ZM6.89224 11.0693L6.78489 11.0686L6.3598 11.0608C6.28955 11.0588 6.21961 11.0565 6.15 11.0539L5.73633 11.0345L5.33116 11.0075C5.13082 10.9921 4.93394 10.9738 4.74091 10.9528L4.36012 10.907C4.29755 10.8988 4.23544 10.8903 4.17381 10.8814L3.99033 10.8539L3.90218 10.8387L3.80978 10.8247C3.63164 10.7946 3.45798 10.7619 3.28919 10.7265C3.26623 10.7217 3.24333 10.7169 3.22052 10.712C3.07001 10.6795 2.92338 10.645 2.78102 10.6083L2.95362 10.5595C2.3491 10.7233 1.87217 10.9195 1.56515 11.1238C1.34581 11.2699 1.27273 11.3711 1.27273 11.3952C1.27273 11.5279 1.44863 11.68 1.76444 11.8324L1.93384 11.9085C1.99408 11.9338 2.05804 11.9591 2.12556 11.9841L2.3386 12.0587C2.41306 12.0833 2.4909 12.1077 2.57196 12.1317L2.82464 12.2027C2.86831 12.2143 2.91274 12.2258 2.95791 12.2372L3.2377 12.304C3.33382 12.3258 3.43275 12.3469 3.53431 12.3674L3.84674 12.4269L4.174 12.4818C4.22972 12.4906 4.28602 12.4991 4.34287 12.5075L4.69049 12.5547L5.05043 12.5962L5.42169 12.6313C5.54722 12.6418 5.67448 12.6513 5.80328 12.6595L6.19419 12.6803L6.59343 12.6932C6.72779 12.6961 6.86337 12.6976 7 12.6976C7.13663 12.6976 7.27221 12.6961 7.40657 12.6932L7.8058 12.6803L8.19672 12.6595C8.32552 12.6513 8.45278 12.6418 8.57831 12.6313L8.94957 12.5962L9.30951 12.5547L9.65713 12.5075L9.99142 12.4549C10.046 12.4458 10.0999 12.4364 10.1533 12.4269L10.4657 12.3674L10.616 12.3362L10.9044 12.271C10.9976 12.2487 11.088 12.2259 11.1754 12.2027L11.428 12.1317C11.4686 12.1197 11.5083 12.1076 11.5472 12.0955L11.7705 12.0216C11.8771 11.9843 11.9758 11.9465 12.0662 11.9085L12.2356 11.8324C12.5514 11.68 12.7273 11.5279 12.7273 11.3952C12.7273 11.3711 12.6542 11.2699 12.4348 11.1238C12.1577 10.9394 11.7422 10.7616 11.2194 10.6082C11.0766 10.645 10.93 10.6795 10.7794 10.712C10.7567 10.7169 10.7338 10.7217 10.7108 10.7266C10.542 10.7619 10.3684 10.7946 10.1902 10.8247L10.0972 10.8387L10.0097 10.8539L9.82619 10.8814C9.76456 10.8903 9.70245 10.8988 9.63988 10.907L9.25909 10.9528C9.06606 10.9738 8.86918 10.9921 8.66884 11.0075L8.26367 11.0345L7.85 11.0539C7.78039 11.0565 7.71045 11.0588 7.6402 11.0608L7.21511 11.0686L7.10776 11.0693H6.89224ZM11.2172 7.6771L11.1245 7.70175C10.8835 7.76146 10.6308 7.81531 10.3677 7.86313L10.0097 7.9235C9.88832 7.94241 9.76501 7.96012 9.63988 7.9766L9.25909 8.02236C9.06606 8.04338 8.86918 8.06163 8.66884 8.07704L8.26367 8.10408L7.85 8.1235C7.78039 8.12609 7.71045 8.12837 7.6402 8.13032L7.52382 8.13278C7.35043 8.13699 7.17572 8.13912 7 8.13912L7.24436 8.13685L7.21511 8.13814C7.14368 8.13879 7.07197 8.13912 7 8.13912L6.78489 8.13814L6.75485 8.13774C6.66161 8.13668 6.56871 8.13503 6.47618 8.13278L6.3598 8.13032C6.28955 8.12837 6.21961 8.12609 6.15 8.1235L5.73633 8.10408L5.33116 8.07704C5.13082 8.06163 4.93394 8.04338 4.74091 8.02236L4.36012 7.9766C4.29755 7.96836 4.23544 7.95981 4.17381 7.95096L3.80978 7.89421C3.44719 7.83308 3.10316 7.76084 2.78102 7.67786L2.56998 7.74276C2.14552 7.88043 1.80394 8.03444 1.56515 8.19341C1.34581 8.33944 1.27273 8.44063 1.27273 8.46473C1.27273 8.59749 1.44863 8.74961 1.76444 8.90197L1.93384 8.97807C1.99408 9.00339 2.05804 9.02862 2.12556 9.05369L2.28264 9.10845L2.4528 9.16502C2.47225 9.17111 2.49191 9.17718 2.51177 9.18323L2.57196 9.20131L2.82464 9.27225C2.84086 9.27657 2.85719 9.28087 2.87361 9.28516C2.91961 9.29037 2.96379 9.30148 3.00619 9.31713L3.14873 9.35265L3.38397 9.40575C3.43341 9.41632 3.48353 9.42673 3.53431 9.43699L3.84674 9.49643L4.06255 9.53239L4.34287 9.57703L4.69049 9.62428L5.05043 9.66572L5.42169 9.70081C5.54722 9.7114 5.67448 9.72083 5.80328 9.72904L6.19419 9.74985L6.59343 9.76273C6.72779 9.76564 6.86337 9.76714 7 9.76714C7.13663 9.76714 7.27221 9.76564 7.40657 9.76273L7.8058 9.74985L8.19672 9.72904C8.32552 9.72083 8.45278 9.7114 8.57831 9.70081L8.94957 9.66572L9.30951 9.62428L9.65713 9.57703L9.93682 9.53239L10.1533 9.49643L10.4657 9.43699C10.5673 9.41648 10.6662 9.39532 10.7623 9.37359L10.8436 9.35396L10.9951 9.31666C11.0371 9.30126 11.0808 9.29031 11.1256 9.28421C11.1428 9.28087 11.1591 9.27657 11.1754 9.27225L11.428 9.20131C11.4686 9.1893 11.5083 9.1772 11.5472 9.16502L11.7167 9.10845L11.8744 9.05369C11.9082 9.04116 11.9411 9.02858 11.973 9.01598L12.0662 8.97807L12.2356 8.90197C12.5514 8.74961 12.7273 8.59749 12.7273 8.46473C12.7273 8.44063 12.6542 8.33944 12.4348 8.19341L12.3295 8.12753C12.3199 8.12186 12.3101 8.11619 12.3003 8.11054C12.2769 8.09713 12.2525 8.08367 12.2274 8.07026L12.3003 8.11054C12.2529 8.08343 12.2026 8.05654 12.1494 8.0299L12.2274 8.07026C12.1887 8.04957 12.1483 8.02902 12.1062 8.00864L12.1494 8.0299C12.1134 8.01186 12.076 7.99394 12.0374 7.97616L12.1062 8.00864C12.0539 7.98333 11.9991 7.95827 11.9417 7.93352L12.0374 7.97616C11.9986 7.95829 11.9584 7.94056 11.9171 7.92299L11.9417 7.93352C11.9003 7.91567 11.8576 7.89797 11.8136 7.88045L11.9171 7.92299C11.8639 7.90042 11.8087 7.87811 11.7514 7.85611L11.8136 7.88045C11.7715 7.86369 11.7283 7.84709 11.6839 7.83068L11.7514 7.85611C11.6504 7.81731 11.5432 7.77945 11.43 7.74276L11.2172 7.6771ZM2.78129 4.74749L2.95362 4.69859C2.3491 4.86238 1.87217 5.05858 1.56515 5.26297C1.34581 5.409 1.27273 5.51019 1.27273 5.53429C1.27273 5.66705 1.44863 5.81917 1.76444 5.97153L1.93384 6.04764C1.99408 6.07295 2.05804 6.09819 2.12556 6.12325L2.3386 6.19784C2.41306 6.22247 2.4909 6.24685 2.57196 6.27087L2.82464 6.34181L2.867 6.35299C2.89613 6.35659 2.92507 6.36226 2.95362 6.36999L2.89093 6.35626C2.90572 6.35868 2.92039 6.36163 2.9349 6.3651L2.95362 6.36999C3.08116 6.40455 3.21315 6.43737 3.34923 6.4684L3.2377 6.44315C3.33382 6.46488 3.43275 6.48604 3.53431 6.50655L3.84674 6.56599L4.174 6.62096C4.22972 6.62972 4.28602 6.63827 4.34287 6.6466L4.69049 6.69384L5.05043 6.73528L5.42169 6.77038C5.54722 6.78096 5.67448 6.7904 5.80328 6.7986L6.19419 6.81941L6.58769 6.83254C6.59152 6.83261 6.59535 6.83269 6.59918 6.83277L6.75373 6.83443L7 6.83671C7.08209 6.83671 7.16392 6.83621 7.24544 6.83523C7.29756 6.83441 7.3493 6.83352 7.40086 6.83242L7.24544 6.83523C7.30121 6.83456 7.35684 6.83366 7.41231 6.83254L7.8058 6.81941L8.19672 6.7986C8.32552 6.7904 8.45278 6.78096 8.57831 6.77038L8.94957 6.73528L9.30951 6.69384L9.65713 6.6466L9.99142 6.59407C10.046 6.58491 10.0999 6.57554 10.1533 6.56599L10.4657 6.50655L10.616 6.47531L10.6966 6.45785C10.8165 6.42995 10.9332 6.40066 11.0464 6.36999C11.0527 6.36828 11.059 6.36668 11.0653 6.36517C11.0717 6.36351 11.0784 6.36204 11.0851 6.36067L11.1074 6.35669C11.1157 6.35532 11.124 6.35411 11.1324 6.35307C11.147 6.34933 11.1612 6.34558 11.1754 6.34181L11.428 6.27087C11.4686 6.25886 11.5083 6.24676 11.5472 6.23458L11.7705 6.16071C11.8771 6.1234 11.9758 6.08561 12.0662 6.04764L12.2356 5.97153C12.5514 5.81917 12.7273 5.66705 12.7273 5.53429C12.7273 5.51019 12.6542 5.409 12.4348 5.26297C12.1577 5.0785 11.7422 4.9007 11.2194 4.74737C10.8968 4.8304 10.5528 4.90265 10.1902 4.96378L9.82619 5.02052C9.76456 5.02937 9.70245 5.03792 9.63988 5.04616L9.25909 5.09192C9.06606 5.11295 8.86918 5.13119 8.66884 5.1466L8.26367 5.17365L7.85 5.19306C7.78039 5.19565 7.71045 5.19793 7.6402 5.19988L7.21511 5.2077L7 5.20869C6.92803 5.20869 6.85632 5.20836 6.78489 5.2077L6.3598 5.19988C6.28955 5.19793 6.21961 5.19565 6.15 5.19306L5.73633 5.17365L5.33116 5.1466C5.13082 5.13119 4.93394 5.11295 4.74091 5.09192L4.36012 5.04616C4.23498 5.02968 4.11168 5.01198 3.99033 4.99306L3.63225 4.93269C3.33463 4.87859 3.05032 4.81679 2.78129 4.74749ZM7 1.30144L6.79586 1.30255C6.7281 1.30329 6.66061 1.30439 6.59343 1.30585L6.19419 1.31873L5.80328 1.33954C5.67447 1.34775 5.54722 1.35718 5.42169 1.36777L5.05043 1.40286L4.69049 1.4443L4.34287 1.49154C4.28602 1.49987 4.22972 1.50842 4.174 1.51718L3.84674 1.57215L3.53431 1.63159C3.43275 1.6521 3.33382 1.67326 3.2377 1.69499L2.95791 1.7618C2.91274 1.77319 2.86831 1.78471 2.82464 1.79633L2.57196 1.86727C2.4909 1.8913 2.41305 1.91567 2.3386 1.9403L2.12556 2.01489C2.05804 2.03995 1.99408 2.06519 1.93384 2.0905L1.76444 2.16661C1.44863 2.31897 1.27273 2.47109 1.27273 2.60385C1.27273 2.73661 1.44863 2.88874 1.76444 3.04109L1.93384 3.1172C2.0242 3.15517 2.12294 3.19296 2.22948 3.23027L2.4528 3.30415C2.4917 3.31632 2.53143 3.32842 2.57196 3.34043L2.82464 3.41138C2.84086 3.41569 2.85718 3.42 2.87361 3.42428C2.9203 3.42958 2.96512 3.44094 3.0081 3.45697L3.09564 3.4797L3.38397 3.54487L3.53431 3.57611L3.84674 3.63556C3.90008 3.64511 3.95403 3.65447 4.00858 3.66363L4.34287 3.71616L4.69049 3.76341L5.05043 3.80484L5.42169 3.83994C5.54722 3.85052 5.67447 3.85996 5.80328 3.86816L6.19419 3.88898L6.59343 3.90186C6.72779 3.90477 6.86337 3.90627 7 3.90627C7.13663 3.90627 7.27221 3.90477 7.40657 3.90186L7.80581 3.88898L8.19672 3.86816C8.32553 3.85996 8.45278 3.85052 8.57831 3.83994L8.94957 3.80484L9.30951 3.76341L9.65713 3.71616C9.71398 3.70783 9.77028 3.69928 9.826 3.69052L10.1533 3.63556L10.4657 3.57611C10.5673 3.55561 10.6662 3.53445 10.7623 3.51271L10.9938 3.45626C11.0372 3.44024 11.0825 3.42897 11.1288 3.42291L11.1754 3.41138L11.428 3.34043C11.5091 3.31641 11.5869 3.29204 11.6614 3.2674L11.8744 3.19281C11.942 3.16775 12.0059 3.14252 12.0662 3.1172L12.2356 3.04109C12.5514 2.88874 12.7273 2.73661 12.7273 2.60385C12.7273 2.47109 12.5514 2.31897 12.2356 2.16661L12.0662 2.0905C11.9758 2.05253 11.8771 2.01474 11.7705 1.97743L11.5472 1.90356C11.5083 1.89138 11.4686 1.87928 11.428 1.86727L11.1754 1.79633C11.088 1.77309 10.9976 1.75028 10.9044 1.728L10.616 1.66283L10.4657 1.63159L10.1533 1.57215C10.0999 1.5626 10.046 1.55324 9.99142 1.54407L9.65713 1.49154L9.30951 1.4443L8.94957 1.40286L8.57831 1.36777C8.45278 1.35718 8.32553 1.34775 8.19672 1.33954L7.80581 1.31873L7.40657 1.30585C7.27221 1.30294 7.13663 1.30144 7 1.30144Z' fill='#909090' fill-opacity='0.5')
      span Casino reviews
      svg.mob-menu-arrow(width='6' height='10' viewbox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M5.78413 5.49505L1.25827 9.79476C0.970375 10.0684 0.503596 10.0684 0.215837 9.79476C-0.0719456 9.52135 -0.0719456 9.0779 0.215837 8.80451L4.22052 4.99993L0.215953 1.19548C-0.0718292 0.921955 -0.0718292 0.478552 0.215953 0.205141C0.503736 -0.0683804 0.970491 -0.0683804 1.25839 0.205141L5.78424 4.50492C5.92814 4.64169 6 4.82075 6 4.99991C6 5.17915 5.928 5.35835 5.78413 5.49505Z' fill='#909090')
    .mob-menu__dropdown
      nav.mob-menu__nav
        a.mob-menu__dropdown__top(href='##')
          svg(width='5' height='9' viewbox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M0.179893 4.42079L3.95144 0.837701C4.19135 0.609655 4.58034 0.609655 4.82014 0.837701C5.05996 1.06554 5.05996 1.43508 4.82014 1.66291L1.4829 4.83339L4.82004 8.00377C5.05986 8.2317 5.05986 8.60121 4.82004 8.82905C4.58022 9.05698 4.19126 9.05698 3.95134 8.82905L0.179797 5.2459C0.0598873 5.13193 3.51203e-07 4.98271 3.64255e-07 4.83341C3.77313e-07 4.68404 0.0600037 4.53471 0.179893 4.42079Z' fill='#909090')
          span Casino reviews
        a.mob-menu__item(href='##') Parimatch
        a.mob-menu__item(href='##') Betsson Casino
        a.mob-menu__item(href='##') Parimatch
    a.mob-menu__item.--dropdown(href='##')
      svg(width='14' height='14' viewbox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M5.40909 1.27273C4.70618 1.27273 4.13636 1.84255 4.13636 2.54545V3.18182C4.13636 3.53327 3.85145 3.81818 3.5 3.81818H1.27273V6.36364H1.90909C3.31491 6.36364 4.45455 7.50328 4.45455 8.90909C4.45455 10.3149 3.31491 11.4545 1.90909 11.4545H1.27273V12.7273H9.54545V10.8182C9.54545 10.4667 9.83036 10.1818 10.1818 10.1818H11.4545C12.1575 10.1818 12.7273 9.612 12.7273 8.90909C12.7273 8.20618 12.1575 7.63636 11.4545 7.63636H10.1818C9.83036 7.63636 9.54545 7.35145 9.54545 7V3.81818H7.31818C6.96673 3.81818 6.68182 3.53327 6.68182 3.18182V2.54545C6.68182 1.84255 6.112 1.27273 5.40909 1.27273ZM2.86364 2.54545C2.86364 1.13964 4.00328 0 5.40909 0C6.81491 0 7.95455 1.13964 7.95455 2.54545H10.1818C10.5333 2.54545 10.8182 2.83036 10.8182 3.18182V6.36364H11.4545C12.8604 6.36364 14 7.50328 14 8.90909C14 10.3149 12.8604 11.4545 11.4545 11.4545H10.8182V13.3636C10.8182 13.7151 10.5333 14 10.1818 14H0.636364C0.28491 14 0 13.7151 0 13.3636V10.8182C0 10.4667 0.28491 10.1818 0.636364 10.1818H1.90909C2.612 10.1818 3.18182 9.612 3.18182 8.90909C3.18182 8.20618 2.612 7.63636 1.90909 7.63636H0.636364C0.28491 7.63636 0 7.35145 0 7V3.18182C0 2.83036 0.28491 2.54545 0.636364 2.54545H2.86364Z' fill='#909090' fill-opacity='0.5')
      span Online Pokies
    a.mob-menu__item(href='##')
      svg(width='14' height='12' viewbox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M0 0.615385C0 0.275517 0.28491 0 0.636364 0H13.3636C13.7151 0 14 0.275517 14 0.615385V9.84615C14 10.186 13.7151 10.4615 13.3636 10.4615H6.83204L3.78459 11.935C3.58733 12.0304 3.35305 12.0202 3.16544 11.9081C2.97783 11.796 2.86364 11.5979 2.86364 11.3846V10.4615H0.636364C0.28491 10.4615 0 10.186 0 9.84615V0.615385ZM1.27273 1.23077V9.23077H3.5C3.85145 9.23077 4.13636 9.50629 4.13636 9.84615V10.3889L6.39723 9.29574C6.48559 9.25301 6.58303 9.23077 6.68182 9.23077H12.7273V1.23077H1.27273ZM3.81818 4.15385C4.16964 4.15385 4.45455 4.42936 4.45455 4.76923V5.69231C4.45455 6.03218 4.16964 6.30769 3.81818 6.30769C3.46673 6.30769 3.18182 6.03218 3.18182 5.69231V4.76923C3.18182 4.42936 3.46673 4.15385 3.81818 4.15385ZM7 4.15385C7.35145 4.15385 7.63636 4.42936 7.63636 4.76923V5.69231C7.63636 6.03218 7.35145 6.30769 7 6.30769C6.64855 6.30769 6.36364 6.03218 6.36364 5.69231V4.76923C6.36364 4.42936 6.64855 4.15385 7 4.15385ZM10.1818 4.15385C10.5333 4.15385 10.8182 4.42936 10.8182 4.76923V5.69231C10.8182 6.03218 10.5333 6.30769 10.1818 6.30769C9.83036 6.30769 9.54545 6.03218 9.54545 5.69231V4.76923C9.54545 4.42936 9.83036 4.15385 10.1818 4.15385Z' fill='#909090' fill-opacity='0.5')
      span Casino games
    a.mob-menu__item(href='##')
      svg(width='12' height='14' viewbox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M4.42105 6.36364C4.42105 6.01218 4.70382 5.72727 5.05263 5.72727H8.8421C9.19092 5.72727 9.47368 6.01218 9.47368 6.36364C9.47368 6.71509 9.19092 7 8.8421 7H5.05263C4.70382 7 4.42105 6.71509 4.42105 6.36364Z' fill='#909090' fill-opacity='0.5')
        path(d='M5.05263 8.27273C4.70382 8.27273 4.42105 8.55764 4.42105 8.90909C4.42105 9.26054 4.70382 9.54545 5.05263 9.54545H8.8421C9.19092 9.54545 9.47368 9.26054 9.47368 8.90909C9.47368 8.55764 9.19092 8.27273 8.8421 8.27273H5.05263Z' fill='#909090' fill-opacity='0.5')
        path(fill-rule='evenodd' clip-rule='evenodd' d='M0.947368 0C0.424153 0 0 0.427366 0 0.954545V11.4545C0 11.806 0.282768 12.0909 0.631579 12.0909H1.89474V13.3636C1.89474 13.7151 2.1775 14 2.52632 14H11.3684C11.7172 14 12 13.7151 12 13.3636V2.54545C12 2.194 11.7172 1.90909 11.3684 1.90909H10.1053V0.636364C10.1053 0.28491 9.8225 0 9.47368 0H0.947368ZM8.8421 1.90909V1.27273H1.26316V10.8182H1.89474V2.54545C1.89474 2.194 2.1775 1.90909 2.52632 1.90909H8.8421ZM3.15789 12.7273H10.7368V3.18182H3.15789V12.7273Z' fill='#909090' fill-opacity='0.5')
      span Mobile Casino